<common-header>
  <div class="col-6 text-left">
    <label class="header_label">Edit Bot: {{botName}}</label>
  </div>
  <div class="col-6 text-right">
    <button class="btn btn-full btn-cancel" (click)="clearCanvas()">Cancel</button>
    <button class="btn btn-full btn-submit">Submit</button>
  </div>
</common-header>

<common-content>
  <toolset [title]="robotName" [bot]="bot" (robotCreated)="robotCreated($event)" [robotChanges]="robotChanges"></toolset>
  <app-canvas #canvas (botChanges)="updateChanges($event)" (selectedElem)="selectedElem($event)" [robot]="robot"></app-canvas>
  <app-robotactions></app-robotactions>
  <app-nodeprop [node]="node"></app-nodeprop>
</common-content>
