<div class="notification_panel">
    <div class="notification_header row">
      <label class="col-12 not_header_label">Notifications</label>
    </div>

    <div class="notification_body row">
        <div class="col-12 no-padding">
          <div class="row notification_main">
            <div class="not_icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
            </div>
            <div class="not_text">
                <p class="not_para">Application for Kate Smith is Waiting for your approval Application for Kate Smith is Waiting for your approval Application for Kate Smith is Waiting for your approval</p>
                <p class="not_ago"><span>28</span> mins ago</p>
            </div>

          </div>

          <div class="row notification_main">
              <div class="not_icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
              </div>
              <div class="not_text">
                  <p class="not_para">Application for Kate Smith is Waiting for your approval Application for Kate Smith is Waiting for your approval Application for Kate Smith is Waiting for your approval</p>
                  <p class="not_ago"><span>28</span> mins ago</p>
              </div>

            </div>

            <div class="row notification_main">
                <div class="not_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                </div>
                <div class="not_text">
                    <p class="not_para">Application for Kate Smith is Waiting for your approval Application for Kate Smith is Waiting for your approval Application for Kate Smith is Waiting for your approval</p>
                    <p class="not_ago"><span>28</span> mins ago</p>
                </div>

              </div>
        </div>
      </div>

    </div>
