.notification_header.row {
    margin: 0px;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #d4d4d4;
}

.notification_body.row {
    margin: 0px;
}

.notification_menu{
    margin: 0px;
}

.not_header_label {
    margin: 0px;
    font-size: 18px;
    font-weight: 300;
    color: #3f4d67;
    padding: 16px;
}
