<div class='container'>
    <!-- <p>February 12, 2020</p>  -->
        <br>
        <p>EPSoft™ Technologies and Affiliated Companies (EPSoft™) values its users' privacy. This Privacy Policy ("Policy") will help you understand how we collect and use personal information from those who visit our website or make use of our online facilities and services, and what we will and will not do with the information we collect. Our Policy has been designed and created to ensure those affiliated with EPSoft™ Technologies and Affiliated Companies of our commitment and realization of our obligation not only to meet, but to exceed, most existing privacy standards.</p>
       
        <p>We reserve the right to make changes to this Policy at any given time. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page. If at any point in time EPSoft™ decides to make use of any personally identifiable information on file, in a manner vastly different from that which was stated when this information was initially collected, the user or users shall be promptly notified by email. Users at that time shall have the option as to whether to permit the use of their information in this separate manner.</p>

        <p>This Policy applies to EPSoft™ and it governs any and all data collection and usage by us. Through the use of www.epsoftinc.com, you are therefore consenting to the data collection procedures expressed in this Policy.</p>

        <p>Please note that this Policy does not govern the collection and use of information by companies that EPSoft™ s does not control, nor by individuals not employed or managed by us. If you visit a website that we mention or link to, be sure to review its privacy policy before providing the site with information. It is highly recommended and suggested that you review the privacy policies and statements of any website you choose to use or frequent to better understand the way in which websites garner, make use of and share the information collected.</p>
        <p>Specifically, this Policy will inform you of the following</p>
        <ol>
          <li>What personally identifiable information is collected from you through our website;</li>
          <li>Why we collect personally identifiable information and the legal basis for such collection;</li>
          <li>How we use the collected information and with whom it may be shared;</li>
          <li>What choices are available to you regarding the use of your data; and</li>
          <li>The security procedures in place to protect the misuse of your information.</li>
        </ol>

        <h6 class="bottom_line"><strong>Information We Collect</strong></h6>

        <p>It is always up to you whether to disclose personally identifiable information to us, although if you elect not to do so, we reserve the right not to register you as a user or provide you with any products or services. This product collects information mentioned below but not limited to:</p>

        <ul>
          <li>Voluntarily provided information which may include your name, address, email address, billing and/or credit card information etc. which may be used when you purchase products and/or services and to deliver the services you have requested.</li>
          <li>EPSoft Products has in built IDM systems (LDAP) integrated with customer’s organizational active directory, SSO or Social Logins).  Users access products hosted on SAAS platform using the email address and password created during account set up and the application authenticates / authorizes as per roles configured in the platform.</li>
          <li>When using social media account to connect to the product, please note that you agree to have your social media profile data such as your name, telephone number, friends, photo, birthday, gender, location, interests shared with the EPSoft Product through an Application Programming Interface (API) in a secured manner (transmission over SSL) with the token that is registered in the social website (Google).</li>
        </ul>

        <h6 class="bottom_line"><strong>How is the Data Secured?</strong></h6>

        <p>EPSoft Inc constantly evaluates and upgrades the security measures implemented to ensure secure and safe personal data processing which includes:</p>

       <ul>
        <li>Physical security measures, access controls, organizational security measure and incident management procedures.</li>
        <li>The computers and servers in which we store personally identifiable information are kept in a secure environment. This is all done to prevent any loss, misuse, unauthorized access, disclosure or modification of the user's personal information under our control.</li>
        <li>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information.</li>
        <li>Access controls that restrict accessing of data not only by human in the role of admins, but the product (API’s) restriction with the implementation of authorization along with policies that change from time to time to honor and define the security perimeter.</li>
        <li>The data we collect from you will be stored for no longer than necessary. The length of time we retain said information will be determined based upon the following criteria: the length of time your personal information remains relevant; the length of time it is reasonable to keep records to demonstrate that we have fulfilled our duties and obligations; any limitation periods within which claims might be made; any retention periods prescribed by law or recommended by regulators, professional bodies or associations; the type of contract we have with you, the existence of your consent, and our legitimate interest in keeping such information as stated in this Policy.</li>
        <li><strong>Payment information:</strong> Organizations / Individual users who subscribe to EPSoft Products by choosing one of the available plans will have to share card details that includes card number, CVV, Month and Year of expiry. User has the option to add multiple card details. The card information provided by the user is sent across to Stripe (Third party Payment Process System) to process on monthly basis. For further details on privacy policy of Stripe, please refer the following link - <a href="https://stripe.com/en-in/privacy#security-and-retention" target="blank">https://stripe.com/en-in/privacy#security-and-retention</a></li>
        </ul>

        <p class="bottom_line">Use of Information Collected</p>

        <p>EPSoft™ does not now, nor will it in the future, sell, rent or lease any of its customer lists and/or names to any third parties.</p>

        <p>Information collected is only for below purposes:</p>
        <ul>
          <li>To create & maintain a separate account for each of the customers to ensure data privacy between registered customers in a multi-tenant mode.</li>
          <li>To identify and authenticate access into accounts adding additional security to the system.</li>
        </ul>

        <p class="bottom_line">Disclosure of Information</p>
        <p>EPSoft™   may not use or disclose the information provided by you except under the following circumstances:</p>

        <ul>
          <li>as necessary to provide products you have ordered;</li>
          <li>in other ways described in this Policy or to which you have otherwise consented;</li>
          <li>in the aggregate with other information in such a way so that your identity cannot reasonably be determined.</li>
          <li>as required by law, or in response to a subpoena or search warrant;</li>
          <li>to outside auditors who have agreed to keep the information confidential;</li>
          <li>as necessary to enforce the Terms of Service;</li>
          <li>as necessary to maintain, safeguard and preserve all the rights and property of EPSoft™ Technologies And Affiliated Companies.</li>
        </ul>

        <p class="bottom_line">Notice to European Union Users</p>

        <p>EPSoft™ operations are located primarily in the United States. If you provide information to us, the information will be transferred out of the European Union (EU) and sent to the United States. (The adequacy decision on the EU-US Privacy became operational on August 1, 2016. This framework protects the fundamental rights of anyone in the EU whose personal data is transferred to the United States for commercial purposes. It allows the free transfer of data to companies that are certified in the US under the Privacy Shield.) By providing personal information to us, you are consenting to its storage and use as described in this Policy.</p>

        <p class="bottom_line">Your Rights as a Data Subject</p>

        <p>Under the regulations of the General Data Protection Regulation ("GDPR") of the EU you have certain rights as a Data Subject. These rights are as follows:</p>

        <ul>
          <li>The right to be informed: this means we must inform you of how we intend to use your personal data and we do this through the terms of this Policy.</li>
          <li>The right of access: this means you have the right to request access to the data we hold about you and we must respond to those requests within one month. You can do this by sending an email to hello@epsoftinc.com.</li>
          <li>The right to rectification: this means that if you believe some of the date, we hold is incorrect, you have the right to have it corrected. You can do this by logging into your account with us, or by sending us an email with your request.</li>
          <li>The right to erasure: this means you can request that the information we hold be deleted, and we will comply unless we have a compelling reason not to, in which case you will be informed of same. You can do this by sending an email to hello@epsoftinc.com.</li>
          <li>The right to restrict processing: this means you can change your communication preferences or opt-out of certain communications. You can do this by sending an email to hello@epsoftinc.com.</li>
          <li>The right of data portability: this means you can obtain and use the data we hold for your own purposes without explanation. If you wish to request a copy of your information, contact us at hello@epsoftinc.com.</li>
          <li>The right to object: this means you can file a formal objection with us regarding our use of your information with regard to third parties, or its processing where our legal basis is our legitimate interest in it. To do this, please send an email to hello@epsoftinc.com.</li>
        </ul>

        <p class="bottom_line">CCPA</p>

        <p>In addition to the rights above, please rest assured that we will always aim to encrypt and anonymize your personal information whenever possible. We also have protocols in place in the unlikely event that we suffer a data breach and we will contact you if your personal information is ever at risk. For more details regarding our security protections see the section below or visit our website at www.epsoftinc.com.</p>

        <p class="bottom_line">Acceptance of Terms</p>

        <p>By using this product, you are hereby accepting the terms and conditions stipulated within the Privacy Policy Agreement. If you are not in agreement with our terms and conditions, then you should refrain from further use of our sites. In addition, your continued use of our website following the posting of any updates or changes to our terms and conditions shall mean that you agree and acceptance of such changes.</p>

        <p class="bottom_line">How to Contact Us</p>

        <p>If you have any questions or concerns regarding the Privacy Policy Agreement related to our website, please feel free to contact us at the following email, telephone number or mailing address.</p>

      <p>Email:  hello@epsoftinc.com</p>
      <p>Telephone Number: 844-437-7638 Mailing</p>

      <h6>Address:</h6>
      <h6>EPSoft Technologies And Affiliated Companies 2727 Lyndon B</h6>
      <h6>Johnson Fwy Ste 93</h6>
      <h6>Dallas, Texas</h6>
      <p>75234</p>

        <p>The data controller responsible for your personal information for the purposes of GDPR compliance is:</p>

        <h6>Compliance Officer EPSoft_GDPR@epsoftinc.com</h6>
        <h6>8324444841</h6>
        <h6>2727 Lyndon B Johnson Fwy, Suite 930, Dallas, Texas 75234</h6>
</div>