<div class="container-fluid">
  <div class="row">
      <div id="particles-js"></div>
      <div class="col-sm-4">
          <img class="login-bg" src="assets/images/loginimage.png">
      </div>
    <div class="col-md-3"></div>
    
      <div class="col-md-4">
       
        <mat-card class="card_styles1">
          &nbsp;
          <div class="brand1"  style="padding-left:85px !important;">
            <img style="width:215px !important" src="assets/images/EZFlow.png">
        </div>
        &nbsp;
        <div class="col-sm-12 status-bar1" style="padding-left:55px !important">
          <newstepselection class="register_account"></newstepselection>
        </div>
                  <!-- <h3>Start free tier</h3> -->
          <form *ngIf='!isresend' autocomplete="off" #creataccount="ngForm" (ngSubmit)="!creataccount.invalid && creat_account()">
                <div class="form-group"><!-- inner-addon left-addon-->
                      <!--<img src="assets/images/registration/mail.svg" class="icon">-->
                      <p style="padding:0px 35px">Please share your details, we will contact you shortly</p>
                      <mat-form-field appearance="outline" style="padding:0px 35px !important;">
                        <mat-label>First Name</mat-label>
                      <input type="text" matInput name="fname" #fname="ngModel" [(ngModel)]="firstname" 
                        placeholder="Enter First Name" (keypress)="lettersOnly($event)" required/>
                      </mat-form-field>
                      <span  style="padding:0px 35px !important;" *ngIf="((fname.invalid && creataccount.submitted) || (fname.errors && fname.touched) ) "
                        class='fa fa-info-circle errspan'>
                        <span *ngIf="fname.errors.required">First Name is required</span>
                     </span>
                       <mat-form-field appearance="outline" style="padding:0px 35px !important;">
                        <mat-label>Last Name</mat-label>
                      <input type="text" matInput name="lname" #lname="ngModel" [(ngModel)]="lastname"
                        placeholder="Enter Last Name" (keypress)="lettersOnly($event)" required/>
                      </mat-form-field>
                      <span  style="padding:0px 35px !important;" *ngIf="((lname.invalid && creataccount.submitted) || (lname.errors && lname.touched) ) "
                      class='fa fa-info-circle errspan'>
                      <span *ngIf="lname.errors.required">Last Name is required</span>
                   </span>
                      <mat-form-field appearance="outline" style="padding:0px 35px !important;">
                        <mat-label>Email</mat-label>
                      <input type="text" matInput name="email" #email="ngModel" [(ngModel)]="emailId"
                        pattern="^\S*[@]\S*[.]\S*$" required email placeholder="Enter Email" (keypress)="inputlettersEmail($event)" 
                        [ngClass]="{ 'is-invalid': ((email.invalid && creataccount.submitted) || (email.errors && email.touched) ) }" />
                      </mat-form-field>
                      <span  style="padding:0px 35px !important;" *ngIf="((email.invalid && creataccount.submitted) || (email.errors && email.touched) ) "
                        class='fa fa-info-circle errspan'>
                        <span *ngIf="email.errors.required"> Email is required</span>
                        <span *ngIf="email.errors.pattern"> Enter valid Email</span>
                     </span>
                      <mat-form-field appearance="outline" style="padding:0px 35px !important;">
                        <mat-label>Phone Number</mat-label>
                      <input type="text" matInput name="pNumber" #pNumber="ngModel" [(ngModel)]="phoneNumber"
                        placeholder="Enter Phone Number" (keydown)="inputNumberOnly($event)" onKeyPress="if(this.value.length==10) return false;" required/>
                      </mat-form-field>
                  <span style="padding:0px 35px !important;" *ngIf="((pNumber.invalid && creataccount.submitted)|| (pNumber.errors && pNumber.touched))"
                  class='fa fa-info-circle errspan'> 
                  <span *ngIf="lname.errors.required">Phone Number is required </span>
                  </span>
                    </div>
                    <div class="col-md-12" class="agreecheckbox" style="padding:0px 35px !important;">
                          <input type="checkbox" name="checkbox" [(ngModel)]="isagree" (change)="onchangechekbox()">
                          <span>   I agree with <a (click)='termsConditionsOpen(template)' class='terms_condtion'>Terms & Conditions</a> 
                            <a (click)='privacyOpen(privacyTemplate)'>Privacy Policy</a></span>
                    </div>
                    <div class="form-group col-sm-12">
                        <button class="hoverable button btn btn-primary creataccnt-btn" [disabled]='isdisable'>Submit</button>
                    </div>
                
                    <div class="form-group col-sm-12" style="padding:0px 88px !important;">
                     
                      <label class = "have_acc">Already have an account&#63;</label>
                      <a [routerLink]="['/']" class="haveaccount">Sign In</a>
                    </div>
          <div style="overflow-wrap: break-word;" class="errordiv col-md-12" style="padding:0px 48px !important;margin-left:30px;">
              <div *ngIf="error" class="alert alert-danger text-center">{{error}}</div>
              </div>
          </form>
          <div *ngIf='isresend' class='confirmationmail'>
            <div class="isresendclass">
              <h4>Thanks for choosing EZFlow </h4>
              <!-- Commenting below code to bypass the actual registration process in cloud -->
              <p>Our team will contact you soon to help you with the registration process.</p>
              <p>If you have any questions, please <a href="https://www.epsoftinc.com/contact-us/" target="_blank">Contact Us</a>.</p>
              <button class="hoverable button btn btn-primary resend-btn" [routerLink]="['/']" >Sign In</button>
              
              <!-- <p>We have sent activation email to <b>{{userId}}</b></p>
              <p>Please check your inbox and follow the link to complete your registration.</p>
              <p>If you have any questions, please <a href="https://www.epsoftinc.com/contact-us/" target="_blank">Contact Us</a>.</p>
              <p>Do not see email in your inbox?</p>
              <button class="hoverable button btn btn-primary resend-btn" [disabled]='isresenddisable' (click)='resendVerificationMail()'>Resend</button> -->
            </div>
            </div>
        </mat-card>
        &nbsp;
        &nbsp;
      </div>          
  </div>      
</div>

<ng-template #template>
<div class="modal-header">
  <h3 class="modal-title pull-left"><strong>Terms and Conditions</strong></h3>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <app-termsconditions></app-termsconditions>
    </div>
</ng-template>

<ng-template #privacyTemplate>
<div class="modal-header">
  <h4 class="modal-title pull-left"><strong>ONLINE PRIVACY POLICY AGREEMENT</strong></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-privacypolicy></app-privacypolicy>
</div>
</ng-template>
