<div class="container">
    <div class="logo">
        <img style="width:170px !important" src="assets/images/EZFlow.png" alt="EZFlow">
    </div>
    <div class="message">
        <p class="msg-one"><img src="assets/images/hand.jpg" alt="Hand Image" class="hand-image">Hey {{user}}</p>
        <p class="msg-two">Great Going</p>
        <p class="msg-three">Now, Let us know more about you</p>
    </div>
    <form [formGroup]="userForm">
        <div class="fields">
            <div class="row">
                <div class="col-md-6" id="col-job">
                    <label class="form-label" for="jobTitle" id="label-name">Job Title<span class="star">*</span></label>
                    <input type="text" formControlName="jobTitle" class="form-control form-text" id="jobTitle" 
                        (keypress)="lettersOnly($event)" placeholder="Enter your job title" maxlength="30"
                        minlength="2">
                    <span
                        *ngIf="userForm.get('jobTitle').invalid && userForm.get('jobTitle').touched && !userForm.get('jobTitle').hasError('pattern') && !userForm.controls['jobTitle'].hasError('maxlength')"
                        class="required" class="text-danger" id="error-msg"> Job title required </span>
                    <span *ngIf="userForm.controls['jobTitle'].hasError('minlength')" class="required"
                        class="text-danger" id="error-msg">
                        Minimum 2 characters required
                    </span>
                    <span *ngIf="userForm.controls['jobTitle'].hasError('maxlength')" class="required"
                        class="text-danger" id="error-msg">
                        Maximum of 30 characters
                    </span>
                    <span
                        *ngIf="userForm.get('jobTitle').hasError('pattern') && !userForm.controls['jobTitle'].hasError('maxlength')"
                        class="required" class="text-danger" id="error-msg">
                        Only space between words are allowed,numbers & special characters are not allowed.
                    </span>
                </div>               
                <div class="col-md-6" id="col-org">
                    <label for="organization" class="form-label" id="label-name">Organization<span class="star">*</span></label>
                    <input type="text" formControlName="organization" class="form-control form-text" id="organization"
                        (keypress)="lettersOnly($event)" placeholder="Enter your organization" maxlength="30"
                        minlength="2">
                        <span
                        *ngIf="userForm.get('organization').invalid && userForm.get('organization').touched && !userForm.get('organization').hasError('pattern') && !userForm.controls['organization'].hasError('maxlength')"
                        class="required" class="text-danger" id="error-msg"> Organization required </span>
                    <span *ngIf="userForm.controls['organization'].hasError('minlength')" class="required"
                        class="text-danger" id="error-msg">
                        Minimum 2 characters required
                    </span>
                    <span *ngIf="userForm.controls['organization'].hasError('maxlength')" class="required"
                        class="text-danger" id="error-msg">
                        Maximum of 30 characters
                    </span>
                    <span
                        *ngIf="userForm.get('organization').hasError('pattern') && !userForm.controls['organization'].hasError('maxlength')"
                        class="required" class="text-danger" id="error-msg">
                        Only space between words are allowed,numbers & special characters are not allowed.
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="col-dept">
                    <label for="department" class="form-label" id="label-name">Department<span class="star">*</span></label>
                    <select formControlName="department" class="form-control form-text" id="department" 
                        placeholder="Select your department">
                        <option value="" disabled selected>Select department</option>
                        <option *ngFor="let department of departments" [value]="department.departmentName">{{
                            department.departmentName }}</option>
                    </select>
                    <div *ngIf="f.department.touched && f.department.errors" class="text-danger" id="error-msg">
                        <span>Department required </span>
                    </div>
                </div>
                <div class="col-md-6" id="col-country">
                    <label for="country" class="form-label" id="label-name">Country<span class="star">*</span></label>
                    <select formControlName="country" class="form-control form-text" id="country" 
                        placeholder="Select your country" (change)="onChangeCountry($event.target.value)" name='country'
                        required>
                        <option value="" disabled selected>Select country</option>
                        <option *ngFor="let country of countryInfo" [value]="country.name">{{ country.name }}</option>
                    </select>
                    <span *ngIf="f.country.touched && f.country.errors" class="text-danger" id="error-msg">
                        Country required </span>
                    <span class="text-danger" id="error-msg">{{errorMessage}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" id="col-state">
                    <label for="state" class="form-label" id="label-name">State<span class="star">*</span></label>
                    <select formControlName="state" class="form-control form-text" id="state" placeholder="Select State" 
                        (change)="onChangeState($event.target.value)" name='state' [disabled]="!fieldsEnabled" required>
                        <option value="" disabled selected>Select state</option>
                        <option *ngFor="let state of stateInfo" [value]="state.name">{{ state.name }}</option>
                    </select>
                    <span *ngIf="f.state.touched && f.state.errors" class="text-danger" id="error-msg">
                        State required </span>
                    <span class="text-danger" id="error-msg">{{errorMessage1}}</span>
                </div>                      
                <div class="col-md-6" id="col-city">
                    <label for="city" class="form-label" id="label-name">City<span class="star">*</span></label>
                    <select formControlName="city" class="form-control form-text" id="city" placeholder="Select City" 
                        (change)="onChangeCity($event.target.value)" name='city' [disabled]="!fieldsEnabled" required>
                        <option value="" disabled selected>Select city</option>
                        <option *ngFor="let city of cityInfo" [value]="city.name">{{ city.name }}</option>
                    </select>
                    <span *ngIf="f.city.touched && f.city.errors" class="text-danger" id="error-msg">
                        City required </span>
                    <span class="text-danger" id="error-msg">{{errorMessage2}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="col-zip">
                    <label for="inputZip" class="form-label" id="label-name">Zip Code<span class="star">*</span></label>
                    <input type="text" formControlName="zipCode" class="form-control form-text" id="inputZip" 
                        (keypress)="numbersOnly($event)" placeholder="Enter zip code" maxlength="6" required>
                        <span *ngIf="userForm.controls['zipCode'].hasError('maxlength')" class="required"
                        class="text-danger" id="error-msg">
                        Maximum of 6 characters
                    </span>
                    <span
                        *ngIf="userForm.get('zipCode').hasError('pattern')"
                        class="required" class="text-danger" id="error-msg">
                        Only numbers are allowed
                    </span>
                </div>
                <div class="col-md-6" id="col-phone">
                    <label for="phoneNumber" class="form-label" id="label-name">Phone Number<span class="star">*</span></label>
                    <div class="phone-input-container">
                        <div class="ng2tel-container">
                            <span class="ng2tel-flag"></span>
                            <div>
                                <input type="text" (keypress)="numbersOnly($event)" 
                                    (countryChange)="OnFlagChange($event, phnCountry)" class="phoneNumber" id="phone"
                                    formControlName="phoneNumber" onKeyPress="if(this.value.length==10) return false;"
                                    ng2TelInput [ng2TelInputOptions]="{initialCountry: phnCountry}"
                                    pattern="^((\\+91-?)|0)?[0-9]{10}$" required>
                            </div>
                        </div>
                    </div>
                    <span
                        *ngIf="userForm.get('phoneNumber').invalid && userForm.get('phoneNumber').touched"
                        class="required" class="text-danger" id="error-msg"> Phone number required </span>
                </div>
                <div class="col-md-1"></div>
            </div>
            </div>
        <div class="row">
            <div class="reset-btn">
                <input class="btn btn-primary" id="reset-btn" type="reset" value="Reset" (click)="resetForm()">
            </div>
            <div class="submit-btn">
                <button type="submit" class="btn btn-primary" id="submit-btn"
                    [disabled]="!userForm.valid">Continue</button>
            </div>
        </div>
    </form>
</div>
