<div class="container-fluid">
<div class="py-3 px-2">
  <img class="logo" src="../../../assets/images/EZFlow.png">
  <br><br>
  <div *ngIf="approvalsList.length>0" class="h4 text-center text-success py-3">{{tokenData.status}} Successfully</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <table class="table px-2 py-2 approvals-table">
            <thead class="bg-prime-header text-white">
              <th>S.No</th>
              <th>Approval Info</th> 
              <th>Approver Name</th>
              <th>Created At</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of approvalsList;let i=index">
                <td>{{i+1}}</td>
                <td>
                  {{item.approvalInfo?(item.approvalInfo):"-"}}
                </td>
                <td>
                  {{item.approverName?(item.approverName):"-"}}
                </td>
                <td>
                  <span>{{item.createdAt?( item.createdAt | date :"medium"):'-'}}</span>
                 
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="approvalsList.length==0" class="h5 text-center">No Items Found</div>
      </div>
    </div>
  </div>
</div>
</div>