.settings_header.row {
    margin: 0px;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #d4d4d4;
}

.settings_body.row {
    margin: 0px;
}

.settings_menu{
    margin: 0px;
}

.set_header_label {
    margin: 0px;
    font-size: 18px;
    font-weight: 300;
    color: #3f4d67;
    padding: 16px;
}

ul.settings_menu_titles.col-12 {
    list-style-type: none;
    padding: 0px;
}

ul.set_sub_ul {
    list-style: none;
    padding: 0px;
}

.set_ul_label {
    font-size: 16px;
    padding: 10px 15px;
    color: #7990A8;
}

li.set_sub_li {
    padding: 0px 0px 0px 45px;
    cursor: pointer;
    height: 36px;
    align-items: center;
    display: flex;
}

a.set_a {
    font-size: 14px;
    color: #3F4D67;
    text-decoration: none;
}

li.set_sub_li:hover {
    background: #F0F8FC;
    border-right: 4px solid #006dd5;
}
li.set_main_li {
    padding: 5px 0px;
}