

.divbox{
  /* border: 1px solid #f8f8f8; */
  height: 50px;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
}
#boxes{
margin-top: -11px;
margin-left: 391px;
}
.divbox0{
background:   #ff1aff
}
.divbox1{
background: #99e600
}
.divbox2{
background:  #4d4d00
}
.divbox3{
background: #ff1a8c
}

.box_shadw34 {
  border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  height: 310px;
}
.tenantvsusersbox
{
  border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  height: 500px;
}
.secretvscount{
  border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  height: 500px;
}
.verticalbarchart
{
  border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  height: 500px;
}
.btm-line{
  border: 1px solid rgb(20, 20, 20);
  width: 83%;
  margin-left: 126px;
}
.backgr{
background: #f8f8f8;
border-radius: 3px;
height: 2200px;
}
button.btn.btn-primary.back_btn {
  margin-left: 496px;
  border-radius: 20px;
  height: 30px;
  width: 74px;
  border: 0px;
  padding: 0px;
  margin-top: 9px;
}
div#nodatafound {
/* font-size: 20%; */
color: #8888a5;
/* margin-top: 39px; */
padding-top: 114px;
}
.table-box{
padding: 10px;
overflow-y: auto;
  height: 272px;
}
.box_shadw1{
border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  height: 500px;
  margin-top: 32px;
}
.table1-heading{
/* font-weight: 800; */
margin-bottom: 10px;
font-size: 18px;
}
.table-striped>tbody>tr:nth-of-type(even){
background-color: #ebf2d3 !important;
}
thead{
background-color: #7cb5ec !important;

}
h5.teus {
  margin-left: 507px;
  width: 39%;
}
ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
.tooltip-caret.position-top {
  border-top-color: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

background-color: white;
box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.email-text{
color: black;
font-weight: 500;
font-size: 16px;
margin-left: 21px;
}
.product-text{
color: black;
font-weight: 500;
font-size: 16px;
margin-left: 10px;
}
.card-count{
  width: 87% !important;
  background-color:white;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .count-text {
    color: black;
    font-weight: 500;
    font-size: 19px;
    margin-left: 25px;
  }
  
  .example-card {
    padding: 6px;
  }
  .icon{
    font-size:18px;
    padding:10px;
    border-radius:50px;
    background-color:#ccd9ff;
    }