.trail_para{
  height: 20px;
  margin: 0px;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.2px;
  background: #424242;
}

.expired{
  background: #ff0000 !important;
}
