<div class="step_main">
  <div class="container">
    <div class="row">

    <div class="col-md-10">
      <div class="step_sub select_plan">
        <div class="step_circle" (click)="selectPlan()"><span>Select Plan</span></div>
        <div class="step_title"></div>
        <div class="step_bar-left"></div>
        <div class="step_bar-right"></div>
      </div>
      <div class="step_sub enter_pay">
        <div class="step_circle" ><span>Payment</span></div>
        <div class="step_title"></div>
        <div class="step_bar-left"></div>
        <div class="step_bar-right"></div>
      </div>
      <div class="step_sub order_review">
        <div class="step_circle"><span>Review Order</span></div>
        <div class="step_title"></div>
        <div class="step_bar-left"></div>
        <div class="step_bar-right"></div>
      </div>
    </div>
  </div>
    </div>

  </div>
  
