<!-- <div class="step_main">
  <div class="container">
    <div class="row">

    <div class="col-md-10">
      <div class="step_sub select_plan">
        <div class="step_circle" (click)="selectPlan()"><span>Select Plan</span></div>
        <div class="step_title"></div>
        <div class="step_bar-left"></div>
        <div class="step_bar-right"></div>
      </div>
      <div class="step_sub enter_pay">
        <div class="step_circle" ><span>Payment</span></div>
        <div class="step_title"></div>
        <div class="step_bar-left"></div>
        <div class="step_bar-right"></div>
      </div>
      <div class="step_sub order_review">
        <div class="step_circle"><span>Review Order</span></div>
        <div class="step_title"></div>
        <div class="step_bar-left"></div>
        <div class="step_bar-right"></div>
      </div>
    </div>
  </div>
    </div>

  </div>
   -->


   <div class="step_main container">
     <div class="row">
    <div class="col-md-8 step_sub register_account">
      <div class="step_circle"><span>1</span></div>
      <div class="step_bar-left"></div>
      <div class="step_bar-text">VERIFY E-MAIL</div>
    </div>
    <div class="col-md-4 step_sub email_verified">
      <div class="step_circle"><span>2</span></div>
      <div class="step_bar-text1">ACCOUNT SETUP</div>
      <!-- <div class="step_bar-left"></div> -->
    </div>
  </div>

  
  </div>
  