<div class="step_main container">
    <div class="step_sub active">
      <div class="step_circle"><span>1</span></div>
      <div class="step_title">Select Plan</div>
      <div class="step_bar-left"></div>
      <div class="step_bar-right"></div>
    </div>
    <div class="step_sub active disable">
      <div class="step_circle"><span>2</span></div>
      <div class="step_title">Enter Payment Details</div>
      <!-- <div class="step_optional">Optional</div> -->
      <div class="step_bar-left"></div>
      <div class="step_bar-right"></div>
    </div>
    <div class="step_sub active disable">
      <div class="step_circle"><span>3</span></div>
      <div class="step_title">Review Order</div>
      <div class="step_bar-left"></div>
      <div class="step_bar-right"></div>
    </div>

  </div>
