#paymnt-subheding{
  margin-top:10px;
  color: #006ed5;
}
.planheading{
  margin-top: 20px;
}

.pay_titles{
  margin-left: 21%;
  margin-top: 15px;
  font-weight: bold;
}

.processes{
  font-size: 10px !important;
  font-weight: bold;
}
// .plandetails img{
//  height:15px;
//  width:15px;
//  padding-right: 5px;
// }

.select_label {
  font-size: 14px;
  color: #999;
}

.select_label img{
  padding-right: 3px;
  height:18px;
  width:18px;
}

.plan_label {
  font-size: 14px;
  margin-top:20px;
  font-weight: bold;
}

.plan_label span{
  border: 1px solid #006ed5;
  border-radius: 50%;
  padding: 3px 5px;
  color : #006ed5;
  font-weight: bold;

}

.payment-input{
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 0px;
}

.btn-continue{
margin-top: 20px;
}

.btn-back{
  border: 0px;
  background: none;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.backBtn{
  margin-left: 45%;
}
.select_label .fa-check-circle{
  color: green;
  padding:5px;
}
.processes .fa-check-circle{
  padding:5px;
  font-size: 13px
  }
  .processes .fa-times-circle{
    padding:5px;
    color:rgb(255, 0, 0);
    font-size: 13px
  }
  .processes label {
    position: absolute;
    right: 0px;
    top: -10px;
    font-size: 8px;
    color: rgb(116, 110, 110);
  }
  .processes span {
    position: relative;
  }
  .processes{
    margin-bottom: 7px;
  }
  .cc-number1
  {
    width:27%;
    margin-left: -1px;
  }
  .cc-number2
  {
    width:27%;
    margin-top: -32px;
    margin-left: 60px;
  }
  .cc-number3
  {
    width:27%;
    margin-top : -32px;
    margin-left : 124px;
  }
  .cc-number4{
    width:42%;
    margin-top : -32px;
    margin-left : 188px;
  }

.card{
   width: 12%;
  position: absolute;
  top: 28px;
  left: 295px;
}
  