<div class="container">
  <b> Enter payment details </b>
  <br>
  <br>
  <p> Credit card details </p>
  <hr>
  <div>Cardholder name</div>
  <input>
  <div>Card number</div>
  <input>
  <div class="form-group col-sm-6">
    <label for="month">Month</label>
    <select id="month" class="form-control">
      <option selected>Choose...</option>
      <option>Jan</option>
      <option>Feb</option>
      <option>Mar</option>
    </select>
  </div>

  <div class="form-group col-sm-6">
    <label for="year">Year</label>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
          <select id="year" class="form-control">
            <option selected>Choose...</option>
            <option>2019</option>
            <option>2018</option>
            <option>2017</option>
          </select>
        </div>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="phone" placeholder="">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-6">
    <label for="cvv">CVV</label>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
          <div class="col-sm-9">
            <input id="cvv" type="text" class="form-control" id="phone" placeholder="">
          </div>
        </div>
      </div>
    </div>
  </div>


  <p> Billing address </p>
  <hr>
  <div class="form-group col-sm-6">
    <label for="country">Country</label>
    <select id="country" class="form-control">
      <option selected>Choose...</option>
      <option>India</option>
      <option>Canada</option>
      <option>U.S.A.</option>
    </select>
  </div>
  <div class="form-group col-sm-6">
    <label for="city">City</label>
    <select id="city" class="form-control">
      <option selected>Choose...</option>
      <option>India</option>
      <option>Canada</option>
      <option>U.S.A.</option>
    </select>
  </div>
  <div class="form-group col-sm-6">
    <label for="city">Street address</label>
    <input>
  </div>

  <div class="col-12">
      <a class="btn btn-submit" [routerLink]="['/activation/payment/chooseplan']">Back</a>
      <a class="btn btn-submit" [routerLink]="['/activation/payment/review']">Continue</a>
  </div>
</div>