<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="enterprise-layout">
        <!-- <p-scrollPanel [style]="{width: '100%', height: '100%'}"> -->
        <p-table #dt [value]="configuredVmList" [columns]="columnList" [scrollable]="true"
          [globalFilterFields]="search_fields" [resizableColumns]="true" responsiveLayout="scroll"
          [reorderableColumns]="true">

          <ng-template pTemplate="caption">
            <div class="p-d-flex" style="text-align: end;">
              <button class="btn btn-primary" (click)="openOverlay('onboard','')" style="margin-right: 10px;">Configure
                VM</button>
              <span class="p-input-icon-right gridsearch">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  [(ngModel)]="searchValue" placeholder="Search" />
              </span>
              <button pButton label="Clear" class="p-button-outlined only_clearbtn" style="margin-left: 10px;"
                (click)="clearTableFilters(dt)"></button>
            </div>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let each of columns" pSortableColumn="{{each.ColumnName}}" pReorderableColumn pResizableColumn
                [pSortableColumnDisabled]="!each.sort">{{each.DisplayName}}
                <p-columnFilter *ngIf="each.ShowFilter && each.filterType == 'text'" field="{{each.ColumnName}}"
                  [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" display="menu"
                  matchMode="contains" [showApplyButton]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <input type="text" pInputText [ngModel]="value" (ngModelChange)="filter($event)" class="p-inputtext"
                      placeholder="Search">
                  </ng-template>
                </p-columnFilter>
                <p-columnFilter *ngIf="each.ShowFilter && each.filterType == 'dropdown'" [field]="each.ColumnName"
                  matchMode="equals" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                  display="menu" [showApplyButton]="false" [showClearButton]="true">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown [ngModel]="value" [options]="categaoriesList" (onChange)="filter($event.value)"
                      optionLabel="categoryName" optionValue="categoryName" placeholder="Select">
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
                <p-sortIcon *ngIf="each.sort" [field]="each.ColumnName"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-data let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" [pTooltip]="rowData[col.ColumnName]" tooltipPosition="top"
                [tooltipDisabled]="!col.showTooltip">

                <span *ngIf="col.ColumnName === 'password'">
                  {{ rowData[col.ColumnName] ? '******' : '-' }}
                </span>

                <span
                  *ngIf="col.ColumnName !== 'createdAt' && col.ColumnName!=='action' && col.ColumnName !== 'modifiedAt' && col.ColumnName !== 'password'">
                  {{ rowData[col.ColumnName] || '-' }}
                </span>

                <span *ngIf="col.ColumnName === 'createdAt' || col.ColumnName === 'modifiedAt'">
                  {{ rowData[col.ColumnName] ? (rowData[col.ColumnName] | date: 'MMM dd, y, h:mm a') : '-' }}
                </span>

                <span *ngIf="col.ColumnName=='action'" class="actionmenu">
                  <a (click)="deletePredefinedBotsVMHost(rowData.id)" pTooltip="Delete" tooltipPosition="top">
                    <img src="../../../assets/a_images/delete-default.svg" alt="Edit" class="testplus default-icon">
                    <!-- <img src="../../../assets/a_images/edit-hover.svg" alt="Edit" class="testplus hover-icon"> -->
                  </a>
                  <a (click)="prepareUpdateForm(rowData)" pTooltip="Update" tooltipPosition="top">
                    <img src="../../../assets/a_images/edit-default.svg" alt="Edit" class="testplus default-icon">
                </a>
                </span>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td style="text-align: center;" colspan="8">No Records Found</td>
            </tr>
          </ng-template>

        </p-table>
        <!-- </p-scrollPanel> -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="isDisplayOverlay">
  <app-split-overlay (closeOverlay)="closeOverlay($event)">
    <div class="h-100">
      <div class="create-header">
        <h3>Configure VM</h3>
      </div>
      <div class="createform-overlay">
        <form [formGroup]="vmForm" class="col-12 tenant-form">
          <div class="row form-details">
            <!-- Environment Name -->
            <div class="form-group col-md-12">
              <label class="label-control" for="environmentName">Environment Name<span class="star">*</span></label>
              <input type="text" id="environmentName" pInputText formControlName="environmentName" class="form-control"
                placeholder="Enter Environment Name" required>
              <div *ngIf="vmForm.get('environmentName').errors?.required && vmForm.get('environmentName').touched"
                class="required">
                Environment Name is required.
              </div>
            </div>

            <div class="form-group col-md-12">
              <label class="label-control" for="environmentType">Environment Type<span class="star">*</span></label>
              <p-dropdown [ngModel]="vmForm.get('environmentType').value" [options]="environmentOptions"
                (onChange)="onEnvironmentChange($event.value)" optionLabel="label" optionValue="value"
                placeholder="Select Environment Type">
              </p-dropdown>
              <!-- <p-dropdown [options]="environmentOptions"
                  formControlName="environmentType"
                  (onChange)="onEnvironmentChange($event.value)"
                  optionLabel="label"
                  placeholder="Select Environment Type"
                  >
              </p-dropdown> -->
              <div *ngIf="vmForm.get('environmentType').errors?.required && vmForm.get('environmentType').touched"
                class="required">
                Environment Type is required.
              </div>
            </div>

            <!-- Agent Path -->
            <div class="form-group col-md-12">
              <label class="label-control" for="agentPath">Agent Path<span class="star">*</span></label>
              <input type="text" id="agentPath" pInputText formControlName="agentPath" class="form-control"
                placeholder="Enter Agent Path" required>
              <div *ngIf="vmForm.get('agentPath').errors?.required && vmForm.get('agentPath').touched" class="required">
                Agent Path is required.
              </div>
            </div>

            <!-- Host Address -->
            <div class="form-group col-md-12">
              <label class="label-control" for="hostAddress">Host Address<span class="star">*</span></label>
              <input type="text" id="hostAddress" pInputText formControlName="hostAddress" class="form-control"
                placeholder="Enter Host Address" required>
              <div *ngIf="vmForm.get('hostAddress').errors?.required && vmForm.get('hostAddress').touched"
                class="required">
                Host Address is required.
              </div>
            </div>

            <!-- Port Number -->
            <div class="form-group col-md-12">
              <label class="label-control" for="portNumber">Port Number<span class="star">*</span></label>
              <input type="number" id="portNumber" pInputText formControlName="portNumber" class="form-control"
                placeholder="Enter Port Number" required>
              <div *ngIf="vmForm.get('portNumber').errors?.required && vmForm.get('portNumber').touched"
                class="required">
                Port Number is required.
              </div>
            </div>

            <!-- Username -->
            <div class="form-group col-md-12">
              <label class="label-control" for="username">Username<span class="star">*</span></label>
              <input type="text" id="username" pInputText formControlName="username" class="form-control"
                placeholder="Enter Username" required>
              <div *ngIf="vmForm.get('username').errors?.required && vmForm.get('username').touched" class="required">
                Username is required.
              </div>
            </div>

            <!-- Password -->
            <div class="form-group col-md-12">
              <label class="label-control" for="password">Password<span class="star">*</span></label>
              <input type="password" id="password" pInputText formControlName="password" class="form-control"
                placeholder="Enter Password" required>
              <div *ngIf="vmForm.get('password').errors?.required && vmForm.get('password').touched"
                class="required">
                Password is required.
              </div>
            </div>

            <!-- Connection Type -->
            <div class="form-group col-md-12">
              <label class="label-control" for="connectionType">Connection Type<span class="star">*</span></label>
              <input type="text" id="connectionType" pInputText formControlName="connectionType" class="form-control"
                placeholder="Enter Connection Type" value="SSH" disabled>
              <!-- <div *ngIf="vmForm.get('connectionType').errors?.required && vmForm.get('connectionType').touched"
                class="required" value="SSH" disabled>
                Connection Type is required.
              </div> -->
            </div>

          </div>
          <div class="createform-footer">
            <button type="button" (click)="onCancel()" class="btn">Cancel</button>
            <button type="submit" [disabled]="!vmForm.valid" class="btn btn-primary" (click)="onSubmit()">
              {{ mode === 'Create' ? 'Create' : 'Update' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </app-split-overlay>
</div>

<ngx-spinner bdColor="#bebcbc66" type="">
  <img src='../../../assets/images/EZFlow_Loader.gif' class="ezflow-loader" alt="EZFlow_Loader" />
</ngx-spinner>