<div class="container-fluid">
  <div class="row">
      <div id="particles-js"></div>
      <div class="col-sm-4">
          <img class="login-bg" src="assets/images/loginimage.png">
      </div>
    <div class="col-md-3"></div>
      <div class="col-md-4">
        
              <div class="brand" style="
              margin-left: 4%;
          ">
                      <img src="assets/images/logo_img.png">
                  </div>
                  <!-- <h3>Start free tier</h3> -->
                  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="login_form">
                    <div class="form-header col-md-10">
                      <h5>Change Password</h5>
                    </div>
                    <div class="form-group col-md-10 inner-addon left-addon right-addon">
                    <!--<label> Current Password</label>-->
                   <!-- <label for="password">Current Password </label>-->
                    <img src="assets/images/registration/Lock.svg" class="icon">
                    <span (click)="currentoggle()" class="input-group-add eyeicon"> <i class="fa fa-eye" [ngClass]="(eyeshow==true) ? 'fa fa-eye' : 'fa fa-eye-slash'"  aria-hidden="true" ></i></span>
                  <input [type]="(eyeshow==true) ? 'password' : 'text'"  class="form-control psw_input" name="currentPassword" #currentPassword="ngModel" [(ngModel)]="curtPass" placeholder="Enter Current Password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,20})" maxlength="20" required/>
                  <span *ngIf="((currentPassword.invalid && f.submitted) || (currentPassword.errors && currentPassword.touched) )">
                    <span class='fa fa-info-circle errspan' *ngIf="currentPassword.errors.required"> Password is required</span>
                    <span class='fa fa-info-circle errspan' *ngIf="currentPassword.errors.pattern"> Password must be 8-20 characters and have at least one uppercase latter, one lowercase letter, one special character and one number</span>
                  </span>

                  </div>
                  <!-- <input type="password" name="password" #password="ngModel" placeholder = "Enter Current Password" class="form-control botmbordr" [(ngModel)]="pswdmodel.currentPassword"/> -->
                    <!-- <label>New Password</label> -->
                    <div class="form-group col-md-10 inner-addon left-addon right-addon">
                        <!-- <label>New Password</label> -->
                        <img src="assets/images/registration/Lock.svg" class="icon">
                        <span (click)="toggle()" class="input-group-add eyeicon"> <i class="fa fa-eye" [ngClass]="(show==true) ? 'fa fa-eye' : 'fa fa-eye-slash'"  aria-hidden="true" ></i></span>
                        <input [type]="(show==true) ? 'password' : 'text'"  class="form-control psw_input" name="password" ngModel #password="ngModel" placeholder="Password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,20})" maxlength="20" required/>
                        <!-- <div class="fa fa-info-circle errspan" *ngIf="password.invalid && (password.dirty || password.touched)"> Password is required
                        </div> -->
                        <span *ngIf="((password.invalid && f.submitted) || (password.errors && password.touched) )">
                            <span class='fa fa-info-circle errspan' *ngIf="password.errors.required"> Password is required</span>
                            <span class='fa fa-info-circle errspan' *ngIf="password.errors.pattern"> Password must be 8-20 characters and have at least one uppercase latter, one lowercase letter, one special character and one number</span>
                          </span>
                    </div>
                    <!-- <label>Confirm Password</label> -->
                      <div class="form-group col-md-10 inner-addon left-addon right-addon">
                        <!-- <label>Confirm Password</label> -->
                        <img src="assets/images/registration/Lock.svg" class="icon">
                        <span (click)="confirmtoggle()" class="input-group-add eyeicon"> <i class="fa fa-eye" [ngClass]="(confmshow==true) ? 'fa fa-eye' : 'fa fa-eye-slash'"  aria-hidden="true" ></i></span>
                        <input [type]="(confmshow==true) ? 'password' : 'text'"  class="form-control psw_input" name="pwConfirm" [(ngModel)]="newPwd"ngModel #pwConfirm="ngModel" placeholder="Confirm Password" required compare="password" />
                        <div class="text-danger" *ngIf="pwConfirm.touched && pwConfirm.errors">
                            <div *ngIf="pwConfirm.errors['required']" class='fa fa-info-circle errspan'> Password confirm is required</div>
                            <div *ngIf="pwConfirm.errors['compare'] && !pwConfirm.errors['required']" class='fa fa-info-circle errspan'> Password confirm do not match</div>
                        </div>  
                    </div>
                    <!--<div class="form-group col-md-12">
                      <div *ngIf="passwordvalidatemsg" class='fa fa-exclamation-triangle errspan errspan1'> {{passwordvalidatemsg}}</div>
                    </div>-->
                    <div class="form-group col-md-12">
                      <a [routerLink]="['/']" class="backlogin">Back to Login </a>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="hoverable button btn btn-primary btn-signin login-btn" [disabled]="f.invalid">Submit</button>
                    </div>
  
                    
                  </form>
      </div>
  </div>
</div>
