<div class="container-fluid">
  <div class="row">
      <!-- <div id="particles-js"></div> -->
      <!-- <div class="col-sm-4">
          <img class="login-bg" src="assets/images/loginimage.png">
      </div> -->
    
      <div class="newpasswordblock">
        <mat-card class="change_password_mat">
              <div class="brand">
                      <img style="width: 220px !important;
                      margin-left: 80px !important;
                      margin-top: 20px !important;
                      margin-bottom: 20px !important;" src="assets/images/EZFlow.png">
                  </div>
                  <!-- <h3>Start free tier</h3> -->
                  <form #f="ngForm" (ngSubmit)="onSubmit()" class="login_form">
                    <div class="form-header col-md-10">
                      <h5>Reset Password</h5>
                    </div>
                    <!-- <label>New Password</label> -->
                    <div class="col-md-10" style="margin: 10px 0px !important;"><!--form-group inner-addon left-addon right-addon-->
                        <!-- <label>New Password</label> -->
                        <!-- <img src="assets/images/registration/Lock.svg" class="icon"> -->
                        <mat-form-field hideRequiredMarker floatlable="auto" appearance="outline" color="primary" style="width:370px !important">
                          <mat-label>Password</mat-label>
                        <!-- <span (click)="toggle()" class="input-group-add eyeicon"> <i class="fa fa-eye" [ngClass]="(show==true) ? 'fa fa-eye' : 'fa fa-eye-slash'"  aria-hidden="true" ></i></span> -->
                        <input [type]="hide1 ? 'text' : 'password'" matInput name="password" ngModel #password="ngModel" placeholder="Password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$%]).{8,20})" maxlength="20" required/>
                        <!-- <div class="fa fa-info-circle errspan" *ngIf="password.invalid && (password.dirty || password.touched)"> Password is required
                        </div> -->
                        <mat-icon style="color: slategray" matSuffix (click)="hide1 = !hide1">{{hide1 ?  'visibility': 'visibility_off' }}</mat-icon>
                        </mat-form-field>
                        <span *ngIf="((password.invalid && f.submitted) || (password.errors && password.touched) )">
                            <span class='fa fa-info-circle errspan' *ngIf="password.errors.required"> Password is required</span>
                            <span class='fa fa-info-circle errspan' *ngIf="password.errors.pattern"> Password must be 8-20 characters and have at least one uppercase letter, one lowercase letter, one special character(@,$,% are allowed) and one number</span>
                          </span>
                    </div>
                    <!-- <label>Confirm Password</label> -->
                      <div class="col-md-10" style="margin: 10px 0px !important"><!-- inner-addon left-addon right-addon-->
                        
                        <!-- <img src="assets/images/registration/Lock.svg" class="icon"> -->
                        <mat-form-field hideRequiredMarker floatlable="auto" appearance="outline" color="primary"  style="width:370px !important">
                          <mat-label>Confirm Password</mat-label>
                        <!-- <span (click)="confirmtoggle()" class="input-group-add eyeicon"> <i class="fa fa-eye" [ngClass]="(confmshow==true) ? 'fa fa-eye' : 'fa fa-eye-slash'"  aria-hidden="true" ></i></span> -->
                        <input [type]="hide ? 'text' : 'password'" matInput name="pwConfirm" [(ngModel)]="newPwd"ngModel #pwConfirm="ngModel" placeholder="Confirm Password" required compare="password" />
                        <mat-icon style="color: slategray" matSuffix (click)="hide = !hide">{{hide ?  'visibility': 'visibility_off' }}</mat-icon>
                      </mat-form-field>
                        <div class="text-danger" *ngIf="pwConfirm.touched && pwConfirm.errors">
                            <div *ngIf="pwConfirm.errors['required']" class='fa fa-info-circle errspan'> Password confirm is required</div>
                            <div *ngIf="pwConfirm.errors['compare'] && !pwConfirm.errors['required']" class='fa fa-info-circle errspan'> Password confirm do not match</div>
                        </div>  
                    </div>
                    <div class="form-group col-md-12">
                      <a [routerLink]="['/']" class="backlogin">Back to Login </a>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="hoverable btn btn-primary login-btn" [disabled]="f.invalid">Submit</button>
                    </div>
  
                    
                  </form>
  
                  <div style="overflow-wrap: break-word;">
                      <div *ngIf="error" class="alert alert-danger text-center">{{error}}</div>
                      </div>
                    </mat-card>
      </div>
  </div>
</div>
