<div class="container-fluid">
  <div class="row">
      <!-- <div class="col-sm-4">
          <img class="login-bg" src="assets/images/loginimage.png" alt="">
      </div> -->
      <div class="col-md-8 p-0">
        <div class="image-container">
          <img class="background-image top-banner-signup-left-img" src="assets/ai-agents-signup.png" alt="EZFLow">
          <img class="background-image top-banner-signup-left-img" style="object-fit: cover;" src="assets/Topimage.svg"
            alt="EZFLow">
          <img class="background-image" src="assets/landing_page_new.svg" alt="EZFLow">
        </div>
      </div>
    
      <div class="col-md-4 pt-3">
        <div class="card_sty">
              <!-- <div class="brand">
                      <img style="width: 220px !important;
                      margin-left: 80px !important;
                      margin-top: 20px !important;
                      margin-bottom: 20px !important;" src="assets/images/EZFlow.png" alt="EZFlow">
                  </div> -->
                  <!-- <h3>Start free tier</h3> -->
                  <div class="create mt-4">
                    <p class="signup-header"> Reset Password </p>
                    <div class="create-label">
                      <label class="have_acc">Don't want to change password &#63;</label>
                      <a [routerLink]="['/user']" class="signup_styles text-primary"> Log In </a>
                    </div>
                  </div>

                  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="">

                    <div class="form-group col-md-12">
                      <div style="overflow-wrap: break-word;" class="col-md-12 form-group p-10">
                        <div *ngIf="error" class="info-error-icon"> <i class="pi pi-info-circle"></i><p>{{error}}</p></div>
                      </div>

                      <div class="col-md-12 form-group p-10" style="margin: 20px 0px !important;">
                        <label class="label-control" for="password">New Password <span class="required">*</span></label><br>
                        <p-password 
                          styleClass="password-input" 
                          formControlName="password"
                          [feedback]="false" 
                          [toggleMask]="true"
                          placeholder="Enter New Password"
                          maxlength="20" 
                          autocomplete="off"
                        ></p-password>
                        
                        <span *ngIf="formGroup.get('password').invalid && (formGroup.get('password').touched || formGroup.get('password').dirty)">
                          <span class='fa fa-info-circle errspan' *ngIf="formGroup.get('password').hasError('required')"> Password is required</span>
                          <span class='fa fa-info-circle errspan' *ngIf="formGroup.get('password').hasError('pattern')">
                            Password must be 8-20 characters and have at least one uppercase letter, one lowercase letter, one special character (@, $, %) and one number
                          </span>
                        </span>
                      </div>
                    
                      <div class="col-md-12 form-group p-10" style="margin: 10px 0px !important;">
                        <label class="label-control" for="pwConfirm">Confirm New Password <span class="required">*</span></label><br>
                        <p-password 
                          styleClass="password-input" 
                          formControlName="pwConfirm"
                          [feedback]="false" 
                          [toggleMask]="true"
                          placeholder="Confirm New Password"
                          autocomplete="off"
                        ></p-password>
                        
                        <div class="text-danger" *ngIf="formGroup.get('pwConfirm').touched && formGroup.get('pwConfirm').errors">
                          <div *ngIf="formGroup.get('pwConfirm').hasError('required')" class='fa fa-info-circle errspan'> Password confirm is required</div>
                          <div *ngIf="formGroup.get('pwConfirm').hasError('mismatch')" class='fa fa-info-circle errspan'> Password confirm does not match</div>
                        </div>  
                      </div>
                    
                      <div class="col-md-12 form-group p-10" style="top: 30px;">
                        <!-- <div class="col-md-12"> -->
                          <button class="hoverable btn btn-primary login-btn" [disabled]="formGroup.invalid">Submit</button>
                        <!-- </div> -->
                      </div>

                    </div>
                  </form>
                  
  
                  
                    </div>
      </div>
  </div>
</div>

<ngx-spinner bdColor="#bebcbc66" type="">
  <img  src='assets/images/EZFlow_Loader.gif' class="ezflow-loader" alt="EZFlow_Loader"/> 
</ngx-spinner>