<div class="container-fluid h-100">
    <div class="card text-center">
        <div class="image">
            <div class="image-circle">
                <div class="wave">
                    <img class="fail-image" src="../../../assets/failure.png" alt="payment-success">
                    <span style="--i:0;"></span>
                    <span style="--i:1;"></span>
                    <span style="--i:2;"></span>
                </div>
            </div>
        </div>
        <h2 class="title-fail"> Failed </h2>
        <span class="fail-message1">We regret that transaction was not successful.</span> 
        <span class="fail-message2"> Please try again. </span>
    </div>
</div>
