img.buuton-icons {
    width: 22px;
    margin: 0px 5px;
    vertical-align: top;
  }
  
  
  .login_image {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  
  
  a.demo_req {
    margin-left: 6px;
  }
  
  .form-header{
    margin-bottom: 25px;
  }
  
  
  input.form-controlcheck.save_cre {
    vertical-align: middle;
  }
  
  .login-box {align-items: center;display: flex;}
  
  .login_image img {
    height: auto;
      width: 100%;
  }
  
  .grp-buttons {
    margin: 0px;
  }
  
  
  .pull-right {
    float: right;
  }
  
  .pull-left {
    float: left;
    position: relative;
    left: 35%;
  }
  