<div class="container-fluid h-100">
    <div class="card text-center">
            <div class="image">
                <div class="image-circle">
                    <div class="wave">
                        <img class="success-image" src="../../../assets/success.png" alt="payment-success">
                        <span style="--i:0;"></span>
                        <span style="--i:1;"></span>
                        <span style="--i:2;"></span>
                    </div>
                </div>
            </div>
            <h2 class="title-success"> Success </h2>
            <span class="success-message1">Please do not refresh the page or navigate away. Your access will be available shortly. <br> Thank you for choosing EZFlow !</span>
            <span class="success-message2">Redirecting to EZFlow in 30 Seconds ..</span>
        </div>
    </div>