<div class="container">
  <div class="row">
      <div class="welcm_heading col-md-12"> 
        <div class="row"><h1 >Welcome to Epsoft</h1><span>  ( Intelligent Automation Platform )</span></div>
        <div class="row"><h4 id="sbtl">Select below service to Active or Upgrade</h4></div>
      </div>
          <div class="col-md-2 dataCardBox" *ngFor="let eachData of visibletest;let i=index;trackBy:loopTrackBy">
              <div [id]="eachData.id" class="dataCard" [ngClass]="eachData.id==selectedId?'active':''" (click)="selecteddata(eachData, i)">
                  <img [src]="eachData.img"/>
                  <h6 id="subheading">{{eachData.title}}</h6>

                  <div class=" " >
                    <p *ngIf="!eachData.subscribed">Activate Free Tier
                    </p> </div> 
                    <div>
                    <p class="expiryInfo" *ngIf="this.showexpiryinfo"><img class="expiryInfoclock" src="/assets/images/watch-time-count.svg">Your free tier ends in  {{remainingDays}} Days!<img class="infoicon" src="/assets/images/info-Icon.svg" title=" 20 Days To Expaire"></p>
                </div>
              </div>
          </div>

    <div class="col-md-12"></div>
    <div class="col-md-4"></div>
      <div class="col-md-2" >
        <button class="btn btn-primary" id="launch_btn" (click)="upgradePlan()" *ngIf="this.selectedIdValue"  >Upgrade Now</button>
        <button class="btn btn-primary" *ngIf="!this.selectedIdValue" [disabled]="isenable" (click)="upgradePlan()" id="launch_btn" >Subscribe</button>
      </div>
      <div class="col-md-2" style="padding: 0px;
      margin-left: -24px;" >
                  <button *ngIf="this.selectedIdValue" class="btn btn-primary" (click)="navigateProduct(eachData)" id="launch_btn" >Launch<span style="margin-left: 1em" ><i class="fa fa-arrow-right" aria-hidden="true"></i></span></button>
         
        </div>
    </div>

</div>

<div id="particles-js"></div>