<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 acc_header">
      <h2>Welcome Admin! Your account is ready.</h2>
      <h3>Let's get started by activating a product.</h3>
    </div>
    <div class="products_div">
      <div class="row prod_s">
        <div class="col-sm-4" *ngFor="let each_product of productslist;trackBy:productTrackBy" (click)="setProductPlan(each_product.plans)" id="ezbot_tab">
          <div class="product_division col-sm-12">
            <div class="row row_height">
              <div class="left_side col-sm-4">
                <img src="assets/a_images/ezbot.png" class="prod_img">
              </div>
              <div class="right_side col-sm-8">
                <h6>{{each_product.name}}<sup>&trade;</sup></h6>
                <p class="pro_desc">Automate and orchestrate end-2-end data management tasks without having the need
                  to write mundane code.</p>
                <div class="col-sm-12 text-center">
                  <a class="btn btn-submit" [routerLink]="['/activation/payment/chooseplan']">Activate Free Trail</a>
                </div>
              </div>
            </div>
          </div>
          <div class="nottom_btns">
            <a class="btn btn-submit" [hidden]='this.subscribedProd==true'>Launch</a>
            <a class="btn btn-submit" [routerLink]="['/activation/payment/chooseplan']">Upgrade</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
