<div class="container">
  <div class="row">
      <div class="welcm_heading col-md-12"> 
        <div class="row"><h1 >Welcome to Epsoft</h1><span>  ( Intelligent Automation Platform )</span></div>
        <div class="row"><h4 id="sbtl">Select below service to Active or Upgrade</h4></div>
      </div>
          <div class="col-md-2 dataCardBox" *ngFor="let eachData of visibletest;let i=index;trackBy:loopTrackBy">
              <div [id]="eachData.id" class="dataCard" [ngClass]="eachData.id==selectedId?'active':''" (click)="selecteddata(eachData, i)">
                  <img [src]="eachData.img"/>
                  <h6 id="subheading">{{eachData.title}}</h6>

                  <div class=" " *ngIf="!eachData.freetrailAvailed">
                    <p>Activate Free Tier
                    </p> </div> 
                    <div>
                    <p class="expiryInfo" *ngIf="eachData.freeTrialEndDate!=null"><img class="expiryInfoclock" src="/assets/images/watch-time-count.svg">Your free tier ends on  {{eachData.freeTrialEndDate | date : ' dd/MM/yyyy'}}<img class="infoicon" src="/assets/images/info-Icon.svg" title=" 20 Days To Expaire"></p>
                </div>
              </div>
          </div>

    <div class="col-md-6"></div>
    <div class="col-md-4"></div>
      <div class="col-md-2">
        <button class=" " id="updrade-btn" (click)="upgradePlan()" *ngIf="selectedIdValue" >Upgrade Now</button>
      </div>
      <div class="col-md-2">
          <button *ngIf="selectedIdValue" class="btn btn-primary" (click)="navigateProduct(eachData)" id="launch_btn" >Continue<span style="margin-left: 1em" ><i class="fa fa-arrow-right" aria-hidden="true"></i></span></button>
          <button *ngIf="!selectedIdValue" class="btn btn-primary" [disabled]="isenable"  (click)="upgradePlan()" id="launch_btn" >Continue<span style="margin-left: 1em" ><i class="fa fa-arrow-right" aria-hidden="true"></i></span></button>
        </div>
    </div>

</div>

<div id="particles-js"></div>