<div class="backgr">
  <div class="container-fluid">
    <br>
    <div class="row" >
      <div *ngIf="userManagementresponse!=undefined" class=" col-md-3 form-inline">
        <div class="example-card form-inline" >
          <div class="count-text form-group">
            <span class="icon"><i class="fa fa-users text-primary" aria-hidden="true"></i></span>
            &nbsp;&nbsp;&nbsp;
          </div> 
            <div class="form-group">Users</div>
            <div class="count-text form-group ">{{userManagementresponse.length}}</div>
          </div>
    </div>

        <!-- <div *ngIf="userManagementresponse!=undefined" class=" col-md-2 text-center">
            <div class="divbox divbox0"><span class="text-white">
              Users<br>
              {{userManagementresponse.length}}
            </span></div>
        </div> -->
        <div *ngIf="departments!=undefined" class=" col-md-3 form-inline">
          <div class="example-card form-inline" >
            <div class="count-text form-group">
              <span class="icon"><i class="fa fa-building-o" aria-hidden="true"></i></span>
              &nbsp;&nbsp;&nbsp;
            </div> 
              <div class="form-group">Departments</div>
              <div class="count-text form-group pull-right">{{departments.length}}</div>
            </div>
      </div>
  
        <!-- <div *ngIf="departments!=undefined" class=" col-md-2 text-center">
          <div class="divbox divbox1"><span class="text-white">
            Departments<br>
            {{departments.length}}
          </span></div>
      </div> -->
      <div *ngIf="emailtemplateslist!=undefined" class=" col-md-3 form-inline">
        <div class="example-card form-inline" >
          <div class="email-text form-group">
            <span class="icon"><i class="fa fa-envelope text-primary" aria-hidden="true"></i></span>
            &nbsp;&nbsp;&nbsp;
          </div> 
            <div class="form-group">Email Templates</div>
            <div class="count-text form-group pull-right">{{emailtemplateslist.length}}</div>
          </div>
    </div>
  
      <!-- <div *ngIf="emailtemplateslist!=undefined" class=" col-md-2 text-center">
        <div class="divbox divbox2"><span class="text-white">
          Email Templates<br>
          {{emailtemplateslist.length}}
        </span></div>
    </div> -->
    <div  class=" col-md-3 form-inline">
      <div class="example-card form-inline" >
        <div class="product-text form-group">
          <span class="icon"><i class="fa  fa-sitemap text-primary" aria-hidden="true"></i></span>
          &nbsp;&nbsp;&nbsp;
        </div> 
          <div class="form-group">Subscribed Products</div>
          <div class="count-text form-group pull-right">{{count}}</div>
        </div>
  </div><br> <br> <br>

    <!-- <div  class=" col-md-2 text-center">
      <div class="divbox divbox3"><span class="text-white">
       Subscribed Products<br>
  {{count}}</span></div>
  </div> -->
</div>
<br><br>
<div class="row"> 
  <div *ngIf="processnames!=undefined" class=" col-md-3 form-inline">
    <div class="example-card form-inline" >
      <div class="count-text form-group">
        <span class="icon"><i class="fa fa-spinner text-primary" aria-hidden="true"></i></span>
        &nbsp;&nbsp;&nbsp;
      </div>
        <div class="form-group">Processes</div>
        <div class="count-text form-group pull-right">{{processnames.length}}</div>
      </div>
</div>

  
  <!-- <div  class=" col-md-2 text-center">
    <div *ngIf="processnames!=undefined" class="divbox divbox4"><span class="text-white">
      Processes<br>
      {{processnames.length}}</span></div>
  </div> -->
  <div *ngIf="botnames!=undefined" class=" col-md-3 form-inline">
    <div class="example-card form-inline" >
      <div class="count-text form-group">
        <span class="icon"><i class="fa fa-android" aria-hidden="true"></i></span>
        &nbsp;&nbsp;&nbsp;
      </div>
        <div class="form-group">Bots</div>
        <div class="count-text form-group pull-right">{{botnames.length}}</div>
      </div>
</div>

  <!-- <div  class=" col-md-2 text-center">
    <div *ngIf="botnames!=undefined" class="divbox divbox5"><span class="text-white">
      Bots<br>
      {{botnames.length}}</span></div>
  </div> -->
  
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-1"></div>
        <div *ngIf="registeredvsinvited!=0" class="col-md-5  text-center">
            <h5><b>Users - Registered vs Invited</b></h5>
            <div id="piechart1"  #containerRef class="box_shadw34"> 
            <ngx-charts-pie-chart
            [view]="[containerRef.offsetWidth, 300]"
    [scheme]="{domain: ['#34568b', '#dd4124']}"
    [results]="registeredvsinvited"
    [gradient]="true"
    [legend]="true"
    [legendTitle]="''"
    [legendPosition]="'right'"
    [labels]="true"
    [doughnut]="false"
    >
  </ngx-charts-pie-chart>
       </div>
        </div>
  
        <div *ngIf="registeredvsinvited==0" class="col-md-5  text-center">
          <h5><b>Users - Registered vs Invited</b></h5>
          <div id="nodatafound"   class="box_shadw34"> 
            <h3>No Data Available</h3>
     </div>
      </div>
  
  
  
        <div *ngIf="alertsCountBasedOnType!=0" class="col-md-5  text-center">
  
            <h5><b>Configured Alerts - Success vs Failure</b></h5>
            <div id="piechart2" #containerRef class="box_shadw34">
               <ngx-charts-pie-chart
              [view]="[containerRef.offsetWidth, 300]"
              [scheme]="{domain: ['#98ddde', '#f2552c']}"
              [results]="alertsCountBasedOnType"
              [gradient]="true"
              [legend]="true"
              [legendPosition]="'right'"
              [labels]="true"
              [doughnut]="true"
              [legendTitle]="''"
              [arcWidth]="0.50">
            </ngx-charts-pie-chart> 
            </div>
        </div>
  
        <div *ngIf="alertsCountBasedOnType==0" class="col-md-5  text-center">
          <h5><b>Configured Alerts - Success vs Failure</b></h5>
          <div id="nodatafound" class="box_shadw34">
            <h3>No Data Available</h3>
          </div>
      </div>
  
        <div class="col-md-1"></div>
  
    </div>
    <br><br>
    <div class="col-md-12 btm-line"></div>
    <br><br><br>
    <div class="row">
        <div class="col-md-1"></div>
  
        <div *ngIf="uservsrole!=0" class="col-md-5 text-center">
            <h5><b>User vs Role</b></h5>
            <div id="uservsrolechart" #containerRef class="uservsrolechart"><br><br>
            <ngx-charts-bar-vertical [view]="[containerRef.offsetWidth, 400]" [scheme] ="colorScheme" [results]="uservsrole" [gradient]="gradient" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [legend]="showLegend" [legendTitle]="''" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
           </ngx-charts-bar-vertical>
          </div>
        </div>
  
        <div *ngIf="uservsrole==0" class="col-md-5 text-center">
          <h5><b>User vs Role</b></h5>
          <div id="nodatafound" class="box_shadw34">
            <h3>No Data Available</h3>
          </div>
      </div>
       
        <div *ngIf="activityvsalert!=0" class="col-md-5  text-center">
            <h5><b>Activity vs Alert</b></h5>
            <div id="activityvsalert" #containerRef class="activityvsalert"><br><br>
  <ngx-charts-bar-vertical-stacked
  [view]="[containerRef.offsetWidth, 400]"
        [results]="activityvsalert"
        [scheme]="colorScheme2"
        [gradient]="gradient2"
        [xAxis]="showXAxis2"
        [yAxis]="showYAxis2"
        [legend]="showLegend2"
        [legendTitle]="''"
        [showXAxisLabel]="showXAxisLabel2"
        [showYAxisLabel]="showYAxisLabel2"
        [xAxisLabel]="xAxisLabel2"
        [yAxisLabel]="yAxisLabel2">
  </ngx-charts-bar-vertical-stacked>
  </div>
        </div>
  
        <div *ngIf="activityvsalert==0" class="col-md-5  text-center">
          <h5><b>Activity vs Alert</b></h5>
          <div id="nodatafound" class="activityvsalert">
            <h3>No Data Available</h3>
          </div>
      </div>
  
        <div class="col-md-1"></div>
  
    </div>
    <br> <br>
    <div class="col-md-12 btm-line"></div>
    <br><br><br>
    <div class="row">
        <div class="col-md-1"></div>
        <div *ngIf="cards!=0" class="col-md-5  text-center">
  
          <h5><b>Visa vs Mastercard</b></h5>
          <div id="piechart3" #containerRef class="box_shadw34">
            <ngx-charts-pie-chart
            [view]="[containerRef.offsetWidth, 300]"
            [scheme]="{domain: ['#66ccff', '#ff4d88']}"
            [results]="cards"
            [gradient]="true"
            [legend]="true"
            [legendTitle]="''"
            [legendPosition]="'right'"
            [labels]="true"
            [doughnut]="true"
            [arcWidth]="0.50">
          </ngx-charts-pie-chart>
          </div>
  
      </div>
      <div *ngIf="cards==0" class="col-md-5  text-center">
  
        <h5><b>Visa vs Mastercard</b></h5>
        <div id="nodatafound" class="box_shadw34">
          <h3>No Data Available</h3>
        </div>
  
    </div>
        <div *ngIf="vaultkeycount!=0" class="col-md-5  text-center">
  
            <h5><b>Vault - Secret Name vs Key Count</b></h5>
            <div id="secretvscount" #containerRef class="secretvscount"><br><br>
            <ngx-charts-bar-vertical [view]="[containerRef.offsetWidth, 400]" [scheme] ="colorScheme1" [results]="vaultkeycount" [gradient]="gradient1" [xAxis]="showXAxis1"
            [yAxis]="showYAxis1" [legend]="showLegend1" [legendTitle]="''" [showXAxisLabel]="showXAxisLabel1" [showYAxisLabel]="showYAxisLabel1" [xAxisLabel]="xAxisLabel1"
            [yAxisLabel]="yAxisLabel1">
           </ngx-charts-bar-vertical>
          </div>
        </div>
  
        <div *ngIf="vaultkeycount==0" class="col-md-5  text-center">
  
          <h5><b>Vault - Secret Name vs Key Count</b></h5>
          <div id="nodatafound" class="box_shadw34">
            <h3>No Data Available</h3>
          </div>
      </div>
       
      <div class="col-md-4"></div>
    </div>
<br><br><br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8  text-center">

        <h5 class="teus"><b>Alert Transactions</b></h5>
        
        <div id="alerttransaction"><br><br>
        <canvas id="linechart" style="width:100% !important ;height:300px !important;"></canvas> 
        </div>

    </div>
    <!-- <div *ngIf="cards==0" class="col-md-5  text-center">

      <h5><b>Visa vs Mastercard</b></h5>
      <div id="nodatafound" class="box_shadw34">
        <h3>No Data Available</h3>
      </div>

  </div> -->
     
     
    <div class="col-md-4"></div>
  </div>
  </div>
  </div>