<div class="backgr">
<div class="container-fluid">
  <br>
  <div class="row" id="boxes">
      <div *ngIf="userManagementresponse!=undefined" class=" col-md-2 text-center">
          <div class="divbox divbox0"><span class="text-white">
            Users<br>
            {{userManagementresponse.length}}
          </span></div>
      </div>

      <div *ngIf="departments!=undefined" class=" col-md-2 text-center">
        <div class="divbox divbox1"><span class="text-white">
          Departments<br>
          {{departments.length}}
        </span></div>
    </div>

    <div *ngIf="emailtemplateslist!=undefined" class=" col-md-2 text-center">
      <div class="divbox divbox2"><span class="text-white">
        Email Templates<br>
        {{emailtemplateslist.length}}
      </span></div>
  </div>

  <div  class=" col-md-2 text-center">
    <div class="divbox divbox3"><span class="text-white">
      Products<br>
{{count}}</span></div>
</div>

<div  class=" col-md-2 text-center">
  <div *ngIf="processnames!=undefined" class="divbox divbox4"><span class="text-white">
    Processes<br>
    {{processnames.length}}</span></div>
</div>

<div  class=" col-md-2 text-center">
  <div *ngIf="botnames!=undefined" class="divbox divbox5"><span class="text-white">
    Bots<br>
    {{botnames.length}}</span></div>
</div>

  </div>
  <br><br>
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5  text-center">
          <h5><b>Users Registered vs Invited</b></h5>
          <!-- <canvas id="users" style="height:300px!important ; width:100%"></canvas> -->
          <div id="piechart1" class="box_shadw34"> 
          <ngx-charts-pie-chart
  [view]="[600, 300]"
  [scheme]="{domain: ['#5AA454', '#A10A28']}"
  [results]="registeredvsinvited"
  [gradient]="true"
  [legend]="true"
  [legendPosition]="'right'"
  [labels]="true"
  [doughnut]="false"
  [arcWidth]="0.50">
</ngx-charts-pie-chart>
     </div>
        
     
      </div>
      <div class="col-md-5  text-center">

          <h5><b>Alerts Success vs Failure</b></h5>
          <!-- <canvas id="alertbytype" style="height:300px!important ; width:100%"></canvas> -->
          <div id="piechart2" class="box_shadw34">
            <ngx-charts-pie-chart
            [view]="[600, 300]"
            [scheme]="{domain: ['#C7B42C', '#AAAAAA']}"
            [results]="alertsCountBasedOnType"
            [gradient]="true"
            [legend]="true"
            [legendPosition]="'right'"
            [labels]="true"
            [doughnut]="true"
            [arcWidth]="0.50">
          </ngx-charts-pie-chart>
          </div>
      </div>
      <div class="col-md-1"></div>

  </div>
  <br><br>
  <div class="col-md-12 btm-line"></div>
  <br><br><br>
  <div class="row">
      <div class="col-md-1"></div>

      <div class="col-md-5 text-center">
          <h5><b>User vs Role</b></h5>
          <!-- <canvas id="uservsrole" style="height:300px!important ; width:100%"></canvas> -->
          <div id="uservsrolechart" class="uservsrolechart">
          <ngx-charts-bar-vertical [view]="view" [scheme] ="colorScheme" [results]="uservsrole" [gradient]="gradient" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" >
         </ngx-charts-bar-vertical>
        </div>
      </div>
     
      <div class="col-md-5  text-center">
          <h5><b>Activity vs Alert</b></h5>
<ngx-charts-bar-vertical-stacked
      [view]="view2"
      [results]="activityvsalert"
      [gradient]="gradient2"
      [xAxis]="showXAxis2"
      [yAxis]="showYAxis2"
      [legend]="showLegend2"
      [showXAxisLabel]="showXAxisLabel2"
      [showYAxisLabel]="showYAxisLabel2"
      [xAxisLabel]="xAxisLabel2"
      [yAxisLabel]="yAxisLabel2">
</ngx-charts-bar-vertical-stacked>
          
      </div>

      <div class="col-md-1"></div>

  </div>
  <br> <br>
  <div class="col-md-12 btm-line"></div>
  <br><br><br>
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5  text-center">

        <h5><b>Card Visa vs Master</b></h5>
        <!-- <canvas id="noofcards" style="width:100% !important"></canvas> -->
        <div id="piechart3" class="box_shadw34">
          <ngx-charts-pie-chart
          [view]="[600, 300]"
          [scheme]="{domain: ['#66ccff', '#ff4d88']}"
          [results]="cards"
          [gradient]="true"
          [legend]="true"
          [legendPosition]="'right'"
          [labels]="true"
          [doughnut]="true"
          [arcWidth]="0.50">
        </ngx-charts-pie-chart>
        </div>

    </div>
      <div class="col-md-5  text-center">

          <h5><b>Vault Secret name vs Key count</b></h5>
          <!-- <canvas id="vaults" style="width:100% !important"></canvas> -->
          <ngx-charts-bar-vertical [view]="view1" [scheme] ="colorScheme1" [results]="vaultkeycount" [gradient]="gradient1" [xAxis]="showXAxis1"
          [yAxis]="showYAxis1" [legend]="showLegend1" [showXAxisLabel]="showXAxisLabel1" [showYAxisLabel]="showYAxisLabel1" [xAxisLabel]="xAxisLabel1"
          [yAxisLabel]="yAxisLabel1">
         </ngx-charts-bar-vertical>
      </div>
     
    <div class="col-md-4"></div>
  </div>
</div>
</div>