<topheader class="first_login_header">


</topheader>

<!-- <div class=""></div> -->
<common-body>

  <div class="container-fluid user_layout">
    <div class="row user_login">
      <div class="col-sm-4">
        <div class="log_img">
          <img src="assets/a_images/Login_banner.svg" class="img_login">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="col-sm-10">
          <h2 class="wel_acc">Welcome! Finish setting up your account</h2>
        </div>

        <form autocomplete="off" #firstloginform="ngForm" (ngSubmit)="!firstloginform.invalid && onSubmit()"
          class="col-sm-10">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" name="firstName" #firstName="ngModel" class="form-control"
                [(ngModel)]="model.firstName" required>
              <span *ngIf="((firstName.invalid && firstloginform.submitted)|| (firstName.errors && firstName.touched))"
                class='fa fa-info-circle errspan'> First Name is required </span>
            </div>

            <div class="form-group col-sm-6">
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" id="lastName" #lastName="ngModel" class="form-control"
                [(ngModel)]="model.lastName" required>
              <span *ngIf="((lastName.invalid && firstloginform.submitted)|| (lastName.errors && lastName.touched))"
                class='fa fa-info-circle errspan'> Last Name is required </span>
            </div>

            <div class="form-group col-sm-6">
              <label for="jobTitle">Job Title</label>
              <input type="text" name="jobTitle.d" id="jobTitle" #jobTitle="ngModel" class="form-control"
                [(ngModel)]="model.designation" required>
              <span *ngIf="((jobTitle.invalid && firstloginform.submitted)|| (jobTitle.errors && jobTitle.touched))"
                class='fa fa-info-circle errspan'> Job Title is required </span>
            </div>
            <div class="form-group col-sm-6">
              <label for="email">Email</label>
              <input type="email" id="email" #email="ngModel" class="form-control" [(ngModel)]="model.email" required
                [ngModelOptions]="{standalone: true}">
              <span *ngIf="((email.invalid && firstloginform.submitted)|| (email.errors && email.touched))"
                class='fa fa-info-circle errspan'> Email is required </span>
            </div>
            <div class="form-group col-sm-6">
              <label for="company">Company</label>
              <input type="text" id="company" #company="ngModel" class="form-control" [(ngModel)]="model.company" [ngModelOptions]="{standalone: true}" required>
              <span *ngIf="((company.invalid && firstloginform.submitted)|| (company.errors && company.touched))"
                class='fa fa-info-circle errspan'> Company is required </span>
            </div>
            <div class="form-group col-sm-6">
              <label for="department">Department</label>
              <ng-multiselect-dropdown name="department" id="department" #department="ngModel" [placeholder]="'Select'"
                [(ngModel)]="model.department" [data]="departments" [ngClass]="{'single_sel': itemsShowLimit == 1}"
                [settings]="dropdownSettings" required>
              </ng-multiselect-dropdown>
              <span
                *ngIf="((department.invalid && firstloginform.submitted)|| (department.errors && department.touched))"
                class='fa fa-info-circle errspan'> Department is required </span>
            </div>


            <div class="form-group col-sm-6">
              <label for="country">Country</label>
              <ng-multiselect-dropdown name="country" id="country" #country="ngModel" [placeholder]="'Select'"
                [(ngModel)]="model.country" [data]="departments" [ngClass]="{'single_sel': itemsShowLimit == 1}"
                [settings]="dropdownSettings" required>
              </ng-multiselect-dropdown>
              <span *ngIf="((country.invalid && firstloginform.submitted)|| (country.errors && country.touched))"
                class='fa fa-info-circle errspan'> Country is required </span>
            </div>

            <div class="form-group col-sm-6">
              <label for="phone">Phone</label>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-2 country_code">
                    <ng-multiselect-dropdown name="mob_country" id="mob_country" #mob_country="ngModel"
                      [placeholder]="'Select'" [(ngModel)]="model.phoneNumber" [data]="departments"
                      [ngClass]="{'single_sel': itemsShowLimit == 1}" [settings]="dropdownSettings" required>
                    </ng-multiselect-dropdown>
                  </div>
                  <div class="col-sm-10 phone_num">
                    <input type="text" class="form-control" name="phone" id="phone" #phone="ngModel"
                      [(ngModel)]="model.phoneNumber">
                  </div>
                </div>
                <span *ngIf="((phone.invalid && firstloginform.submitted) || (phone.errors && phone.touched))"
                  class='fa fa-info-circle errspan'> County Code & Mobile is required </span>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label for="userName">User Name</label>
              <input type="text" id="userName" name="userName" #userName="ngModel" class="form-control"
                [(ngModel)]="model.userId" required>
              <span *ngIf="((userName.invalid && firstloginform.submitted) || (userName.errors && userName.touched))"
                class='fa fa-info-circle errspan'> User Name is required </span>
            </div>

            <div class="form-group col-sm-6">
              <label for="password">Password</label>
              <input type="text" id="password" name="password" #password="ngModel" class="form-control"
                [(ngModel)]="model.password" required>
              <span *ngIf="((password.invalid && firstloginform.submitted) || (password.errors && password.touched))"
                class='fa fa-info-circle errspan'> Password is required </span>
            </div>
            <div class="form-group col-sm-12 continue_btn">
              <button type="button" class="btn btn-back float-left" (click)="onCancel()">Cancel</button>
              <button type="submit" class="btn btn-continue float-right">Continue</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</common-body>