.login-bg{
  width: 600px;
}
.brand img{
  width: 220px;
  
}
.brand{
  margin-top: 0px;
  margin-bottom: 10px;
}

.wel_acc{
  margin-top: 10px;
  font-size: 19px;
  font-weight: 500;
}
.signup-form input, .signup-form select{
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  height: 40px !important;
  border-radius: 0px !important;
}
.inner-addon { 
  position: relative; 
}
.inner-addon .icon {
position: absolute;
padding: 10px;
pointer-events: none;
width: 40px;
}
.left-addon input  { padding-left:  50px; }
.left-addon select  { padding-left:  50px; }
.right-addon input { padding-right: 20px; }

.inner-addon .eyeicon{
  position: absolute;
  padding: 10px;
  z-index: 1000;
  margin-left: 80% !important;
  width: 40px;
  color: #0061cf !important;
}
.phoneicon{
  width: 33px !important;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.phonenumber{
  margin-right: 100px !important;
}
.registrbtn{
  border-radius: 20px;
  height: 30px;
  width: 100px;
  margin-left: -6%;
  border: 0px;
  padding:0px;
}
.clearbtn{
  border-radius: 20px;
  height: 30px;
  width: 100px;
  border: 0px;
  padding:0px;
}
.clearbtn:hover{
  background-color: #0061cf;
  color: white;
}
.haveaccountOne{
  font-size: 15px;
  color: #0061cf !important;
  margin-top: 5px;
  
}
.buttns{
  margin-top: 5px;
  bottom: 12px;
}
.inner-addon .phoneicon{
  position: absolute;
  padding: 10px;
  z-index: 1000;
  width: 40px;
  color: #0061cf !important;
}
.phoneicon{
  width: 33px !important;
}
.iti__flag-container{
  padding-left: 0px !important;
}
.left-addon .phonenumber  { padding-left: 80px !important; }

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 4px;
 // left: 54px;
  bottom: 42px;
  width: 38%;
  border-radius: 23px;
  line-height: 18px;
}
.photoupload
{
  white-space: nowrap;
}
#image
{
  background: none !important;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.imageuploadicon {
  position: absolute;
  padding: 10px;
  z-index: 1000;
  width: 40px;
}
.status-bar{
  margin-top: 10px;
  margin-left: 22px;
   width: 77%;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 8px 0px;
}

.mat-form-field-wrapper {
   margin: 5px 0px !important;
   padding-bottom: 0em;
   padding-top: 0em;
}

.mat-form-field-infix{
  width: 248px !important;
  border-top: .4375em solid transparent;
}

.errspan {
  position: relative;
  z-index: 2;
  color: #f82d2de7;
  font-size: 12px;
  letter-spacing: 0.2px;
  padding-right: 10px;
  line-height: 12px;
}

.mat-form-field{
  margin: 8px 0px 0px 0px !important;
}

.mat-form-field-wrapper {
   padding-bottom: 0em; 
   padding-top: 0.5em; 
}

.mat1-card{
 // padding: 0px;
  margin-top: 20px;
  width:85% !important;
  transform: translate(76px, 0px);
  box-shadow: #5784e999 0px 1px 6px;
}

.picture-container{
  position: relative;
  cursor: pointer;
  text-align: center;
}
.picture{
  width: 106px;
  height: 106px;
  background-color: #999999;
  border: 4px solid #CCCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.picture:hover{
  border-color: #2ca8ff;
}


.content.ct-wizard-green .picture:hover{
  border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
  border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
  border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
  border-color: #ff3b30;
}
.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.picture-src{
  width: 100%;
}

.step_main .step_sub{
  padding: 0px 0px !important;
}

.step_main .step_sub .step_circle{
  width: 35px !important;
  height: 35px !important;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.container.user_layout{
width:812px;
position: absolute;
top: 9%;
left: 13%;
margin: -61px 0 0 -7px;
height: auto;
}
.row.brand-header {
  display: flex;
  align-items: center;
}
.user_layout mat-card.mat1-card.mat-card, .brand-form .mat-form-field  {  
  width: 100% !important;
}
.col-md-12.slt-plan, .buttns {
  margin-top: 20px;
}
label#example-radio-group-label {
  font-size: 15px !important;
  font-weight: 500;
}
.slt-plan mat-radio-button label {
  font-size: 14px;
}
.password-btn{
  background: none !important;
  border:none !important;
  img{
    height: 27px !important;
    margin-top: -12px;
  }
}


