
  <div class="profile">
    <div class="row profile_img">
      <div class="col-12 text-center">
        <img src="../../../../assets/robot.png" alt="Profile Image" class="img_pro"/>
      </div>
    </div>

    <div class="row profile_name">
      <div class="col-12">
        <label class="name_pro">Srikanth Pothina</label>
        <label class="design_pro">UI Developer</label>
      </div>
    </div>
    <div class="col-12 edit_button">
      <button class="btn btn-full btn-submit">Edit Profile</button>
    </div>
    <hr class="profile_hr">
<div class="row profile_info">
  <div class="col-12 profile_info_main">
    <div class="row">
      <div class="col-12"><label class="profile_info_head">Role</label></div>
      <div class="col-12"><label class="profile_info_body">Adminstrator</label></div>
    </div>
  </div>
  <div class="col-12 profile_info_main">
      <div class="row">
        <div class="col-12"><label class="profile_info_head">Email</label></div>
        <div class="col-12"><label class="profile_info_body email">maii_id@epsoftinc.com</label></div>
      </div>
    </div>
    <div class="col-12 profile_info_main">
        <div class="row">
          <div class="col-12"><label class="profile_info_head">Phone</label></div>
          <div class="col-12"><label class="profile_info_body">9876543210</label></div>
        </div>
      </div>

</div>
  </div>




