<topheader>
  <div class="col-sm-6 logo_division">
    <div class="a_logo">
      <img src="assets/a_images/Aiotal.png" class="a_cp_logo"><label class="c_label">Cloud Platform</label>
    </div>
    <div class="e_logo">
      <img src="assets/a_images/Epsoft.svg" class="a_cp_logo">
    </div>


  </div>

  <div class="col-sm-6 user_division">
    <div class="user_div_con">

      <span class="bell_notify"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-bell">
          <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
          <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
        </svg></span>

      <div class="btn-group" dropdown>
        <label id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic"><img
            src="assets/a_images/profile.jpg" class="user_img">Admin<span class="caret"></span>
        </label>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>

        </ul>
      </div>

      <a href="" class="support_link">Support</a>
    </div>
  </div>



</topheader>


<common-body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 acc_header">
        <h2>Welcome Admin! Your account is ready.</h2>
        <h3>Let's get started by activating a product.</h3>
      </div>

      <div class="col-sm-8 offset-sm-2 products_div">
        <div class="row prod_s">

          <div class="col-sm-6">
            <div class="product_division col-sm-12">
              <div class="row row_height">
                <div class="left_side col-sm-4">
                  <img src="assets/a_images/ezbot.png" class="prod_img">
                </div>


                <div class="right_side col-sm-8">
                  <h6>ezBot<sup>&trade;</sup></h6>

                  <p class="pro_desc">Automate and orchestrate end-2-end data management tasks without having the need
                    to write mundane code.</p>

                  <div class="col-sm-12 text-center">
                    <button class="btn btn-submit">Activate Free Trail</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
              <div class="product_division col-sm-12">
                <div class="row row_height">
                  <div class="left_side col-sm-4">
                    <img src="assets/a_images/ezbot.png" class="prod_img">
                  </div>


                  <div class="right_side col-sm-8">
                    <h6>ezFlow<sup>&trade;</sup></h6>

                    <p class="pro_desc">Automate and orchestrate end-2-end data management tasks without having the need
                      to write mundane code.</p>

                    <div class="col-sm-12 text-center">
                      <button class="btn btn-submit">Activate Free Trail</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


</common-body>
<router-outlet></router-outlet>
