<topheader>
    <div class="a_logo">
      <img src="assets/a_images/EPSoft.png" class="a_cp_logo" alt="">
    </div>
  
  </topheader>
  <common-body>
      <!-- <ng-container > -->
  <!-- Extra added -->
  
  
    <div class="container-fluid from_logo" >
      <div class="row">
        <div class="col-sm-12">
          <h4 class="page_title">My Account</h4>
  
          <div class="acc_holder">
  
            <!-- <img alt="" src="assets/a_images/profile.jpg" class="acc_holder_img"> -->
            <div id="example1">
              <p>{{name.split("")[0]  |uppercase}}{{lname.split("")[0] |uppercase}}</p>
            </div>
            <div class="acc_holder_nd">
              <label class="acc_holder_name">{{name}}  {{lname}}</label>
              
              <!-- <label class="acc_holder_design">UI Developer</label> -->
            </div>
          </div>
  
          <div class="acc_holder_details">
  
            <div class="col-lg-4 col-md-6">
              <div class="row">
                  <h6 class="ah_details_title col-sm-12">Details</h6>
                <div class="col-sm-12 ah_details no-padding">
                  <div class="row">
                    <div class="col-sm-6 ah_details_content">
                      <label class="ah_details_head">First Name</label>
                      <label class="ah_details_body">{{name}}</label>
                    </div>
  
                    <div class="col-sm-6 ah_details_content">
                      <label class="ah_details_head">Last Name</label>
                      <label class="ah_details_body">{{lastName}}</label>
                    </div>
  
                     <div class="col-sm-6 ah_details_content">
                      <label class="ah_details_head">Company</label>
                      <label class="ah_details_body">{{company}}</label>
                    </div> 
  
                    <div class="col-sm-6 ah_details_content">
                      <label class="ah_details_head">Job Title</label>
                      <label class="ah_details_body">{{role}}</label>
                    </div>
  
                    <div class="col-sm-6 ah_details_content">
                      <label class="ah_details_head">Country</label>
                      <label class="ah_details_body">{{country}}</label>
                    </div>              
  
                     <div class="col-sm-6 ah_details_content">
                      <label class="ah_details_head">Phone</label>
                      <label class="ah_details_body">+<span class="phone_code">91</span>{{phone}}</label>
                    </div> 
  
                    
                  </div>
                </div>
  
              </div>
            </div>
  
          </div>
  
          <div class="acc_holder_details">
  
              <div class="col-lg-4 col-md-6">
  
                <div class="row">
  
                    <h6 class="ah_details_title col-sm-12">Account Details</h6>
  
                  <div class="col-sm-12 ah_details no-padding">
                    <div class="row">
                      <div class="col-sm-6 ah_details_content">
                        <label class="ah_details_head">User Name</label>
                        <label class="ah_details_body">{{email}}</label>
                      </div>
  
                    </div>
                  </div>
  
                  <div class="col-sm-12 ah_details no-padding">
                      <div class="row">
  
                        <div class="col-sm-6 ah_details_content">
                          <label class="ah_details_head">Password</label>
                          <label class="ah_details_body"><span id="ah_pwd">**********</span><a href="" class="c_pass">Change Password</a></label>
    
                        </div>
                      </div>
                    </div>
  
                </div>
              </div>
  
            </div>
        </div>
          <!-- Updeate details -->
          <!-- <button (click)="UpdateDetails()" id="bt" >Show Input -->
          <!-- </button> -->
          
          <!-- <ng-container *ngIf="show"> -->
  
              <!-- <input type="text" [(ngModel)]="obj.ame"> -->
             
          <!-- </ng-container> -->
      </div>
    </div>
  </common-body>
  