img.testplus {
    width: 16px;
    height: 16px;
    margin-right: 17px;
    cursor: pointer;
  }

.actionmenu:hover img.default-icon, .actionmenu img.hover-icon {
    display: none;
}

.actionmenu:hover img.hover-icon {
    display: initial;
}

.enterprise-layout{
    background: #f8f8f8;
    border-radius: 3px;
    overflow: auto;
    height: calc(100vh - 160px);
}

.confirmation-footer button:last-child{
    margin-left: 20px;
  }
  .confirmation-text{
    padding: 20px;
  }
  .upload-btn{
    float: right;
    padding-bottom: 5px;
  }
