<div class="sales-page-container">
    <div class="hero">
      <div class="container">
        <div class="hero-content">
          <div class="hero-text">
            <h1>Elevate Your Customer Support with AI Agent</h1>
            <p>Boost Your Support Efficiency</p>
            <ul>
              <li *ngFor="let feature of heroFeatures">{{ feature }}</li>
            </ul>
          </div>
          <div class="hero-pricing">
           <app-payment-collection></app-payment-collection>
            
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <h2 class="section-title">Key Features</h2>
        <p class="section-description">The Customer Support AI Agent enhances your support operations by automating query handling. Trained on your company's content, it delivers accurate, 24/7 customer support,
          significantly reducing team workload. Boost customer satisfaction and free your team to tackle more complex issues.</p>          
        <div class="grid">
          <div class="card" *ngFor="let feature of keyFeatures">
            <div class="card-image">
              <img [src]="feature.image" [alt]="feature.title">
            </div>
            <div class="card-content">
              <h3>{{ feature.title }}</h3>
              <p>{{ feature.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section benefits">
      <div class="container">
        <h2 class="section-title1">Benefits</h2>
        <div class="grid-benefits">
          <div class="card icon-card" *ngFor="let benefit of benefits">
            <div class="icon-placeholder">
              <img [src]="benefit.icon" [alt]="benefit.title">
            </div>
            <h3>{{ benefit.title }}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="section how-it-works">
      <div class="container">
        <h2 class="section-title">How Does Our Customer Support AI Agent Work?</h2>
        <div class="grid">
          <div class="card icon-card" *ngFor="let step of workingSteps">
            <div class="icon-placeholder">
              <img [src]="step.icon" [alt]="step.title">
            </div>
            <h3>{{ step.title }}</h3>
            <p>{{ step.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="cta">
      <div class="container">
        <h2>Unlock Exceptional Talent with Unmatched AI Precision</h2>
        <a href="#" class="btn">Get Started</a>
      </div>
    </div> -->
  </div>