
<div class="container-fluid">
  <div class="row">
<nav class=" navbar-light naveOne col-md-12">
  <a class="navbar-brand col-md-4" href="#" class="aiotal">
    <img class="titleimage" src="assets/images/logo_img.png" alt="epsoft"> </a>
  <ul  class="nav navTwo col-md-8">
    <li class="col-md-10"></li>
      <li class=" nav-item col-md-1 notificationBell">
          <img class="notification-icon" (click)='seeNotifications()' src="assets/images/Notification_Bell.svg" alt=" ">
        </li>
    <li class=" nav-item col-md-1">
      <img class="icon_middle pull-right" src="assets/images/pro1.png" alt="profile image">
        <span (click)="myFunction()" class="dropbtn"> <img src="assets/images/arrow_down.svg" alt="Drop Down"></span>      
              <div id="myDropdown" class="dropdown-content">
               <p (click)="accountSlideup()"><img  src="assets/images/account.svg"><span>My Account</span></p>
                  <p *ngIf="this.userRole=='Admin' || this.userRole == 'SuperAdmin'" (click)="usermanagementslideUp()"><img  src="assets/images/usermanagementicon.svg" alt="usermanagementicon"><span>User Management</span></p>
                  <p  (click)="alertsSlideup()"><img  src="assets/images/config_alerts.svg"><span>Configure Alerts</span></p>
                  <p *ngIf="this.userRole=='Admin'" (click)="inviteSlideup()"><img  src="assets/images/inviteuser.svg"><span>Invite User</span></p>
                  <p *ngIf="this.userRole=='SuperAdmin'"  (click)="couponSlideup()"><img  src="assets/images/inviteuser.svg"><span>Create Coupon</span></p>
                  <p (click)="logout()"><img src="assets/images/Sign_Out.svg"><span>Signout</span></p>
              </div> 
          </li>
        </ul>
</nav>
</div>
</div>



  <app-profile [isMyaccount]="isMyaccount" [isInvite]="isInvite" [isAlerts]="isAlerts" [isusers]="isusers" [isnotification]="isnotification" [isCoupon]="isCoupon"></app-profile>
