<div class="container-fluid">
  <div class="row">
<nav class="navbar-light naveOne col-12 d-flex">
  <div class="header-logdiv col-md-8">
    <span class="headerlogo">
      <img src="./../../../assets/a_images/headerimg/EZFlow-White-logo.svg" alt="EZFlow" class="header-logosize"/>
    </span>
  </div>
  <div class="col-md-4">
    <ul class="nav navTwo justify-content-end align-items-center">
      <!-- <li class=" nav-item notificationBell">
          <img class="notification-icon" (click)='seeNotifications()' src="assets/images/Notification_Bell.svg" alt="Notification_Bell">
          <div  class="notification-count">
            <span>{{notificationscount}}</span> 
           </div>
        </li> -->
    <li class="text-center" style="position: relative; bottom: 8px;">
      <!-- <img class="icon_middle pull-right" src="assets/images/pro1.png" alt="profile image" alt=""> -->
      <span  class="res-circle " *ngIf="profilePicture==false">
        {{firstletter|uppercase}}
      </span> 
       <span   *ngIf="profilePicture==true"><img class="res-circle " [src]="retrievedImage" alt="retrievedImage"></span>
        <span #toogleBtn (click)="myFunction()" class="dropbtn"> <img src="assets/images/arrow_down.svg" alt="arrow_down"></span>      
        <div>     
        <div  id="myDropdown" class="dropdown-content">
               <p (click)="accountSlideup()"  style="text-align: left;"><img  src="assets/images/account.svg" alt="account"><span>My Account</span></p>
               <p *ngIf="this.userRole.includes('System Admin') || this.userRole.includes('Platform Admin') || this.userManagementEnabled" (click)="usermanagementslideUp()"
                style="text-align: left;"><img  src="assets/images/usermanagementicon.svg" alt="usermanagementicon"><span>User Management</span></p>
                  <p *ngIf="this.userRole.includes('System Admin') || configurationEnabled" (click)="alertsSlideup()"
                  style="text-align: left;"><img  src="assets/images/config_alerts.svg" alt="config_alerts"><span>Configuration</span></p>
                  <p *ngIf="this.userRole.includes('System Admin') || inviteUserEnabled" (click)="inviteSlideup()"
                  style="text-align: left;"><img  src="assets/images/inviteuser.svg" alt="inviteuser"><span>Invite User</span></p>
                  <p *ngIf="this.userRole.includes('Platform Admin')"  (click)="couponSlideup()"
                  style="text-align: left;"><img  src="assets/images/inviteuser.svg" alt="inviteuser"><span>Create Coupon</span></p>
                  <p *ngIf="this.userRole.includes('Platform Admin')"  (click)="vaultManagement()"
                  style="text-align: left;"><img  src="assets/images/Vault.svg" alt="Vault"><span>Vault Management</span></p>
                  <p (click)="logout()"  style="text-align: left;"><img src="assets/images/Sign_Out.svg" alt="Sign_Out"><span>Signout</span></p>
              </div> 
        </div>
          </li>
      </ul>
    </div>
</nav>
</div>
</div>



  <app-profile [isMyaccount]="isMyaccount" [isInvite]="isInvite" [isAlerts]="isAlerts" [isusers]="isusers" [isnotification]="isnotification" [isCoupon]="isCoupon" [isvaultMangment]="isvaultMangment"></app-profile>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3385ff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"><p style="color:white" ></p></ngx-spinner>