.dashboardpagination
{
    margin-left: 60%;
}
.background{
    height: 800px;
    }
    .customer-table {
        margin-top: -16px;
    }
    .search-One{
        margin-top: 0px;
        margin-left: 221px;
    }
    .search{
    float: right;
    margin-bottom: 7px
    }