<!-- <tabset>
  <tab  heading="Dashboard" id="tab1">
    <app-superadminmetrics></app-superadminmetrics>
  </tab>
  <tab heading="Customers" id="tab2">
    <div class="background">
    <div class="container-fluid customer-table">
      <div class='row'>
      <div class='col-md-8'>
          <h4> </h4>
      </div>
      
      <div class='search-One'><br>
        <input class="form-control searchOne searching" type="text" name='search' id="search1"  [(ngModel)]="searchdashboard" placeholder="Search" autocomplete="off">
       <input class="form-control searchOne" type="text" placeholder="Search" #search="ngModel" [(ngModel)]="userFilter" aria-label="Search" [ngModelOptions]="{standalone: true}"/> 
      </div>
    </div>
    </div><br>
    <div class="container-fluid table-details">
      <table class="table table-striped col-md-12" border="2" aria-describedby="mydesc">
        <thead>
          <tr> 
            <th scope="col" sortable="area" (sort)="onSort($event)" class="tablecolumn-style" >Admin Name</th>
            <th scope="col" sortable="population" (sort)="onSort($event)" class="tablecolumn-style">Subscribed Plan</th>
            <th scope="col" sortable="population" (sort)="onSort($event)" class="tablecolumn-style">Latest Invoice Amount</th>
            <th scope="col" sortable="population" (sort)="onSort($event)" class="tablecolumn-style">Last Billing Date</th>
            <th scope="col" sortable="population" (sort)="onSort($event)" class="tablecolumn-style">Next Billing Date</th>
            <th scope="col" sortable="population" (sort)="onSort($event)" class="tablecolumn-style">Mobile</th>
            <th scope="col" sortable="population" (sort)="onSort($event)" class="tablecolumn-style">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of plans | paginate: { itemsPerPage: 10, currentPage: p } | FilterPipe: searchdashboard">
             <td>{{plan.tenantAdminName}}</td>
            <td>{{plan.subscribedPlan}}</td>
            <td>{{plan.lastInvoiceAmount|currency}}</td>
            <td>{{plan.lastBillingDate}}</td>
            <td>{{plan.dueDate}}</td><{{plan.nextBillingDate}}
            <td>{{plan.mobile}}</td>
            <td>{{plan.email}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="plans!=='undefined'" class="dashboardpagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3385ff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"><p style="color:white" ></p></ngx-spinner>
  </div>
  </tab>
</tabset> -->

<div class="tabs_screen h-100">    
  <p-tabView #tabView styleClass="tabview-custom" [(activeIndex)]="selected_tab_index" (onChange)="onTabChange($event, tabView)">
    <p-tabPanel header="Dashboard">
      <ng-template pTemplate="header">
        <mat-icon class="">dashboard</mat-icon>
        <span class="titlelabel">Dashboard</span>
      </ng-template>
      <div *ngIf="check_tab == 0">
        <app-superadminmetrics></app-superadminmetrics>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Customers">
      <ng-template pTemplate="header">
        <i class="pi pi-users" style="font-size: 1rem;"></i>
        <span class="titlelabel">Customers</span>
      </ng-template>
      <div *ngIf="check_tab == 1">
        <app-customers></app-customers>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Enterprise Requested Users">
      <ng-template pTemplate="header">
        <i class="pi pi-users" style="font-size: 1rem;"></i>
        <span class="titlelabel">Enterprise Requested Users</span>
      </ng-template>
      <div *ngIf="check_tab == 2">
        <!-- <app-enterprise-customers></app-enterprise-customers> -->
        <app-enterprise-requests></app-enterprise-requests>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Predefined Bots">
      <ng-template pTemplate="header">
        <i class="pi pi-ticket" style="font-size: 1rem;"></i>
        <span class="titlelabel">AI Agents</span>
      </ng-template>
      <div *ngIf="check_tab == 3">
        <app-ai-agents-tabs></app-ai-agents-tabs>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>


<!-- <mat-tab-group class="w-100" [selectedIndex]="selectedTab" (selectedTabChange)="onTabChanged($event)">
  <mat-tab label="Dashboard">
    <ng-template mat-tab-label>
      <mat-icon class="text-primary">dashboard</mat-icon>
      &nbsp;&nbsp;
      Dashboard
    </ng-template>
    <div *ngIf="check_tab==0">
      <app-superadminmetrics></app-superadminmetrics>
    </div>
  </mat-tab>
  <mat-tab label="Customers">

    <ng-template mat-tab-label>
      <mat-icon class="text-primary">supervised_user_circle</mat-icon>
      &nbsp;&nbsp;
      Customers
    </ng-template>
    <div *ngIf="check_tab==1">
      <div class="container-fluid table-details">
        <div class='search-One'><br>
          <input class="searchOne search" type="text" name='search' id="search1" [(ngModel)]="searchdashboard"
            placeholder="Search" autocomplete="off" />
        </div>
        <table class="table table-striped col-md-12" border="2" aria-describedby="mydesc">
          <thead>
            <tr>
              <th scope="col" sortable="area" class="tablecolumn-style">Admin Name <i (click)="onSortClick($event)"
                  class="my-icon fa fa-chevron-up"></i></th>
              <th scope="col" sortable="population" class="tablecolumn-style">Subscribed Plan
                <i (click)="onSortClick($event)" class="my-icon fa fa-chevron-up"></i>
              </th>
              <th scope="col" sortable="population" class="tablecolumn-style">Latest Invoice
                Amount <i (click)="onSortClick($event)" class="my-icon fa fa-chevron-up"></i></th>
              <th scope="col" sortable="population" class="tablecolumn-style">Last Billing Date
                <i (click)="onSortClick($event)" class="my-icon fa fa-chevron-up"></i>
              </th>
              <th scope="col" sortable="population" class="tablecolumn-style">Next Billing Date
                <i (click)="onSortClick($event)" class="my-icon fa fa-chevron-up"></i>
              </th>
              <th scope="col" sortable="population" class="tablecolumn-style">Mobile<i (click)="onSortClick($event)"
                  class="my-icon fa fa-chevron-up"></i></th>
              <th scope="col" sortable="population" class="tablecolumn-style">Email<i (click)="onSortClick($event)"
                  class="my-icon fa fa-chevron-up"></i></th>
              <th scope="col" sortable="population" class="tablecolumn-style">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let plan of plans | paginate: { itemsPerPage: 10, currentPage: p } | FilterPipe: searchdashboard">
              <td>{{plan.tenantAdminName}}</td>
              <td>{{plan.subscribedPlan}}</td>
              <td>{{plan.lastInvoiceAmount|currency}}</td>
              <td>{{plan.lastBillingDate}}</td>
              <td>{{plan.dueDate}}</td>
              <td>{{plan.mobile}}</td>
              <td>{{plan.email}}</td>
              <td>
                <button (click)="openEditOverlay(plan)">
                  <img src="../../../../assets/images/editCard.svg" alt="edit" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="plans!=='undefined'" class="dashboardpagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group> -->

<!-- Subscription Edit -->

