img.testplus {
    width: 16px;
    height: 16px;
    margin-right: 17px;
    cursor: pointer;
  }

.actionmenu:hover img.default-icon, .actionmenu img.hover-icon {
    display: none;
}

.actionmenu:hover img.hover-icon {
    display: initial;
}

.enterprise-layout{
    background: #f8f8f8;
    border-radius: 3px;
    overflow: auto;
    height: calc(100vh - 160px);
}

.table-container {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #ddd;
  }
  .confirmation-footer{
    margin-top: 20px;
    float: right;
  }
  // .confirmation-footer button{
  //   margin-left: 10px;
  // }
  .confirmation-footer button:last-child{
    margin-left: 20px;
  }
  .confirmation-text{
    padding: 20px;
  }
  
