<notifier-container></notifier-container>

<div id="foot">

    <div  class="slider_heading">
        <div class="cros">
            <span (click)="slideDown()"><img class="" src="assets/images/crossclose.svg"></span>
        </div>
    </div>               
                <div class="container" *ngIf="isMyaccount">
                    <!-- <div class="row"> -->

                      
                    <tabset >
                        <tab heading="My Account" id="tab1">
                        <div>
                            <form autocomplete="off" class="col-sm-12" #updateUser="ngForm" (ngSubmit)="updateAccount(form)">
                                <div class="row">
                                  <div class="form-group col-sm-3">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" #email="ngModel" class="form-control botmbordr" [(ngModel)]="formOne.userId"
                                                pattern="^\S*[@]\S*[.]\S*$" required email placeholder="Send from ex: abc@xyz.com" disabled/>
                                  
                                  </div>
                                  <div class="form-group col-sm-3">
                                    <label for="passwd">Password</label>
                                    <span class=" input-group" style="margin-left:0px">
                                    <input  
                                          [type]="(show==true) ? 'password' : 'text'" 
                                          name="passwd" 
                                          #passwd="ngModel" 
                                          class="form-control botmbordr" 
                                          [(ngModel)]="formOne.password"
                                          placeholder="Password"                
                                          minlength="10"
                                          autocomplete="new-password"
                                          required />
                                          <span (click)="toggle()" class="input-group-add pwd-class"> <i class="fa fa-eye" [ngClass]="(show==true) ? 'fa fa-eye' : 'fa fa-eye-slash'"  aria-hidden="true" ></i></span> 
                                        </span>
                                          <span *ngIf="((passwd.errors && updateUser.submitted) || (passwd.errors && passwd.touched) || (passwd.errors && passwd.minlength)) " class='fa fa-info-circle errspan'>
                                          <span *ngIf="passwd.errors.required">Password is required</span>
                                          <!-- <span *ngIf="passwd.errors.pattern">Password must be 8-20 characters and have at least one uppercase latter, one lowercase letter, one special character and one number</span> -->
                                    </span>
                                  </div>
                                    <div class="form-group col-sm-3">
                                        <label for="firstName">First Name</label>
                                        <input type="text" name="firstName" #firstName="ngModel" class="form-control botmbordr" (keypress)="lettersOnly($event)" [(ngModel)]="formOne.firstName" placeholder="Enter First Name" maxlength="25" required/>
                                    <span *ngIf="((firstName.invalid && updateUser.submitted) || (firstName.errors && firstName.touched) )" 
                                        class='fa fa-info-circle errspan'>
                                    First Name is required </span>
                                        </div>
                              
                                          <div class="form-group col-sm-3">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" name="lastName" #lastName="ngModel" class="form-control botmbordr" (keypress)="lettersOnly($event)" [(ngModel)]="formOne.lastName" placeholder="Enter Last Name" maxlength="25" required alphabetOnly />
                                                <span *ngIf="((lastName.invalid && updateUser.submitted) || (lastName.errors && lastName.touched) )" 
                                                class='fa fa-info-circle errspan'> Last Name is required </span>
                                            </div>
                                          <div class="form-group col-sm-3">
                                            <label for="jobTitle">Job Title</label>
                                            <input type="text" name="jobTitle" #jobTitle="ngModel" class="form-control botmbordr" (keypress)="lettersOnly($event)" [(ngModel)]="formOne.designation" placeholder="Enter Job Title" maxlength="25" required alphabetOnly/>
                                            <span *ngIf="((jobTitle.invalid && updateUser.submitted) || (jobTitle.errors && jobTitle.touched) )" 
                                            class='fa fa-info-circle errspan'>Job Title is required </span>
                                        </div>
                                       
                                        <div class="form-group col-sm-3">
                                          <label for="company">Company</label>
                                          <input type="text" name="company" #company="ngModel" class="form-control botmbordr" [(ngModel)]="formOne.company" placeholder="Enter Company" maxlength="25" required alphabetOnly />
                                          <span *ngIf="((company.invalid && updateUser.submitted) || (company.errors && company.touched) )" 
                                          class='fa fa-info-circle errspan'> Company is required </span> 
                                        
                                        </div>
                          
                                         <div class=" form-group col-md-3 ">
                                          <label for="Department">Department</label>
                                          <select id="department" class="form-control botmbordr" name='department' (change)="onChangeDepartment(formOne.department)" #department="ngModel" [(ngModel)]="formOne.department" required>
                                            <!-- <option  [selected]=true >Select</option> -->
                                            <option  [value]="undefined" disabled hidden>Department</option>
                                            <option *ngFor="let department of listOfDepartments"  [value]="department">{{department}}</option>
                                            <option value='Others'>Others</option>
                                          </select>
                                          <span *ngIf="((department.invalid && updateUser.submitted)|| (department.errors && department.touched))"
                                                    class='fa fa-info-circle errspan'> Department is required </span>
                                        </div>
                                        
                                        <div class="form-group col-sm-3" *ngIf="addDepartment">
                                            <label for="Department">Other Department</label>
                                            <input type="text" name="otherDepartment" #otherDepartment="ngModel" maxlength="25" (keypress)="lettersOnly($event)" class="form-control botmbordr" [(ngModel)]="otherdepartment" placeholder="Department Name" maxlength="25" required alphabetOnly />
                                            <span *ngIf="((otherDepartment.invalid && updateUser.submitted) || (otherDepartment.errors && otherDepartment.touched) )" 
                                            class='fa fa-info-circle errspan'> Department Name is required </span> 
                                          </div>
                                          <div class="form-group col-sm-3">
                                                <label for="country">Country</label>
                                                <select id="country" name='country' class="form-control botmbordr" (change)='onChangeCountry(formOne.country)' #country="ngModel" [(ngModel)]="formOne.country" required>
                                                        <option hidden disabled [ngValue]="undefined" [selected]=true>Country</option>
                                                 <option *ngFor="let country of countryInfo" [ngValue]="country.CountryName">{{country.CountryName}}</option>
                                                  </select>
                                                  <span *ngIf="((country.invalid && updateUser.submitted)|| (country.errors && country.touched))"
                                                    class='fa fa-info-circle errspan'> Country is required </span>
                                              </div>
                                              <div class=" col-md-3 form-group inner-addon left-addon">
                                                  <label for="state">State</label>
                                                  <!-- <img src="assets/images/registration/State.svg" class="icon"> -->
                                                  <select class="form-control botmbordr" (change)="onChangeState($event.target.value)" name='state' #state='ngModel' [(ngModel)]="formOne.state" required>
                                                    <!-- <option *ngIf="stateInfo == ''" value="-1">State</option> -->
                                                    <option  [value]="undefined" disabled hidden>State</option>
                                                    <option  [value]="null" disabled hidden>State</option>
                                                    <option *ngFor="let state of stateInfo; let j = index" [value]='state.StateName'>{{state.StateName}}</option>
                                                  </select>
                                                  <span *ngIf="((state.invalid && updateUser.submitted)|| (state.errors && state.touched))"
                                                    class='fa fa-info-circle errspan'> State is required </span>
                                                </div>
                                    
                                                <div class=" col-md-3 form-group inner-addon left-addon">
                                                    <label for="city">City</label>
                                                  <!-- <img src="assets/images/registration/town.svg" class="icon"> -->
                                                  <select class="form-control botmbordr"  (change)="onChangeCity($event.target.value)" name='city' #city='ngModel' [(ngModel)]='formOne.city' required>
                                                    <option *ngIf="cityInfo == ''" value="-1">City</option>
                                                    <option  [value]="undefined" disabled hidden>City</option>
                                                    <option  [value]="null" disabled hidden>City</option>
                                                    <option *ngFor="let city of cityInfo; let k = index" [value]="city">{{city}}</option>
                                                  </select>
                                                  <span *ngIf="((city.invalid && updateUser.submitted)|| (city.errors && city.touched))"
                                                    class='fa fa-info-circle errspan'> City is required </span>
                                                </div>
                                                <div class="form-group col-sm-3 inner-addon left-addon">
                                                    <label for="zipCode">Zip Code</label>
                                                    <!-- <img src="assets/images/registration/Zip Code.svg" class="icon"> -->
                                                    <input type="text" (keydown)="onKeydown($event)" name="zipCode" #zipCode="ngModel" class="form-control botmbordr" [(ngModel)]="formOne.zipCode"
                                                       onKeyPress="if(this.value.length==6) return false;" placeholder="Zip Code" required>
                                                    <span *ngIf="((zipCode.invalid && updateUser.submitted)|| (zipCode.errors && zipCode.touched))"
                                                      class='fa fa-info-circle errspan'> Zip Code is required </span>
                                                  </div>

                                             
                                                             
                                          <div class="form-group col-sm-3">
                                            <label for="phoneumber">Phone</label>
                                                  <div>
                                                    <input type="text" (keydown)="onKeydown($event)"  id="phoneNumber" name="phoneumber" class="form-control botmbordr phonenumber" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
                                                        #phoneumber="ngModel" [(ngModel)]="formOne.phoneNumber" onKeyPress="if(this.value.length==10) return false;" required/>
                                            <span *ngIf="((phoneumber.invalid && updateUser.submitted) || (phoneumber.errors && phoneumber.touched) )" 
                                            class='fa fa-info-circle errspan'> Phone Number is required </span>
                                                </div>
                                                </div> 

                                                <!-- <div class="form-group col-sm-3">
                                                  <label for="phoneNumber">Phone</label>
                                                  <input type="number" name="phoneNumber" #phoneNumber="ngModel" minlength="8" class="form-control botmbordr numberInput" [(ngModel)]="formOne.phoneNumber" placeholder="Enter Phone Number" maxlength="25" required 
                                                  [ngClass]="{ 'is-invalid': ((phoneNumber.invalid && updateUser.submitted) || (phoneNumber.errors && phoneNumber.touched) ) }" />
                                                  <span *ngIf="((phoneNumber.invalid && updateUser.submitted) || (phoneNumber.errors && phoneNumber.touched) )" 
                                                  class='fa fa-info-circle errspan'>Phone Number is required </span>
                                                </div>
                                                <div class="col-sm-6">
                                                </div> -->
                                    <div class="form-group updat_btndiv">
                                        <button type="submit" class="btn btn-continue float-right update_btn"  [disabled] = "updateUser.invalid">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                      </tab>
                        
                        <tab *ngIf="this.userRole=='Admin'" heading="Subscriptions" (selectTab)=onselectSubscrptionTab()>
                            <div class="search-One">
                                <form class="form-inline d-flex  md-form form-sm">
                                        <input class="form-control searchOne" type="text" placeholder="Search" #search="ngModel" [(ngModel)]="searchvalue" aria-label="Search" [ngModelOptions]="{standalone: true}"/>
                                        <i class="fa fa-fw fa-search usersearch" aria-hidden="true"></i>
                                      </form>
                                </div>
                        <div class="subscrption_id">
                                <table class="table table-borderless col-md-12 table-hover">
                                  <thead>
                                    <tr>
                                      <th scope="col" class="types">Subscription Id</th>
                                      <th scope="col" class="types">Product</th>
                                      <th scope="col" class="types">Plan</th>
                                      <th scope="col" class="types">Amount</th>
                                      <th scope="col" class="types">Status</th>
                                      <th scope="col" class="types">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody class="col-md-12" *ngFor= "let sdata of tableData | FilterPipe: searchvalue ;let i=index;trackBy:loopTrackBy;">
                                    <tr >
                                      <td >{{sdata.subscriptionId}}</td>
                                      <td>{{sdata.name}}</td>
                                      <td>{{sdata.planId}}</td>
                                      <td>{{sdata.planEntity.amount}}</td>
                                      <td>{{sdata.status}}</td>
                                      <td  class="deleticon"><span  (click)="subscriptiondata(sdata,i,detailstemplate)"><img src="assets/images/eyeIcon.svg" alt=""> </span><span *ngIf = "sdata.status === 'Active'" (click)="selecteddata(sdata,i,template)"> <img src="assets/images/unsubscribe.svg" alt=""></span>
                                        <div id="myid" [ngClass]="selectedIndex == i?'isdelet':''" class="deletconfm">
                                          <div class="container-fluid deletefrm">
                                        <h5 class="pull-left">Confirmation</h5>
                                        <button type="button" class="close " aria-label="Close" (click)="unsubscribeNo(i)">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        <p class="pull-left">Are you sure you want to cancel the Subscription ?</p>
                                        <button class="pull-left confm" (click)="unsubscribeYes(i)">Yes</button>
                                        <button class="confm pull-left" (click)="unsubscribeNo(i)">No</button>
                                        </div>
                                        </div>
                                      </td>
                                      <td class = "deleticon">
                                        <button class="btn btn-primary" *ngIf = "sdata.status != 'Active'" (click)="reactivatesubscription(sdata)">Reactivate</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                        </div>
                      </tab>

                        <tab *ngIf="this.userRole=='Admin'" heading="Invoice" (selectTab)=onselectInvoiceTab()>
                            <div class="search-One">
                                <form class="form-inline d-flex  md-form form-sm">
                                        <input class="form-control searchOne" type="text" placeholder="Search" #search="ngModel" [(ngModel)]="searchvalue" aria-label="Search" [ngModelOptions]="{standalone: true}"/>
                                        <i class="fa fa-fw fa-search usersearch" aria-hidden="true"></i>
                                      </form>
                                </div>
                        <div class="container invoice_id">
                                <table class="table table-borderless table-hover">
                                  <thead>
                                    <tr>
                                      <th scope="col" class="types">Invoice Number</th>
                                      <th scope="col" class="types">Subscription</th>
                                      <th scope="col" class="types">Amount</th>
                                      <th scope="col" class="types">Refund</th>
                                      <th scope="col" class="types">Due Date</th>
                                      <th scope="col" class="types">Status</th>
                                      <th scope="col" class="types">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody >
                                    <tr *ngFor="let invdata of invoicedata | FilterPipe: searchvalue ;let i=index;trackBy:loopTrackBy;">
                                      <td>{{invdata.invoiceNumber}}</td>
                                      <td>{{invdata.subscriptionId}}</td>
                                      <td>{{invdata.amount}}.00 USD</td>
                                      <td>{{invdata.refund || "NA"}}</td>
                                        <td>{{invdata.duedate || "NA"}}</td>
                                        <td>{{invdata.status}}</td>
                                      <td><span  (click) = "invoicedownload(invdata)"><img class="download" src="assets/images/download_icon.svg"></span></td>
                                    </tr>
                                  </tbody>
                                </table>
                        </div>
                      </tab>
                        
                        <tab *ngIf="this.userRole=='Admin'" heading="Payment Mode" (selectTab)=onselectPaymentModeTab()>
                            <div class="search-One">
                                <form class="form-inline d-flex  md-form form-sm">
                                        <input class="form-control searchOne" type="text" placeholder="Search" #search="ngModel" [(ngModel)]="searchvalue" aria-label="Search" [ngModelOptions]="{standalone: true}"/>
                                        <i class="fa fa-fw fa-search usersearch" aria-hidden="true"></i>
                                      </form>
                                </div>
                        <div class="container paymode">
                                <table class="table table-borderless table-hover">
                                  <thead>
                                    <tr>
                                      <th scope="col" class="cardtype">Card Type</th>
                                      <th scope="col" class="cardtypes">Card</th>
                                      <th scope="col" class="cardtype">Expiration Date</th>
                                      <th scope="col" class="cardtype">Created Date</th>
                                      <th scope="col" class="cardtype">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let cardData of paymentMode | FilterPipe: searchvalue ;let i=index;trackBy:loopTrackBy;" >
                                      <td>{{cardData.cardBrand}}</td>
                                      <td class="cardtable">{{cardData.cardLast4}} 
                                        <span [ngClass]="defaultcard == i?'isdefaultCard':''" (click)="defaultcardselect(cardData,i)" class="cardbox">{{cardData.defaultSource}}</span></td>
                                        <!-- <span *ngIf='cardData.defaultSource'><button class="btn default_btn">Default</button></span> -->
                                      <td>{{cardData.cardExpMonth}}/{{cardData.cardExpYear}}</td>
                                      <td>{{cardData.created | date}}</td>
                                      <td class="deletcard"><span aria-hidden="true" class="cross_delet"  (click)="deletCard(cardData,i)">&times;</span>
                                        
                                        <div id="delete-card"  *ngIf="closeFlag" [ngClass]="deletCardIndex == i?'isdeletcard':''" class="deletconfm">
                                            <div class="container-fluid deletefrm">
                                          <h5 class="pull-left">Confirmation</h5>
                                                                 <button type="button" class="close " aria-label="Close" (click)="cancelDeleteCard(i)">
                                             <span aria-hidden="true">&times;</span>
                                            </button>
                                          <p class="pull-left">Are you sure you want to remove the card?</p>
                                          <button class="pull-left confm" (click)="confrmDeleteCard(cardData)">Yes</button>
                                          <button class="confm pull-left" (click)="cancelDeleteCard(i)">No</button>
                                          </div>
                                          </div>

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                        </div>
                      </tab>
                      </tabset>
        </div>


        <div class="container" *ngIf="isInvite">
                <div class="row">
                    <div  class="col-md-12">
                            <h4 class="invite">Invite User</h4>
                    </div>
                    <div class="col-md-4 invteform">
                                        <form autocomplete="off" #inviteuser="ngForm" (ngSubmit)="!inviteuser.invalid && onsubmit()">
                                            <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="text" name="email" #email="ngModel" class="form-control" [(ngModel)]="emailId"
                                                      pattern="^\S*[@]\S*[.]\S*$" required email placeholder="Email address ex: abc@xyz.com"
                                                      [ngClass]="{ 'is-invalid': ((email.invalid && inviteuser.submitted) || (email.errors && email.touched) ) }" />
                                                    <span *ngIf="((email.invalid && inviteuser.submitted) || (email.errors && email.touched) ) "
                                                      class='fa fa-info-circle errspan'>
                                                      <span *ngIf="email.errors.required">Email is required</span>
                                                      <span *ngIf="email.errors.pattern">Enter valid email address</span>
                                                    </span>
                                                  </div>

                                            <div class="form-group">
                                              <label for="application">Application</label>
                                              <select class="form-control" name="application"  id="application" required>
                                                <option  [value]="undefined" disabled hidden>Select Application</option>
                                                <option *ngFor="let application of listOfUserApplications"  [value]="application">{{application}}</option>
                                              </select>
                                            </div>
                                            <div class="form-group">
                                                    <label for="Role">Role</label>
                                                    <select class="form-control" name="Role" #Role="ngModel" [(ngModel)]="role" id="Role" required>
                                                        <option  [value]="undefined" disabled hidden>Select Role</option>
                                                        <option value="Admin">Admin</option>
                                                        <option value="User">User</option>
                                                    </select>
                                                  </div>
                                                  <button [disabled]="inviteuser.invalid || showErr" class="btn btn-primary btn-rounded btn-block my-4 waves-effect" type="submit">Submit</button>
                                          </form>
                            </div>
                    </div>
                </div>



                <div class="container users" *ngIf="isusers">
                        <div class="">
                            <tabset >
                            <tab  heading="User Management" id="tab1">
                                <div class="search-One">
                                    <form class="form-inline d-flex  md-form form-sm">
                                        <input class="form-control searchOne" type="text" placeholder="Search" #search="ngModel" [(ngModel)]="searchUser" aria-label="Search" [ngModelOptions]="{standalone: true}"/>
                                        <i class="fa fa-fw fa-search usersearch" aria-hidden="true"></i>
                                      </form>
                                    </div>
                            <div class="container usermanagement">
                                    <table class="table table-borderless table-hover">
                                      <thead>
                                        <tr>
                                          <th scope="col" class="types">User Id</th>
                                          <th scope="col" class="types">First Name</th>
                                          <th scope="col" class="types">Last Name</th>
                                          <th scope="col" class="types">Designation</th>
                                          <th scope="col" class="types">Organisation</th>
                                          <th scope="col" class="types">Department</th>
                                          <th scope="col" class="types">Product</th>
                                          <th scope="col" class="types">Roles</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let userdata of userManagement | FilterPipe:searchUser;trackBy:loopTrackBy;">
                                          <td>{{userdata.id}}</td>
                                          <td>{{userdata.firstName}}</td>
                                          <td>{{userdata.lastName}}</td>
                                          <td>{{userdata.Designation}}</td>
                                          <td>{{userdata.Organisation}}</td>
                                          <td>{{userdata.Department}}</td>
                                          <td class="tableborder">{{userdata.Product}}</td>
                                          <td class="tableborder">{{userdata.Roles}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                            </div>
                      </tab>
                      <tab heading="Departments">
                          <div class="search-One">
                              <form class="form-inline d-flex  md-form form-sm">
                                  <input class="form-control searchOne" type="text" placeholder="Search" #search="ngModel" [(ngModel)]="searchUser" aria-label="Search" [ngModelOptions]="{standalone: true}"/>
                                  <i class="fa fa-fw fa-search usersearch" aria-hidden="true"></i>
                                </form>
                              </div>
                            <div class="container department">
                            <table class="table table-borderless table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="types">User Id</th>
                                        <th scope="col" class="types">First Name</th>
                                        <th scope="col" class="types">Last Name</th>
                                        <th scope="col" class="types">Designation</th>
                                        <th scope="col" class="types">Organisation</th>
                                        <th scope="col" class="types">Department</th>
                                        <th scope="col" class="types">Product</th>
                                        <th scope="col" class="types">Roles</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let userdata of userManagement | FilterPipe:searchUser; trackBy:loopTrackBy;">
                                            <td>{{userdata.id}}</td>
                                            <td>{{userdata.firstName}}</td>
                                            <td>{{userdata.lastName}}</td>
                                            <td>{{userdata.Designation}}</td>
                                            <td>{{userdata.Organisation}}</td>
                                            <td>{{userdata.Department}}</td>
                                            <td class="tableborder">{{userdata.Product}}</td>
                                            <td class="tableborder">{{userdata.Roles}}</td>
                                            </tr>
                                    </tbody>
                                  </table>
                            </div>
                          </tab>

                         <tab heading="Roles">
                            <div class="search-One">
                                <form class="form-inline d-flex  md-form form-sm">
                                    <input class="form-control searchOne" type="text" placeholder="Search" #search="ngModel" [(ngModel)]="searchUser" aria-label="Search" [ngModelOptions]="{standalone: true}"/>
                                    <i class="fa fa-fw fa-search usersearch" aria-hidden="true"></i>
                                  </form>
                                </div>
                            <div class="container role">
                                    <table class="table table-borderless table-hover">
                                            <thead>
                                              <tr>
                                                <th scope="col" class="types">User Id</th>
                                                <th scope="col" class="types">First Name</th>
                                                <th scope="col" class="types">Last Name</th>
                                                <th scope="col" class="types">Designation</th>
                                                <th scope="col" class="types">Organisation</th>
                                                <th scope="col" class="types">Department</th>
                                                <th scope="col" class="types">Product</th>
                                                <th scope="col" class="types">Roles</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let userdata of userManagement | FilterPipe:searchUser; trackBy:loopTrackBy;">
                                                <td>{{userdata.id}}</td>
                                                <td>{{userdata.firstName}}</td>
                                                <td>{{userdata.lastName}}</td>
                                                <td>{{userdata.Designation}}</td>
                                                <td>{{userdata.Organisation}}</td>
                                                <td>{{userdata.Department}}</td>
                                                <td class="tableborder">{{userdata.Product}}</td>
                                                <td class="tableborder">{{userdata.Roles}}</td>
                                               </tr>
                                            </tbody>
                                          </table>
                            </div>
                            </tab>
                          </tabset>
                </div>
            </div>

            <div *ngIf="isnotification" class="container">
              <div class="row">
                <div class="col-md-12">
                    <h4 class="noticationheading">Notifications</h4>
                </div>
                <div class="notificatnmsgs col-md-12">
                    <table class="table table-borderless table-hover">
                            <thead>
                              <tr>
                                <th scope="col" style="width:60%;">Notifications</th>
                                <th scope="col" style="width:300px;">Date</th>
                                <th scope="col" style="width:200px;">Time</th>
                                <th scope="col" style="width:200px !important;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let messageList of nitificationList; let i = index; trackBy:loopTrackBy;">
                                <td>{{messageList.mailBody}}</td>
                                <td>{{messageList.createdAt | date}}</td>
                                <td>{{messageList.createdAt | date:"HH:mm:s"}}</td>
                                <td class=""><span aria-hidden="true" (click)='deletnotification(messageList.id)' class="cross_delet">&times;</span>
                              
                                
                                <div id="myid" [ngClass]="messageList.id == dataid?'isdelet':''" class="deletconfm">
                                    <div class="container-fluid deletefrm">
                                  <h5 class="pull-left">Confirmation</h5>
                                  <button type="button" class="close " aria-label="Close" (click)="canceldeleteNotification(i)">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  <p class="pull-left">Are you sure you want to delete notification ?</p>
                                  <button class="pull-left confm">Yes</button>
                                  <button class="confm pull-left" (click)="canceldeleteNotification(i)">No</button>
                                  </div>
                                  </div>
                                </td>                              
                              </tr>
                            </tbody>
                          </table>
                </div>
            </div>
          </div>

    </div>

    <ng-template #template >
        <div class="modal">
          <div class="container">
            <div class="modal-body row">
                <div class="col-md-12">
                    <h4 class="modal-title pull-left">We are sorry to see you go</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div >
                <div class="col-md-12 subheadin">
                  <p>If you have a moment, please let us know why you want to unsubscribe:</p>
                </div>
                <div class="col-md-12 infocheck">
                  <input type="checkbox" [(ngModel)]="stopcheckbox" ><span>I stopped using this account</span>
                </div>
                <div class="col-md-12 infocheck">
                    <input type="checkbox" [(ngModel)]="pricecheckbox"> <span>Price of the plan is high</span>
                  </div>
                  <div class="col-md-12 infocheck">
                      <input type="checkbox" [(ngModel)]="plancheckbox"> <span>Subscribed another plan</span>
                    </div>
                <div class="col-md-12" class="textfield">
                  <p>If other reason (please explain below).</p>
                  <textarea name="feedback" [(ngModel)]="feedbackbox"></textarea>
                </div>
                <div class="col-md-12 submitbtn">
                  <button class="btn btn-primary" (click)="infoModelSubmit()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #detailstemplate >
          <div class="modal">
            <div class="container">
              <div class="modal-body row">
                  <div class="col-md-12">
                      <h4 class="modal-title pull-left">Subscription Details</h4>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div >
                  <div class="col-md-12 infocheck">
                    <label for="subscriptionid">Subscription ID : </label>
                    <input type="text" [disabled]=true name="subscriptionid" #subscriptionid="ngModel" class="form-control botmbordr" [(ngModel)]="subscribeddata.subscriptionId"/>     
                              </div>
                  <div class="col-md-12 infocheck">
                    <label for="product">Product : </label>
                    <input type="text" [disabled]=true name="product" #product="ngModel" class="form-control botmbordr" [(ngModel)]="subscribeddata.name"/>     
 
                    </div>
                    <div class="col-md-12 infocheck">
                      <label for="planid">Plan ID : </label>
                      <input type="text" [disabled]=true name="planid" #planid="ngModel" class="form-control botmbordr" [(ngModel)]="subscribeddata.planId"/>     
   
                      </div>
                      <div class="col-md-12 infocheck">
                        <label for="billingaccount">Billing Account : </label>
                        <input type="text" [disabled]=true name="billingaccount" #billingaccount="ngModel" class="form-control botmbordr" [(ngModel)]="subscribeddata.billingService.billingAccount"/>     
     
                        </div>
   
                        <div class="col-md-12 infocheck">
                          <label for="status">Status : </label>
                          <input type="text" [disabled]=true name="status" #status="ngModel" class="form-control botmbordr" [(ngModel)]="subscribeddata.billingService.status"/>     
       
                          </div>
   
                  <div class="col-md-12 submitbtn">
                    <button class="btn btn-primary" (click)="infoModelSubmit()">Change Plan</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>