
   <div class="step_main container">
    <div class="row">
    <!-- Commenting below code to bypass the actual registration process in cloud -->
   <!-- <div class="col-md-8 step_sub register_account">
     <div class="step_circle"><span>1</span></div>
     <div class="step_bar-left"></div>
     <div class="step_bar-text">VERIFY E-MAIL</div>
   </div>
   <div class="col-md-4 step_sub email_verified">
     <div class="step_circle"><span>2</span></div>
     <div class="step_bar-text1">ACCOUNT SETUP</div>
     <!-- <div class="step_bar-left"></div> 
   </div> -->
 </div>
 </div>
 