.side_drp {
  position: fixed;
  top: 60px !important;
  left: calc(100vw - 336px) !important;
  height: calc(100vh - 60px);
  width: 336px;
  box-shadow: 3px 0px 6px #bcbcbc;
  border: 1px solid #dadada;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  overflow: auto;
}


