<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <img style="width:170px !important; margin: 10px;" src="assets/images/EZFlow.png" alt="EZFlow">
            </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-3 custom-bg-gray" style="margin-left: x; left: 0;" *ngIf="!isReview_order">
            <div class="enterprise-plan-wrapper">
                <div class="text-center enterprise-plan" style="background-color:#098de6; color:white">
                    <h4>Enterprise Plan</h4>
                </div>
            </div>
            <div class="enterprise-content">
                <div class="exclusive-pricing">
                    <h4>Exclusive Pricing</h4>
                </div>
                <div class="features">
                    <ul *ngFor="let plan of enterPrise_plan.features">
                        <li>{{plan}}</li>
                    </ul>                    
                </div>
                <button class="btn btn-primary contact" id="sales-btn" (click)="sendEmailEnterPrisePlan()">CONTACT SALES</button>
            </div>
        </div>
        
    <div class="col-md-9" style="padding-right: 50px;" *ngIf="!isReview_order">
        <div class="col-md-12 custom-bg-gray">
            <div class="bot-headers">
                <h4 class="BotHeading" style="flex: 1;">Predefined Bots</h4>
                <div class="toggle-container">
                    <span [ngClass]="{ 'selected': selectedPlan === 'Monthly' }" style="padding:0 10px 0 10px">Monthly</span>
                    <p-inputSwitch [(ngModel)]="selectedInterval" (onChange)="toggleChanged()"></p-inputSwitch>
                    <span [ngClass]="{ 'selected': selectedPlan === 'Yearly' }" style="padding:0 10px 0 10px">Annually</span>
                </div>
            </div>
            <div class="col-md-12 bots-list">
                <div class="row">
                    <div class="col-md-6 bot-plans" *ngFor="let plan of botPlans; let i = index">
                        <div class="bot-details">
                            
                            <div class="container">
                                <div class="row" style="justify-content: center; align-items: center;">
                                  <div class="col">
                                    <div class="square" (click)="!((selectedPlan === 'Monthly' && plan.isMonthlySubscribed) || (selectedPlan === 'Yearly' && plan.isYearlySubscribed)) && onSelectPredefinedBot(plan, i)" [ngClass]="{'selected-square': plan.isSelected}" (mouseenter)="showBotInfo($event)" (mouseleave)="hideBotInfo()">
                                      <div class="image-top">
                                        <img [src]="plan.image" class="img-fluid" alt="Top Image">
                                      </div>
                                      <div class="content">
                                        <div class="text">
                                          <span style="font-weight: 700;">{{plan.name}}</span>
                                          <div class="text-center" style="margin: 5px 0 0 0;" *ngFor="let detail of plan.priceCollection">
                                            <div *ngIf="detail.tiersMode === 'month' && selectedPlan === 'Monthly' ">
                                                <div *ngIf="detail.isPlanSubscribed && detail.tiersMode=== 'month' && selectedPlan === 'Monthly'">
                                                    <span *ngIf="true" class="active-plan">Active Plan</span>
                                                </div>
                                                <b style="font-size: 1rem;">$ {{detail.unitAmount}} USD / </b><b>{{detail.tiersMode}}</b>
                                            </div>
                                            <div *ngIf="detail.tiersMode === 'year' && selectedPlan === 'Yearly' ">
                                                <div *ngIf="detail.isPlanSubscribed && detail.tiersMode=== 'year' && selectedPlan === 'Yearly'">
                                                    <span *ngIf="true" class="active-plan">Active Plan</span>
                                                </div>
                                                <b style="font-size: 1rem;">$ {{detail.unitAmount}} USD / </b><b>{{detail.tiersMode}}</b>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="image-bottom">                  
                                            <div  
                                            class="circle text-center" 
                                            style="display: flex; justify-content: center; align-items: center;  cursor: pointer; height: 50px; width: 50px; line-height: 10px; margin: 0;" 
                                            (click)="!((selectedPlan === 'Monthly' && plan.isMonthlySubscribed) || (selectedPlan === 'Yearly' && plan.isYearlySubscribed)) && onSelectPredefinedBot(plan, i)" 
                                            [ngClass]="{'selected-circle': plan.isSelected, 'circle-color': !plan.isSelected}"
                                            >
                                            <img src="../../../assets/microbot.png" alt="" width="30px" height="40px">
                                        </div>
                                        </div>
                                      </div>

                                      <div class="bot-info" [ngClass]="{'left': isSpaceOnLeft, 'right': !isSpaceOnLeft}" *ngIf="showBotInfoFlag">
                                        <div class="container-one">
                                            <!-- <div class="left-side">
                                                <div class="plan-details">
                                                    <div class="circle text-center" (click)="!((selectedPlan === 'Monthly' && plan.isMonthlySubscribed) || (selectedPlan === 'Yearly' && plan.isYearlySubscribed)) && onSelectPredefinedBot(plan, i)" 
                                                        [ngClass]="{'selected-circle': plan.isSelected, 'circle-color': !plan.isSelected}">
                                                        <img src="../../../assets/microbot.png" alt="" width="40px" height="40px">
                                                    </div>
                                                    <div style="font-weight: bold;"> {{plan.name}} </div>
                                                    <div class="price-details">
                                                        <div class="price" *ngFor="let detail of plan.priceCollection">
                                                            <div *ngIf="detail.tiersMode === 'month' && selectedPlan === 'Monthly' ">
                                                                <div *ngIf="detail.isPlanSubscribed && detail.tiersMode=== 'month' && selectedPlan === 'Monthly'">
                                                                    <span *ngIf="true" class="active-plan">Active Plan</span>
                                                                </div>
                                                                <b style="font-size: 1.5rem;">$ {{detail.unitAmount}}/</b><b>{{detail.tiersMode}}</b>
                                                            </div>
                                                            <div *ngIf="detail.tiersMode === 'year' && selectedPlan === 'Yearly' ">
                                                                <div *ngIf="detail.isPlanSubscribed && detail.tiersMode=== 'year' && selectedPlan === 'Yearly'">
                                                                    <span *ngIf="true" class="active-plan">Active Plan</span>
                                                                </div>
                                                                <b style="font-size: 1.5rem;">$ {{detail.unitAmount}}/</b><b>{{detail.tiersMode}}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="right-side">
                                                <div>
                                                    <div class="description-box">
                                                        <span> {{ plan.description }} </span>
                                                        <ul style="list-style-type:none;">
                                                            <li *ngFor="let item of plan.features"> <i class="pi pi-check" style="font-size: 0.4rem; font-weight: 600; color: #fff; background-color: #098de6; border-radius: 50%; padding: 4px;"> </i> {{ item }} </li>
                                                        </ul>   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                              
                                  </div>
                                </div>
                            </div>      
                        </div>                         
                    </div>
                </div>
                </div>
            </div>
            <!-- <div class="col-md-12 form-group text-end" style="margin-top: 20px; display: inline-flex;justify-content: center;">
                <span [disabled]="isDisabled" class="plans-button text-center" [ngClass]="{ 'selected': selectedPlan === 'Monthly' }" (click)="planSelection('Monthly')"> Monthly </span>
                <span [disabled]="isDisabled" class="plans-button text-center ml-2" [ngClass]="{ 'selected': selectedPlan === 'Yearly' }" (click)="planSelection('Yearly')"> Yearly </span>
                <button [disabled]="isDisabled" class="plans-button text-center" [ngClass]="{ 'selected': selectedPlan === 'Monthly' }" (click)="planSelection('Monthly')"> Monthly </button>
                <button [disabled]="isDisabled" class="plans-button text-center ml-2" [ngClass]="{ 'selected': selectedPlan === 'Yearly' }" (click)="planSelection('Yearly')"> Yearly </button>
            </div> -->
            <div class="row">
                <div class="col-md-8 d-flex align-items-center justify-content-center" style="margin: 10px 0 0 50px;">
                    <div class="text-center" >
                        <h5 class="price-line">Your estimated 
                            <span *ngIf="selectedPlan === 'Monthly'">Monthly</span>
                            <span *ngIf="selectedPlan === 'Yearly'">Annual</span>
                            price <span class="price-amt"> $ {{totalAmount}}</span>.00 <sup style="font-size: small;">excl taxes</sup> 
                        </h5>
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-center justify-content-end">
                    <div class="text-right" style="margin: 10px 0px 5px 0;">
                        <button type="button" class="btn btn-primary btn-plan" (click)="paymentPlan()" [disabled]="isDisabled" style="width: 150px;"> Proceed </button>
                    </div>
                </div>
            </div> 
        </div>
        </div>
        <div *ngIf="isReview_order">
            <app-order-payment [planDetails]="selected_plans_list" (backtoScreen)="readValue($event)" [log_data]="log_data" [isRegistered] = "isRegistered"></app-order-payment>
        </div>
    </div>
</div>

<ngx-spinner bdColor="#bebcbc66" type="">
    <img  src='../../../assets/images/EZFlow_Loader.gif' class="ezflow-loader" alt="EZFlow_Loader"/>
  </ngx-spinner>
