.label-control {
    font-size: 23px;
    color: black;
    font-weight: bolder;
}

.form-control {
    height: 45px !important;
}

.bot-plans{
    margin: 10px 0 0 0;
    min-height : 240px;
    max-height : max-content;
    padding: 3px;
}

.circle {
    width: 75px;
    height: 75px;
    line-height: 65px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 auto 10px;
}
.circle-color{
    border: 1px solid #098de6;
}
.selected-circle{
    // border: 2px solid #97ce20;
    border: 6px solid #098de6;
}

.line {
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #098de6;
    width: 70px;
    margin: 10px 0 0 75px;
}

.bot-details:hover{
    -webkit-box-shadow: -5px -3px 39px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px -3px 39px -9px rgba(0,0,0,0.75);
    // box-shadow: -5px -3px 39px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, 0.75);
    padding: 5px;
    border: 2px solid #21a1f7;
    border-radius: 10px;
}

.contact:hover{
    border: 1px solid #098de6 !important;
    background-color: #fff !important;
    color: #098de6 !important;
}

.plans-button{
    width: 100px;
    height: 50px;
    border: 1px solid #ced4da !important;
    // padding: 10px 0 0 0;
    border-radius: 2px;
    cursor: pointer;
}

.selected{
    background-color: #97ce20 !important;
    color: #fff !important;
    border-radius: 8px;
}

.Bot-headers {
    display: flex;
    align-items: center;
}

.BotHeading{
    font-size: 23px;
    color: black;
    max-width: 80%;
    font-weight: bolder;
}

.details-container {
    padding:3px;
}

.bot-details {
    display: flex;
    align-items: center;
}

.description-box {
    position: absolute;
    right: -10px;
    top: 25px;
    padding: 5px 30px 2px 2px;
}

.bot-details.selected .description-box {
    display: block; 
}

ul.feature-list {
    padding: 0;
}

.feature-list li {
    display: flex;
    align-items: left;
    margin-bottom: 5px; 
}

.feature-list li i {
    margin-right: 5px; 
}

.circle-dialog{
    margin-top: 5px;
}

.plan-dialog{
    margin-bottom: 20px;
}

.toggle-text{
    font-size: 16px;
    font-weight: bolder;
    padding-left: 3px;
    color: black;
}

.label-text{
    font-size: 16px;
    font-weight: bolder;
    color: black;
}

.details-right {
    position: absolute;
    bottom: 80px; 
    right: 20px; 
}

.view-details-link {
    color: black;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
}

.tiers-mode{
    font-size: 16px;
    font-weight: bolder;
}

.proceed-btn {
    position:absolute;
    bottom:-30px;
    right:10px;
}