<div class="settings_panel">
  <div class="settings_header row">
    <label class="col-12 set_header_label">Settings</label>
  </div>
  <div class="settings_body row">
    <div class="col-12 no-padding">
      <div class="row settings_menu">
        <ul class="settings_menu_titles col-12 no-padding">
          <li class="set_main_li">
            <label class="col-12 set_ul_label">Migration</label>
            <ul class="set_sub_ul">
              <li class="set_sub_li"><a href="" class="set_a">Export workflow</a></li>
              <li class="set_sub_li"><a href="" class="set_a">Import workflow</a></li>
            </ul>
          </li>
          <li class="set_main_li">
            <label class="col-12 set_ul_label">Security</label>
            <ul class="set_sub_ul">
              <li class="set_sub_li"><a href="" class="set_a">Users</a></li>
              <li class="set_sub_li"><a href="" class="set_a">Roles</a></li>
              <li class="set_sub_li"><a href="" class="set_a">Permissions</a></li>
            </ul>
          </li>
          <li class="set_main_li">
            <label class="col-12 set_ul_label">Metrics</label>
            <ul class="set_sub_ul">
              <li class="set_sub_li"><a href="" class="set_a">KPI</a></li>
              <li class="set_sub_li"><a href="" class="set_a">NKPI</a></li>
            </ul>
          </li>
          <li class="set_main_li">
            <label class="col-12 set_ul_label">Templates</label>
            <ul class="set_sub_ul">
              <li class="set_sub_li"><a href="" class="set_a">Email Templates</a></li>
              <li class="set_sub_li"><a href="" class="set_a">Email Parameters</a></li>
            </ul>
          </li>
          <li class="set_main_li">
            <label class="col-12 set_ul_label">Database</label>
            <ul class="set_sub_ul">
              <li class="set_sub_li"><a href="" class="set_a">Connection Explorer</a></li>
              <li class="set_sub_li"><a href="" class="set_a">DB Connection</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>