
#plans_table {
    padding: 8px 0px 8px 0px !important;
    text-align: center;
}

.plans_border {
    border: 1px solid #ddd;
    border-radius: 8px;
    /* min-height: 400px; */
    height: auto;
    padding: 15px;
    overflow: hidden;
}

.plan_fea_ul {
    list-style: none;
    padding: 0px;
}

.plan_fea_ul li {
    color: #333;
    text-align: left;
    font-size: 16px !important;
    margin-bottom: 5px;
}

p.plan_para {
    text-align: left;
    font-size: 12px !important;
}

.plan_fea_ul svg {
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
}

.plan_fea_ul svg.feather.feather-x {
    color: red;
}

.plan_fea_ul svg.feather.feather-check {
    color: green;
}

button.btn.btn-sub_now {
    background: #2d6cd6;
    color: white;
}

label.price_lab {
  color: #666;
  font-weight: 500;
  font-size: 32px;
}

span.slash {
  color: #666;
  font-weight: 400;
  font-size: 32px;
}

span.user_man {
  display: block;
  font-size: 12px;
  margin: 0px;
  line-height: 12px;
  font-weight: 500;
  color: #666;
}

.current_plan label {
  font-size: 12px;
}

.current_plan {
  background: #F44336;
  position: absolute;
  transform: rotate(-35deg);
  width: 100%;
  color: white;
  text-transform: uppercase;
  left: -85px;
  top: 20px;
}


.price {
  margin-bottom: 10px;
}
