<stepselection class="select_plan"></stepselection>

<section id="plans_table">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 choose_header">
              <h2 class="second_header blue">Plans available for every organization,</h2>
              <h4 class="second_header blue">Pick a plan that's right for you</h4>
              <h6 class="last_amount">Amount shown is per user and will be billed on annual basis</h6>
          </div>

          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-3">
                  <div class="plans_border current col-sm-12">
                    <div class="current_plan"><label>Current Plan</label></div>
                      <h6 class="plan_head blue">Free Plan</h6>
                      <p class="plan_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                      </p>
                      <div class="plan_features">
                          <ul class="plan_fea_ul">
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 1
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 2
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Feature 3
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Feature 4
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Feature 5
                              </li>
                          </ul>
                      </div>

                      <div class="price">
                          <label class="price_lab">$ 0.00</label><span class="slash">/</span><label><span class="user_man">user</span><span class="user_man">month</span></label>
                      </div>

                      <button class="btn btn-submit" [routerLink]="['/activation/plandetails']">Start Free trail</button>
                  </div>
              </div>

              <div class="col-sm-3">
                  <div class="plans_border col-sm-12">
                      <h6 class="plan_head blue">Plan A</h6>
                      <p class="plan_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                      </p>

                      <div class="plan_features">
                          <ul class="plan_fea_ul">

                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 1
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 2
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 3
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 4
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 5
                              </li>
                          </ul>
                      </div>

                      <div class="price">
                          <label class="price_lab">$ 69.00</label><span class="slash">/</span><label><span class="user_man">user</span><span class="user_man">month</span></label>
                      </div>

                      <a class="btn btn-submit" [routerLink]="['/activation/payment/details']">Subscribe Now</a>
                  </div>
              </div>

              <div class="col-sm-3">
                  <div class="plans_border col-sm-12">
                      <h6 class="plan_head blue">Plan B</h6>
                      <p class="plan_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                      </p>
                      <div class="plan_features">
                          <ul class="plan_fea_ul">
                              <li>
                                 <label class="plan_plus">Plan A+</label>
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 1
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 2
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 3
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 4
                              </li>
                              <!-- <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Feature 5
                              </li> -->
                          </ul>
                      </div>

                      <div class="price">
                          <label class="price_lab">$ 99.00</label><span class="slash">/</span><label><span class="user_man">user</span><span class="user_man">month</span></label>
                      </div>

                      <a class="btn btn-submit" [routerLink]="['/activation/payment/details']">Subscribe Now</a>
                  </div>
              </div>

              <div class="col-sm-3">
                  <div class="plans_border col-sm-12">
                      <h6 class="plan_head blue">Plan C</h6>
                      <p class="plan_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                      </p>
                      <div class="plan_features">
                          <ul class="plan_fea_ul">
                              <li>
                                  <label class="plan_plus">Plan B+</label>
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 1
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 2
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 3
                              </li>
                              <li>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg> Feature 4
                              </li>

                          </ul>
                      </div>

                      <div class="price">
                          <label class="price_lab">$ 129.00</label><span class="slash">/</span><label><span class="user_man">user</span><span class="user_man">month</span></label>
                      </div>

                      <a class="btn btn-submit" [routerLink]="['/activation/payment/details']">Subscribe Now</a>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</section>
