<stepselection class="order_review"></stepselection>

<div class="container">
    <div class="row">
      <div class="review-heading">
      <h2 id="" class="plan_label ">You Have Selected Plan    <span class="plan">{{selected_plans.planName.slice(4)}}</span></h2>
      <h5 id="paymnt-subheding">Review your Order to proceed payment</h5>
      <p class="pay_titles">Card Details:<button class="btn" [routerLink]="['/activation/payment/details']"><img src="assets/images/editCard.svg" alt=""></button>
      </p>
  </div>
      <form  autocomplete="off" class="col-md-12 row carddetail">

        <div class="col-md-2"></div>
        
        <div class="col-md-2">
              <div class="form-group col-md-12">
                <label for="cardHolder">Cardholder name</label>
                <h6>{{cardDetails[0].cardHoldername}}</h6>
                <!-- <input type="text" class="form-control payment-input" name="cardHolder" id="cardHolder" [(ngModel)]="cardDetails[0].cardHoldername" readonly> -->
              </div>

                  <div class="form-group col-md-12">
                    <label for="month">Month (MM)</label>
                    <h6>{{cardDetails[0].cardmonth}}</h6>
                    <!-- <select id="month" class="form-control payment-input" [(ngModel)]="cardDetails[0].cardmonth" aria-readonly="true">

                    </select> -->
                  </div>

        </div>

        <div class="col-md-2">
              <div class="row">
              <div class="form-group col-sm-8">
                <label for="cardNumber">Card number</label>
                <!-- <input type="text" class="form-control payment-input" id="cardNumber" name="cardNumber" [(ngModel)]="cardDetails[0].cardnumbertotal" readonly> -->
                <h6>{{cardDetails[0].cardnumbertotal}}</h6>
              </div>
              <div class="form-group col-sm-4">
                  <label for="cvv">CVV</label>
                  <h6>{{cardDetails[0].cvvNumber}}</h6>
                  <!-- <input type="text" class="form-control payment-input" name="cvv" [(ngModel)]="cardDetails[0].cvvNumber" id="cvv" placeholder="123" disabled> -->
                </div>

                <div class="form-group col-sm-12">
                  <label for="year">Year (YYYY)</label>
                  <h6>{{cardDetails[0].cardyear}}</h6>
                  <!-- <select id="year" class="form-control payment-input" [(ngModel)]="cardDetails[0].cardyear" disabled>
                    <option selected>2020</option>
                  </select> -->

                </div>
            </div>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-2 plan_detail_box">
          <div class=" ">
            <h4 class="select_label">Subscrption Details</h4>
            <div class=" ">
              <div class=" ">
                <h6 class="plan_label">Plan   <span class="plan">  {{selected_plans.planName.slice(4)}}</span> <span class="backbtn" [routerLink]="['/activation/payment/chooseplan']">Change plan</span> </h6>
              </div>
              <div class="period">
                <p>Billing Period : Annual</p>
              </div>
            </div>

            <div class="plandetails">
              <hr>
                  <h5 class="plandetails"> Total Payable : $  {{selected_plans.amount}}.00 </h5>
            <hr>
                </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-10" class="agreecheckbox">
            <input type="checkbox" name="checkbox" [(ngModel)]="isagree" (change)="onchangechekbox()"><span>   I agree with the terms of service and the <a href="">privacy policy</a></span>
          </div>
           <div class=" col-md-4" >
              <button class="btn btn-submit pull-right" [disabled]="isdisable">Buy Now</button>
            </div>
      </form>

  </div>
</div>

