<div class="container">
  <b>Review Order</b>
  <br>
  Card Details
  <hr>

  Billing Address
  <hr>
  <p>
    Admin, <br>
    0001, Wildwood Avenue, Sunnyvale, <br>
    California, United States, 12345
  </p>

  <input type="checkbox"> i agree with the Terms of Service and the Privacy Policy.
  <div class="row col-12">
    For annaul subscriptions, your credit card will be charged USD XXXXX.XX puls tax (if applicable ) on the data of purchase. <br>
     All prices are is US dollars and are not inclusive  of any applicable taxes. Renewal rates will be based on the price of the product at the time of renewal.
     All Payments are non-refunadable. For further details, please refer to Terms of Serivce.
  </div>
  <div class="col-12">
    <a class="btn btn-back" [routerLink]="['/activation/payment/details']">Back</a>
    <a class="btn btn-submit" [routerLink]="['/activation/payment/review']">Purchase Subscription</a>
  </div>
</div>


<div class="container" style="display: none">
    <div class="row">

    <div class="col-sm-12 no-padding">

        <h4 class="main_pay_title">Review Order</h4>
    </div>
    <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">


          <form class="col-sm-10">
            <div class="col-sm-12">
              <label for="cardHolder" class="col-sm-12">Card Details</label>
              <div class="col-sm-12">
                  <label><span class="card_num">1111</span>-<span class="card_num">1111</span>-<span class="card_num">1111</span>-<span class="card_num">1111</span></label>
                  <img src="">

              </div>

            </div>

            <div class="form-group col-sm-12">
              <label for="cardNumber">Card number</label>
              <input type="text" class="form-control" id="cardNumber" placeholder="">
            </div>

            <div class="form-group col-sm-12">
              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="month">Month (MM)</label>
                  <select id="month" class="form-control">
                    <option selected></option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                  </select>
                </div>
                <div class="form-group col-sm-4">
                  <label for="year">Year (YYYY)</label>
                  <select id="year" class="form-control">
                    <option selected></option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                  </select>
                </div>
                <div class="form-group col-sm-4">
                  <label for="cvv">CVV</label>
                  <input type="text" class="form-control" id="cvv" placeholder="">
                </div>
              </div>
            </div>


          </form>
        </div>

        <div class="row">
          <h6 class="pay_titles col-sm-12">Billing address</h6>

          <form class="col-sm-10">
            <div class="form-group col-sm-12">
              <label for="country">Country</label>
              <select id="country" class="form-control">
                <option selected></option>
                <option>India</option>
                <option>Canada</option>
                <option>U.S.A.</option>
              </select>
            </div>

            <div class="form-group col-sm-12">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="">
            </div>

            <div class="form-group col-sm-12">
              <div class="form-row">
                <div class="form-group col-sm-8">
                  <label for="state">State</label>
                  <select id="state" class="form-control">
                    <option selected></option>
                    <option></option>
                    <option></option>
                    <option></option>
                  </select>
                </div>

                <div class="form-group col-sm-4">
                  <label for="postal">Zip/Postal code</label>
                  <input type="text" class="form-control" id="postal" placeholder="">
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label for="street">Street address</label>
              <input type="text" class="form-control" id="street" placeholder="">
            </div>
          </form>
        </div>
      </div>

      <div class="col-sm-4 offset-sm-2">
        <div class="plan_detail_box">
          <label class="you_label">You're Subscribing</label>
          <div class="col-sm-12">
            <div class="row">
              <label class="plan_label col-sm-6">Plan</label>
              <label class="plan_right_label col-sm-6">Plan Name</label>
            </div>
          </div>

          <div class="col-sm-12">
              <div class="row">
                <label class="plan_label col-sm-6">Annual Payment</label>
                <label class="plan_right_label col-sm-6">$XXX.XX USD</label>
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>

      <div class="col-sm-12 no-padding">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-submit pull-left" [routerLink]="['/activation/payment/chooseplan']">Back</a>
          </div>

          <div class="col-sm-6 text-right">
            <a class="btn btn-submit pull-right" [routerLink]="['/activation/payment/review']">Continue</a>
          </div>
        </div>
      </div>
    </div>
    </div>

