<stepselection class="order_review"></stepselection>

<div class="container">
    <div class="row">
      <div class="review-heading">
      <h2 id="" class="plan_label ">You Have Selected Plan    <span class="plan">{{name}}</span></h2>
      <h5 id="paymnt-subheding">Review your Order to proceed payment</h5>
      <p class="pay_titles">Card Details:<button class="btn" [routerLink]="['/activation/payment/details']"><img src="assets/images/editCard.svg" alt=""></button>
      </p>
  </div>
      <!-- <form  autocomplete="off" class="col-md-12 row carddetail"> -->
        <div class="col-md-12 carddetail row">

        <div class="col-md-2"></div>
        
        <div class="col-md-3">
              <div class="col-md-12">
                <label for="cardHolder">Cardholder name</label>
                <h6>{{cardDetails.cardHoldername}}</h6>
              </div>

                  <div class="month col-md-12">
                    <label for="month">Month (MM)</label>
                    <h6>{{cardDetails.cardmonth}}</h6>
                  </div>
        </div>

        <div class="col-md-4">
              <div class="row">
              <div class="col-sm-8">
                <label for="cardNumber">Card number </label>
                <h6>XXXX-XXXX-XXXX-{{cardNumberdigts}}</h6>
              </div>
              <div class="col-sm-4">
                  <label for="cvv">CVV</label>
                  <h6>***</h6>
                </div>
                <div class="col-sm-12">
                  <label for="year">Year (YYYY)</label>
                  <h6>{{cardDetails.cardyear}}</h6>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-2"></div> -->
        <div class="col-md-3 plan_detail_box">
          <div class=" ">
            <h4 class="select_label">Subscrption Details</h4>
            <div class=" ">
              <div class=" ">
                <h6 class="plan_label">Plan   <span class="plan">  {{name}}</span> <span class="backbtn" [routerLink]="['/activation/payment/chooseplan']">Change plan</span> </h6>
              </div>
              <div class="period">
                <p>Billing Period : Annual</p>
              </div>
            </div>

            <div class="plandetails">
              <hr>
                  <h5 class="plandetails"> Total Payable : $  {{selected_plans.amount}}.00 </h5>
            <hr>
                </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-10" class="agreecheckbox">
            <input type="checkbox" name="checkbox" [(ngModel)]="isagree" (change)="onchangechekbox()"><span>   I agree with the terms of service and the <a href="">privacy policy</a></span>
          </div>
        <div class="col-md-3"></div>

           <div class=" col-md-2" >
              <button class="btn buybtn" (click)="buyProductPlan()" [disabled]="isdiable">Buy Now</button>
            </div>
          </div>
      <!-- </form> -->

  </div>
</div>

