.review-heading{
  margin-top: 20px;
  }
  #paymnt-subheding{
    margin-left:10px;
    color: #006ed5;
  }
  .pay_titles{
    margin-left: 55%;
    margin-top: 15px;
  }
  .pay_titles img{
    height: 25px;
    width:25px;
  }
  .plandetails{
    font-size: 14px;
    font-weight: bold;
  }
  
  .select_label {
    font-size: 16px;
    color: #999;
  }
  
  .plan_label {
    margin-top:20px;
    font-weight: bold;
  }
  
  .plan_label .plan{
    border: 1px solid #006ed5;
    border-radius: 50%;
    padding: 3px 5px;
    color : #006ed5;
    font-weight: bold;
  }
  
  .carddetail h6{
    font-weight: bold !important;
  }
  .backbtn{
    border-bottom: 1px solid gray;
    font-size: 9px;
    padding: 2px;
    margin-left: 9px;
    width:60px;
    color: gray;
    cursor: pointer;
  }
  .period{
    font-size: 13px;
    font-weight: 500 !important;
  }
  .agreecheckbox span{
    font-size: 12px;
    margin-top: -5px;
  }
  .plandetails hr{
    width: 165px !important;
    margin-left: 0px !important;
  }