<ngx-spinner bdColor="#bebcbc66" type="">
  <img src='assets/images/EZFlow_Loader.gif' class="ezflow-loader" alt="EZFlow_Loader" />
</ngx-spinner>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-8 p-0">
      <div class="image-container">
        <img class="background-image top-banner-signup-left-img" src="assets/ai-agents-signup.png" alt="EZFLow">
        <img class="background-image top-banner-signup-left-img" style="object-fit: cover;" src="assets/Topimage.svg"
          alt="EZFLow">
        <img class="background-image" src="assets/landing_page_new.svg" alt="EZFLow">
      </div>
    </div>


    <div class="col-md-4 login-block-right">
      <div class="form-div loginblock">
        <div class="card_sty">
          <div class="create">
            <p class="signup-header"> Login to your Account </p>
            <div class="create-label">
              <label class="have_acc">Don't have an account&#63;</label>
              <a [routerLink]="['/signup']" class="signup_styles text-primary"> Sign Up </a>
            </div>
          </div>
          <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form">

            <div class="form-group col-md-12">

              <div style="overflow-wrap: break-word;" class=" col-md-12">
                <div *ngIf="error" class="info-error-icon"> <i class="pi pi-info-circle"></i><p>{{error}}</p></div>
              </div>

              <div class="col-md-12 form-group p-10 mb-3">
                <label class="label-control" for="username">Enter Email <span class="required" style="font-size: 16px !important;">*</span></label>
                <input type="text" pInputText formControlName="username" (change)="onEmailChange()"
                  (keydown)="onKeydownfeilds($event)" placeholder="Enter Email" pattern="^\S*[@]\S*[.]\S*$"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control" autocomplete="off" required />
                <span
                  *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched && !loginForm.get('username').hasError('pattern')"
                  class="required">
                  Email Required
                </span>
                <span *ngIf="loginForm.get('username').hasError('pattern') && loginForm.get('username').touched" class="required">
                  Enter a valid email address
                </span>
              </div>
              
              <div class="col-md-12 form-group p-10">
                <label class="label-control" for="password">Enter Password <span class="required">*</span></label> <br>
                <p-password styleClass="password-input" formControlName="password" [feedback]="false" [toggleMask]="true"
                  placeholder="Enter Password" autocomplete="off" minlength="8" (keydown)="onKeydownfeilds($event)">
                </p-password>
              
                <span
                  *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched && !loginForm.get('password').hasError('minlength')"
                  class="required">
                  Password is Required
                </span>
                <span class="required" *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
                  Minimum 8 Characters Required
                </span>
              </div>
            
              
  
              <!-- <div *ngIf="isOTP" class="form-group col-md-12">
              
                <mat-form-field class="example-full-width" style="width:340px !important;" hideRequiredMarker floatlable="auto"
                  appearance="outline" color="primary">
                  <mat-label>Code</mat-label>
                  <input type="text" maxlength="6" name="otp" id="otp" matInput formControlName="otpNum" class="form-control otpinput"
                    placeholder="Enter Code" required />
                </mat-form-field>
              
              </div> -->
  
              <!-- Forgot password for popup  openForgotPasswordPopup()-->
              <!-- <div class="form-group col-sm-12 text-right mt-2 mb-4">
                <a [routerLink]="['/user/forgotpassword']" class="for_pass signup_styles">Forgot Password&#63;</a>
              </div> -->

              <div class="form-group col-sm-12 text-right mt-2 mb-4">
                <a (click)="openForgotPasswordPopup()" class="for_pass signup_styles">Forgot Password&#63;</a>
              </div>
  
              <div class="col-md-12 form-group p-10">
                <!-- <div class="col-sm-6"> -->
                  <button [disabled]="loginForm.invalid" class="btn btn-primary login-btn" type="submit" id="btn">Sign in</button>
                <!-- </div> -->
                <!-- <div class="col-sm-6">
                  <button [disabled]="twoFactorAuthConButton || isOTP" class="btn btn-primary login-btn" style="
                                                           margin-left: 15%;
                                                       " (click)="generateOTP()" id="btnn">Send code</button>
                </div> -->
              </div>
  
              <!-- <div style="overflow-wrap: break-word;" class="errordiv col-md-12">
                <div *ngIf="error" class="alert alert-danger text-center">{{error}}</div>
              </div> -->
              <div class="col-md-12 form-group">
                <div class="col-sm-12 p-0 mb-4 pt-2">
                  <div style="padding-top:10px">
                    <h6><span style="padding: 0px 5px !important;"> Or </span></h6>
                  </div>
  
                </div>
                <!-- <div class="col-md-6 text-center" style="margin-right: -0%; margin-left: 21px;">
  
                  <button mat-raised-button class="btn_style" type="button">
                    <a [href]="googleLoginURL">
                      <img src="assets/login icons/google.svg" class="buuton-icons" alt="google" />Google</a> 
                  </button>
                </div> -->
                <div class="col-md-12 p-0">
                  <button mat-raised-button class="btn_style" type="button" style="width: 100% !important; color: #000000 !important; border:1px solid #B7B7B7 !important; box-shadow: none !important ;">
                    <a [href]="officeLoginURL" style="color: #000000 !important; ">
                      <img src="assets/login icons/office.svg" class="buuton-icons" style="margin-right: 20px !important" alt="office" />Continue with Microsoft Office</a> </button>
                </div>
              </div>
            </div>
            
          </form>
          <!-- <div style="padding-top: 20px;padding-left: 80px;">
              <label class = "have_acc">Don't have an account&#63;</label>
              <a (click)="requestDemo()" class="signup_styles  text-primary"> Sign Up</a>

          </div> -->
          &nbsp;
        </div>
      </div>

    </div>
  </div>

</div>
<p-dialog header="Info" [(visible)]="showWarningPopup" [modal]="true" [style]="{width: '35vw'}" [resizable]="false"
  [closable]="false">
  <ng-container>
    <p>User already registered for the enterprise plan. Please contact <strong>sales@epsoftinc.com</strong> for
      assistance.</p>
  </ng-container>
  <button class="btn btn-primary" style="float: right;" (click)="showWarningPopup = false">OK</button>
</p-dialog>


<p-dialog header="Forgot Password" [(visible)]="showForgotPasswordPopup" [modal]="true" [style]="{width: '450px'}" [resizable]="false" [closable]="true" [draggable]="false">
  <!-- <div class="text-center mb-5">
    <h4 style="font-weight: 600; color: #000;">Forgot Password</h4> -->
    <!-- <p>Please Enter Email to reset you password. <a href="#" (click)="openForgotPasswordPopup()"><b>Sign In</b></a></p> -->
    <!-- <p>Please Enter Email to reset you password.</p>
  </div> -->
  
  <form [formGroup]="emailForm" (ngSubmit)="onSubmitForgotPassword()">
    <div class="form-group">
      <label for="email" class="label-control">Enter Email <span class="text-danger">*</span></label>
      <input type="email" id="email" formControlName="email" placeholder="Enter Email" class="form-control">
      <span *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').touched" class="required">
        Email required.
      </span>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-5 mb-3 login-btn" [disabled]="emailForm.invalid">Submit</button>
  </form>
</p-dialog>
