 <div class="container-fluid">
        <div class="row">
            <div id="particles-js"></div>
            <div class="col-sm-4">
                <img class="login-bg" src="assets/images/loginimage.png">
            </div>
          <div class="col-md-4"></div>
            <div class="col-md-3">
                <div class="brand">
                    <img src="assets/images/logo_img.png">
                </div>
                <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form">
                    
                    <div class="form-group col-sm-12 inner-addon left-addon">
                        <img src="assets/images/username_icon.png" class="userIcon">
                        <input type="text" formControlName="username" placeholder="Enter Email" class="form-control userinput"
                        pattern="^\S*[@]\S*[.]\S*$"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                          <div *ngIf="f.username.errors.pattern">Enter valid email address</div>
                          <div *ngIf="f.username.errors.required">Email is required</div>
                        </div>
                      </div>
                      <div class="form-group col-md-12 inner-addon left-addon right-addon">
                          <img src="assets/images/password_icon.png" class="pswIcon">
                          <span  (click)="toggle()" class="input-group-add pwd-class"> <i style="margin-left : 15px" class="fa fa-eye" [ngClass]="(show==true) ? 'fa fa-eye' : 'fa fa-eye-slash'"  aria-hidden="true" ></i></span>

                          <input [type]="(show==true) ? 'password' : 'text'" formControlName="password" #password class="form-control pswinput" placeholder="Enter Password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required/>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                          </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <a [routerLink]="['/user/forgotpassword']" class="for_pass">Forgot Password&#63;</a>
                          </div>
                    
                    <div class="col-sm-12">
                    <button class="btn btn-primary login-btn" type="submit" id="btn">Sign in</button>
                </div>
                <div style="overflow-wrap: break-word;" class="errordiv col-md-12">
                    <div *ngIf="error" class="alert alert-danger text-center">{{error}}</div>
                  </div>
                  <div class="form-group row grp-buttons">
            <div class="col-sm-12 ">
                    <label class="have_acc have_account">or Login through</label>
                    
                  </div>
                    <div class="col-md-6 text-center">
                       <!-- <button type="button" class="btn-buttons" a href="http://localhost:9797/oauth2/authorize-client/google">
                        <img src="assets/login icons/google.svg" class="buuton-icons">Google
                      </button>  -->
                      <a href="https://idmdev.epsoftinc.in/api/socialLogin?authProvider=google&redirectPath=https://eiapclouddev.epsoftinc.in/#/user">
                        <img src="assets/login icons/google.svg" class="buuton-icons"/>Google</a> 
                    </div>
                    <div class="col-md-6 text-center" >
                      <!-- <button type="button" class="btn-buttons" (click)="azureLogin()">
                        <img src="assets/login icons/office.svg" class="buuton-icons"><label >Office 365</label>
                      </button> -->
                      <a href="https://localhost:9797/api/socialLogin?authProvider=azure&redirectPath=http://localhost:4200/#/user">
                        <img src="assets/login icons/office.svg" class="buuton-icons"/>Office</a> 
                    </div>
                  </div>
                </form>
                <div >
                    <label class = "have_acc have_account">Don't have an account&#63;</label>
                    <button (click)="requestDemo()" class="btn btn-primary register-btn">Register</button>
    
                </div>
            </div>
        </div>
      
    </div>
