.login-bg{
  width: 700px;
}
.userinput, .otpinput, .pswinput{
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  height: 40px !important;
  border-radius: 0px !important;
}
img.buuton-icons {
  width: 18px;
  margin: 9px 5px;
  vertical-align: top;
}

.btn-buttons {
  background: white;
  border: 1px solid #333;
  padding: 7px;
  margin: 0px 5px;
  min-width: 120px;
  border-radius: 3px;
  font-size:14px;
}


.inner-addon { 
  position: relative; 
}

h6 {
  width: 80%; 
  text-align: center; 
  border-bottom: 1px solid rgb(204, 204, 204); 
  line-height: 0.1em;
  margin: 10px 20px 10px 43px; 
  
} 

h6 span { 
   background:#fff; 
   padding:0 10px; 
   padding: 10px 0px 10px 0;
}

/* style icon */
.inner-addon .userIcon ,.inner-addon .pswIcon, .inner-addon .otpIcon{
position: absolute;
padding: 10px;
pointer-events: none;
width: 40px;
}
.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 20px; }

.inner-addon .pwd-class, .inner-addon .otp-class{
  position: absolute;
  padding: 10px;
  z-index: 1000;
  margin-left: 250px !important;
  width: 40px;
}

.brand{
  margin-bottom: 0px;
}
.brand img{
  width: 230px;
}
.login-btn{
  /*margin-left: 45%;*/
  margin-left:0%;
  width: 130px !important;
  border-radius: 6px;
  font-size: 14px;
  height: 40px;
}
.signupbtn{
  width: 120px !important;
  border-radius: 20px;
  font-size: 14px;
  height: 35px;
  background-color: white;
  border: 1px solid #0061cf;
  color: #0061cf;
}
.signupbtn:hover{
  background-color: #0061cf;
  color: white;
}
.errordiv{
  margin-top: 10px;
}
.signup{
  margin-top: 20px;
}

.for_pass{
  color: #0061cf !important;
  text-decoration: none;
}

.for_pass:hover{
  /*font-size: 16.5px;*/
  font-weight: 420;
  padding:5px;
}

.pwd-class, .otp-class{
  width: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0061cf;
  cursor: pointer;
}
.have_acc{
  font-size: 15px;
  color: #8b8a8a;
}
.register-btn{
  margin-left: 40%;
  width: 120px !important;
  border-radius: 20px;
  font-size: 14px;
  height: 35px;
}
.have_account{
  margin-left: 35%;
}

.card_sty{
      /* top: 40%; */
    /* position: absolute; */
    /* -webkit-transform: translate(-15%, -30%); */
    /* transform: translate(-15%, -30%); */
    box-shadow: #5784e999 0px 1px 6px;
    /* margin-top: 227px; */
    /* height: 745px; */
    display: inline-block;
}
/*
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  position: inherit;
  width: 320px;
  height: 62px;
}*/

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0em !important;
}

.form-control{
  height: 33px !important;
}

h6 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid rgb(204, 204, 204); 
  line-height: 0.1em;
  margin: 10px 0 20px; 
  
} 

h6 span { 
   background:#fff; 
   padding:0 10px; 
   padding: 10px 0px 10px 0;
}

.btn_style{
  padding-right: 25px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.signup_styles{
  font-weight: 420 !important;
  font-size: 14px !important;
}

:host ::ng-deep input.mat-input-element {
  margin-top: 0.8000em !important;
}

:host ::ng-deep .mat-form-field-infix {
  width: 313px !important;
}

.btn_style{
  padding-right: 25px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn_style a{
  text-decoration: none !important;
}

.signup_styles{
  font-weight: 420 !important;
  font-size: 14px !important;
}

.imgstyle{
  height:200px;
}

.profile-pic-div{
  padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    height: 109px;
    width: 108px;
  position: absolute;
  top:50%;
  left:40%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}

#photo{
  height:110px;
  width: 110px;
}

#file{
  display:none;
}

#uploadBtn{
    position: absolute;
    left: 13%;
    top: 65%;
    background: rgba(0, 0, 0, 0.7);
    color:wheat;
    display:none;
    font-family: sans-serif;
    cursor: pointer;
}

.profile-pic-div:hover{
  #uploadBtn{
  display:block;
}
}

.hide{
  display:none;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 8px 0px;
}

:host ::ng-deep .mat-form-field-wrapper {
   margin: 5px 0px !important;
   padding-bottom: 0em;
   padding-top: 0em;
   padding-top: 0.5em;
}

:host ::ng-deep .mat-form-field-infix{
  border-top: .4375em solid transparent;
}

:host ::ng-deep .mat-form-field{
  margin: 0px 0px 0px 0px !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 0.5em 0;
}

:host ::ng-deep .mat-form-field-prefix, .mat-form-field-suffix {
  top: 0.70em !important;
}

:host ::ng-deep .mat-form-field-infix {
  border-top: 1em solid transparent;
}

.loginblock {
  width: 400px !important;
  margin: 100px auto;
  /* text-align: center; */
}

.password-btn{
  background: none !important;
  border:none !important;
  img{
    height: 27px !important;
    // position:absolute !important;
    margin-top: -23px;
    // right: 30px;
  }
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #8b8a8a !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label{
  color: #8b8a8a !important;
}