<ngx-spinner bdColor="#bebcbc66" type="">
  <img  src='../../../assets/images/EZFlow_Loader.gif' class="ezflow-loader"/> 
</ngx-spinner>
<div class="container-fluid">
  <div class="row">
      <div id="particles-js"></div>
     <!-- <div class="col-md-4">
          <img class="login-bg" src="assets/images/loginimage.png"> 
      </div> -->
    <div class="loginblock">
        <!--<div class="profile-pic-div">
          <img src="assets/images/pic_male.jpg" id="photo" class="imgstyle">
           <input type="file" id="file">
           <label for="file" id="uploadBtn" (click)="loadImage($event)">Chosse Photo</label>
        </div>-->
		 <mat-card class="card_sty">
          &nbsp;
          <div class="brand">
            &nbsp;
              <img style="margin-left:45px;" src="assets/images/EZFlow.png">
           
          </div>
          &nbsp;
          <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form">
              
              <div class="form-group col-sm-12">
                  <!--<img src="assets/images/username_icon.png" class="userIcon">-->
                  <mat-form-field class="example-full-width" style="width:340px !important;" hideRequiredMarker floatlable="auto" appearance="outline" color="primary">
                    <mat-label>Email</mat-label>
                  <input type="text" matInput formControlName="username" (change)="onEmailChange()" (keydown)="onKeydownfeilds($event)" placeholder="Enter Email" 
                  pattern="^\S*[@]\S*[.]\S*$"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required />
                  <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.pattern">Enter valid email address</div>
                    <div *ngIf="f.username.errors.required">Email is required</div>
                  </div>-->
                  </mat-form-field>
                  <mat-error class="fa fa-info-circle errspan" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
                    Email is Required!
                  </mat-error>
                  <mat-error class="fa fa-info-circle errspan" *ngIf="loginForm.get('username').hasError('pattern') && loginForm.get('username').touched">
                    Enter valid email address
                  </mat-error>
                </div>
                <div class="form-group col-md-12"><!--inner-addon left-addon right-addon-->
                    <!--<img src="assets/images/password_icon.png" class="pswIcon">
                    <span  (click)="toggle()" class="input-group-add pwd-class"> <i style="margin-left : 15px" class="fa fa-eye" [ngClass]="(show==true) ? 'fa fa-eye' : 'fa fa-eye-slash'"  aria-hidden="true" ></i></span>

                    <input [type]="(show==true) ? 'password' : 'text'" formControlName="password" #password class="form-control pswinput"minlength="8"  placeholder="Enter Password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required/>-->
                      <mat-form-field class="example-full-width" style="width:340px !important;" hideRequiredMarker floatlable="auto" appearance="outline" color="primary">
                        <mat-label>Password</mat-label>
                        <input [type]="hide ?  'password': 'text'" matInput formControlName="password" #password minlength="8"  placeholder="Enter Password" (keydown)="onKeydownfeilds($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                        <button class="password-btn ml-auto" matSuffix *ngIf="hide==true" (click)="hide = false">
                          <img src='../../../assets/images/eye-show.svg' />
                        </button>
                        <button class="password-btn ml-auto" matSuffix *ngIf="hide==false" (click)="hide = true">
                          <img src='../../../assets/images/eye-hide.svg' />
                        </button>
                      </mat-form-field>
                  
                      
                      <mat-error class="fa fa-info-circle errspan" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                        Password is Required!
                      </mat-error>
                      <mat-error class="fa fa-info-circle errspan" *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
                        Minimum 8 Characters Required!
                      </mat-error>
                     
                      <!--<mat-error *ngIf="loginForm.get('password').hasError('maxlength')">
                        Maximum 50 Characters Required!
                      </mat-error>-->
                      <!--<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>-->
                  </div>

                  <div *ngIf="isOTP" class="form-group col-md-12"><!-- inner-addon left-addon right-addon-->
                    <!--<img src="assets/images/password_icon.png" class="otpIcon">-->
                 
                    <mat-form-field class="example-full-width" style="width:340px !important;" hideRequiredMarker floatlable="auto" appearance="outline" color="primary">
                      <mat-label>OTP</mat-label>
                    <input type="text" maxlength="6" name = "otp" id="otp" matInput formControlName="otpNum" class="form-control otpinput" placeholder="Enter OTP"
                      required/>
                    </mat-form-field>
                    
                  </div>

                  <div class="form-group col-sm-12 text-right">
                      <a [routerLink]="['/user/forgotpassword']" class="for_pass">Forgot Password&#63;</a>
                    </div>
              
              <div class="col-sm-12 row">
                <div class="col-sm-6">
              <button [disabled]="loginForm.invalid"  class="btn btn-primary login-btn" style="
                              margin-left: 20%;
                         "  type="submit" id="btn">Sign in</button>
            </div>
            <div class="col-sm-6">
              <button [disabled]="twoFactorAuthConButton || isOTP" class="btn btn-primary login-btn" style="
                             margin-left: 15%;
                         " (click)="generateOTP()" id="btnn">Generate OTP</button>
            </div>
          </div>
         
          <div style="overflow-wrap: break-word;" class="errordiv col-md-12">
              <div *ngIf="error" class="alert alert-danger text-center">{{error}}</div>
            </div>
            <div class="form-group row grp-buttons">
      <div class="col-sm-12 ">
             <!-- <label class="have_acc have_account" style="margin-left: 40%; ">or Login through</label>-->
             <div style="padding-top:10px">
              <h6><span> or </span></h6>
            </div>
              
            </div>
              <div class="col-md-6 text-center" style="
                              margin-right: -0%;
                               margin-left: 21px;
                           ">
                 <!-- <button type="button" class="btn-buttons" a href="http://localhost:9797/oauth2/authorize-client/google">
                  <img src="assets/login icons/google.svg" class="buuton-icons">Google
                </button>  -->
                <button mat-raised-button class="btn_style">
                <a href="https://idmqa.epsoftinc.in/api/socialLogin?authProvider=google&redirectPath=https://eiapcloudqa.epsoftinc.in/#/user">
                  <img src="assets/login icons/google.svg" class="buuton-icons"/>Google</a> </button>
              </div>
              <div class="col-md-6 text-center" style="
                               margin-left: 0%;
                               max-width: 30%;
                             " >
                <!-- <button type="button" class="btn-buttons" (click)="azureLogin()">
                  <img src="assets/login icons/office.svg" class="buuton-icons"><label >Office 365</label>
                </button> -->
                <button mat-raised-button class="btn_style">
                <a href="https://idmqa.epsoftinc.in/api/socialLogin?authProvider=azure&redirectPath=http://eiapcloudqa.epsoftinc.in/#/user
">
                <img src="assets/login icons/office.svg" class="buuton-icons"/>Office</a>   </button>
              </div>
            </div>
          </form>
          <div style="padding-top: 20px;padding-left: 80px;">
              <label class = "have_acc">Don't have an account&#63;</label>
              <a (click)="requestDemo()" class="signup_styles  text-primary"> Sign Up</a>

          </div>
          &nbsp;
        </mat-card>
    </div>
      <!-- <div class="col-md-4">
       
        
      </div> -->
  </div>

</div>
