<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 products_div">
      <div class="row prod_s">
        <div class="col-sm-6">
          <div class="product_division col-sm-12">
            <div class="row row_height">
              <div class="left_side col-sm-4">
                <img src="assets/a_images/ezbot.png" class="prod_img">
              </div>
              <div class="right_side col-sm-8">
                <h6>ezBot<sup>&trade;</sup></h6>
               <div class="row">
                 <div class="col-sm-2">Free Trail</div>
                 <div class="col-sm-2">15 Days</div>
               </div>
               <div class="row">
                <div class="col-sm-2">12/06/2019</div>
                <div class="col-sm-2 text-right">Next Billing Date</div>
              </div>
                <div class="col-sm-12 text-center">
                  <a class="btn btn-submit" [routerLink]="['/subscription']">Upgrade</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="product_division col-sm-12">
            <div class="row row_height">
              <div class="left_side col-sm-4">
                <img src="assets/a_images/ezbot.png" class="prod_img">
              </div>
              <div class="right_side col-sm-8">
                <h6>ezFlow<sup>&trade;</sup></h6>
                <div class="row">
                  <div class="col-sm-2">Free Trail</div>
                  <div class="col-sm-2">15 Days</div>
                </div>
                <div class="row">
                 <div class="col-sm-2">12/06/2019</div>
                 <div class="col-sm-2 text-right">Next Billing Date</div>
               </div>
                <div class="col-sm-12 text-center">
                  <a class="btn btn-submit" [routerLink]="['/subscription']">Activate Free Trail</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
