<div class="dynamic-forms-modal" style="display: block">
<as-split direction="horizontal" [useTransition]="true" (dragEnd)="onDragEnd($event)" #splitEl>
    <as-split-area [size]="areas[0].size" order="areas[0].order">
    </as-split-area>
    <as-split-area [size]="areas[1].size" order="areas[1].order" [minSize]="splitAreamin_size">
        <div class="right_split">
            <span class="splitter-headers">
                <img *ngIf="isShowExpand" src="../../../assets/a_images/minimize.svg" alt="Minimize"
                    (click)="minimizeFullScreen()" class="expandsvgimg" pTooltip="Minimize" tooltipPosition="top"/>
                <img *ngIf="!isShowExpand" src="../../../assets/a_images/maximize.svg" alt="Maximize"
                    (click)="expandFullScreen()" class="expandsvgimg" pTooltip="Maximize" tooltipPosition="top"/>
                <a (click)="closeSplitOverlay()" class="closeoverlay"><img src="./../../../../assets/a_images/close-circle-line.svg"
                        alt="close" pTooltip="Close" tooltipPosition="top"></a>
            </span>
            <ng-content></ng-content>
        </div>
    </as-split-area>
</as-split>
</div>