<div class="container-fluid">
    <div class="row">
        <!-- <div id="particles-js"></div> -->
        <!-- <div class="col-sm-4">
            <img class="login-bg" src="assets/images/loginimage.png" alt="">
        </div> -->
     
        <div class="forgotblock">
            <mat-card class="card_forgot">
                <div class="brand logo_forgot" >
                        <img style="width: 230px !important; margin-left: 51px !important;margin-top: 25px !important;
                        margin-bottom: 25px !important;" src="assets/images/EZFlow.png" alt="EZFlow">
                    </div>
            <form autocomplete="off" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
                <div class="form-header col-md-10">
                    <h5>Forgot Password</h5>
                  </div>
                <div class="col-sm-12" style="margin:15px 0px !important;"><!-- inner-addon left-addon-->
                        <!-- <img src="assets/images/registration/mail.svg" class="icon" alt=""> -->
                    <mat-form-field hideRequiredMarker style="width:340px !important" floatlable="auto" appearance="outline" color="primary">
                        <mat-label>Email</mat-label>
                        <input type="text" formControlName="email" matInput placeholder="Enter Email" pattern="^[\w\.-]+@[\w\-]+\.\w+$" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required/>
                    </mat-form-field>
                      <!--<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').touched">Email is required</div>
                          <div *ngIf="emailForm.get('email').hasError('pattern') && emailForm.get('email').touched">Enter valid Email</div>
                      </div>-->
                      <mat-error class="fa fa-info-circle errspan" *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').touched">
                        Email is Required!
                      </mat-error>
                      <mat-error class="fa fa-info-circle errspan" *ngIf="emailForm.get('email').hasError('pattern') && emailForm.get('email').touched">
                        Enter valid email address
                      </mat-error>
                  </div>

                    <div class="form-group col-sm-12" style="top: 23px;">
                        <div class="col-sm-6">
                        <a [routerLink]="['/']" class="backlogin">Back to Login</a>
                    </div>
                      <div class="col-sm-6">
                          <button [disabled]="emailForm.invalid" class="hoverable button btn btn-primary login-btn">Submit</button>
                      </div>
                    </div>
            <div style="overflow-wrap: break-word;" class="errordiv col-md-12">
                <div *ngIf="error" class="alert alert-danger text-center">{{error}}</div>
                </div>
            </form>
        </mat-card>
        </div>
    </div>
</div>

<ngx-spinner bdColor="#bebcbc66" type="">
    <img  src='../../../assets/images/EZFlow_Loader.gif' class="ezflow-loader" alt="EZFlow_Loader"/> 
  </ngx-spinner>