<ngx-spinner bdColor="#bebcbc66" type="">
    <img src='../../../assets/images/EZFlow_Loader.gif' class="ezflow-loader" alt="EZFlow_Loader" />
</ngx-spinner>

<div class="container">
    <div class="row">
        <div class="col-md-12 brand">
            <!-- <img style="margin:15px 0 0 45px;" src="assets/images/EZFlow.png" alt="EZFlow"> -->
            <img class="ezflow-img" src="assets/images/EZFlow.png" alt="EZFlow">
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="bot-title-header">
                <span class="bot-title"> Virtual Marketing Bot </span>
                <img class="bot-image" src="../../../assets/bot_new.svg" alt="bot">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../../assets/approve-default.svg" class="tick"  alt="approve" srcset=""> 
                    <span class="bot-feature"> Efficiency and Time Saving </span>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/approve-default.svg" class="tick" alt="approve" srcset=""> 
                    <span class="bot-feature"> Personalized for Better Engagement </span>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/approve-default.svg" class="tick" alt="approve" srcset=""> 
                    <span class="bot-feature"> Multi-Channel Integration </span>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/approve-default.svg" class="tick" alt="approve" srcset=""> 
                    <span class="bot-feature"> Compliance and Security Measures </span>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/approve-default.svg" class="tick" alt="approve" srcset=""> 
                    <span class="bot-feature"> Data-Driven Decision Making </span>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="loginblock">
                &nbsp;
                <div class="create">
                    <p class="signup-header"> Create your EZFlow User
                        Account </p>
                    <!-- <p> Already have an account? <a href="" > Sign in </a> </p> -->
                    <div class="create-label">
                        <label class="have_acc">Already have an account&#63;</label>
                        <a [routerLink]="['/login']" class="signup_styles text-primary"> Sign In </a>
                    </div>
                </div>
                &nbsp;
                <form autocomplete="off" [formGroup]="signupForm" class="login_form" cdkTrapFocus>
                    <div class="form-group col-sm-12">
                        <div class="col-md-12 p-10 form-group">
                            <label class="label-control" for="firstName"> First Name </label>
                            <input type="text" maxlength="51" class="form-control" formControlName="firstName"
                                value="" placeholder="Enter First Name" tabindex="1">
                            <span *ngIf="signupForm.get('firstName').invalid && signupForm.get('firstName').touched && !signupForm.get('firstName').hasError('pattern') && !signupForm.controls['firstName'].hasError('maxlength')" class="required"> First Name Required </span>    
                        </div>
                        <div class="col-md-12 p-10 form-group">
                            <label class="label-control" for="lastName"> Last Name </label>
                            <input type="text" maxlength="51" class="form-control" formControlName="lastName"
                                value="" placeholder="Enter Last Name" tabindex="2">
                            <span *ngIf="signupForm.get('lastName').invalid && signupForm.get('lastName').touched && !signupForm.get('lastName').hasError('pattern') && !signupForm.controls['lastName'].hasError('maxlength')" class="required"> Last Name Required </span>        
                        </div>
                        <div class="col-md-12 p-10 form-group">
                            <label class="label-control" for="email"> Email </label>
                            <input type="text" maxlength="51" class="form-control" formControlName="email"
                                value="" pattern="^[\w\.-]+@[\w\-]+\.\w+$" placeholder="Enter Email" (keyup)="showOtp($event)" tabindex="3">
                                <!-- <i *ngIf="isGenerate" (click)="generateOTP()" class="fa fa-arrow-right" id="email-buttons" data-toggle="tooltip" data-placement="right" title="Send OTP"></i> -->
                                <i *ngIf="isOtpSent" class="fa fa-check text-success" id="email-buttons"></i>
                                <span *ngIf="isGenerate" (click)="generateOTP()" class="verify" > Verify Email </span>
                            <span *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched && !signupForm.get('email').hasError('pattern') && !signupForm.controls['email'].hasError('maxlength')" class="required"> Email Required </span>  
                        </div>
                        <div class="col-md-12 p-10 form-group" id="otp-message" *ngIf="isShowOtp">
                            <input type="text" maxlength="51" class="form-control" formControlName="otp"
                                value="" placeholder="Enter Email Verification Code">
                                <i *ngIf="isValidate" (click)="validateOTP()" class="fa fa-arrow-right" id="email-buttons"></i>
                                <span *ngIf="isOtpSent" class="resend" (click)="generateOTP()" > Resend Code </span>  
                        </div>
                        <div class="col-md-12 p-10 form-group">
                            <label class="label-control" for="password"> Password </label>
                            <input [type]="hide ?  'password': 'text'" maxlength="51" class="form-control" formControlName="password"
                            value="" placeholder="Enter Password"  tabindex="4">
                            <span class="password-btn ml-auto" *ngIf="hide==true" (click)="hide = false">
                                <img src='../../../assets/images/eye-show.svg' alt="eye-show" />
                              </span>
                              <span class="password-btn ml-auto" *ngIf="hide==false" (click)="hide = true">
                                <img src='../../../assets/images/eye-hide.svg' alt="eye-hide"/>
                              </span>
                              <span *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched && !signupForm.get('password').hasError('pattern') && !signupForm.controls['password'].hasError('maxlength')" class="required" style="position: relative;bottom: 23px;"> Password Required </span>    
                            <!-- <p-password [formControlName]="password" [style]="{'width':'100%','height':'45px'}" [toggleMask]="true"></p-password> -->
                        </div>

                        <div class="col-sm-12">
                          <button class="btn btn-primary signup-btn"(click)="onSubmit()" [disabled]="signupForm.invalid" type="submit" id="btn">Sign Up</button>
                        </div>
                        <div class="form-group row grp-buttons text-center">
                            <div class="col-sm-12 ">
                                <div class="divide">
                                    <h6><span> or </span></h6>
                                </div>
                            </div>
                            <!-- <div class="col-md-12 footer-google">
                                <button class="btn_style text-center" type="button">
                                    <a [href]="googleLoginURL">
                                        <img src="assets/login icons/google.svg" class="buuton-icons"
                                            alt="google" /> Continue with Google</a> </button>
                            </div> -->
                            <div class="col-md-12 footer-microsoft">
                                <button class="btn_style text-center" type="button" id="footer-button">
                                    <a [href]="officeLoginURL">
                                        <img src="assets/login icons/office.svg" class="buuton-icons"
                                            alt="office" /> Continue with Microsoft </a> </button>
                            </div>
                        </div>
                    </div>
                </form>
                &nbsp;
            </div>
        </div>
</div>

<p-toast  [style]="{marginTop: '50px'}" ></p-toast>