  <div class="container-fluid">
    <p-tabView #tabView styleClass="customer-tabs" [(activeIndex)]="activeTabIndex" (onChange)="onTabChange($event, tabView)" >
    <p-tabPanel header="Enterprise users">
        <ng-template pTemplate="header">
          <i class="pi pi-users" style="font-size: 1rem;"></i>
          <span class="titlelabel">Enterprise Tenants</span>
        </ng-template>
        <div *ngIf="check_tab == 0" class="enterprise-layout">
          <app-enterprise-customers></app-enterprise-customers>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Subscribed Users">
        <ng-template pTemplate="header">
          <i class="pi pi-users" style="font-size: 1rem;"></i>
          <span class="titlelabel">Subscribed Users</span>
        </ng-template>
        <div class="row" *ngIf="check_tab == 1">
          <div class="col-12">
            <div class="enterprise-layout">
              <p-table #dt *ngIf="activeTabIndex === 1" [value]="plans" [columns]="columnList"  [scrollable]="true" [globalFilterFields]="['userId','userName','department','phoneNumber','country','createdDate']"
              [resizableColumns]="true" responsiveLayout="scroll" [reorderableColumns]="true">
              <ng-template pTemplate="caption">
                <div class="p-d-flex" style="text-align: end;">
                  <span class="p-input-icon-right gridsearch">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" [(ngModel)]="searchValue" placeholder="Search" />
                  </span>  
                  <button pButton label="Clear" class="p-button-outlined only_clearbtn" style="margin-left: 10px;"  (click)="clearTableFilters(dt)"></button>
                </div>
              </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let each of columns" pSortableColumn="{{each.ColumnName}}" pReorderableColumn pResizableColumn  [pSortableColumnDisabled]="!each.sort">{{each.DisplayName}}
                        <p-columnFilter *ngIf="each.ShowFilter" [field]="each.ColumnName" matchMode="equals" [showMatchModes]="false" [showOperator]="false"
                        [showAddButton]="false" display="menu" [showApplyButton]="false" [showClearButton]="true">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-dropdown [ngModel]="value" [options]="categaoriesList" (onChange)="filter($event.value)" 
                          optionLabel="categoryName" optionValue="categoryName" placeholder="Select">
                        </p-dropdown>
                      </ng-template>
                    </p-columnFilter>
                    <p-sortIcon *ngIf="each.sort" [field]="each.ColumnName"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-data let-columns="columns">
                          <tr>
                              <td *ngFor="let col of columns" [pTooltip]="rowData[col.ColumnName]" tooltipPosition="top">
                                  <span *ngIf="col.ColumnName!='action'">
                                      <span *ngIf="col.ColumnName!='createdDate'">{{rowData[col.ColumnName]}}</span>
                                      <span *ngIf="col.ColumnName=='createdDate'">{{rowData[col.ColumnName]|date:'MMM dd, y HH:mm'}}</span>
                                  </span>
                                  <span *ngIf="col.ColumnName=='action'" class="actionmenu">
                                      <a (click)="openOverlay('update',rowData)" pTooltip="Edit" tooltipPosition="top">
                                          <img src="assets/a_images/edit-default.svg" alt="Edit" class="testplus default-icon">
                                          <img src="assets/a_images/edit-hover.svg" alt="Edit" class="testplus hover-icon">
                                      </a>
                                  </span>
                              </td>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td style="justify-content: center;" colspan="8">No Records Found</td>
                        </tr>
                      </ng-template>
                    </p-table>
                    <!-- </p-scrollPanel> -->
                  </div>
              </div>
          </div>
        </p-tabPanel>
  </p-tabView>
  </div>
  
  <div *ngIf="isDisplayOverlay">
    <app-split-overlay (closeOverlay)="closeOverlay($event)">
      <div class="h-100">
        <div class="create-header">
            <h3> Edit </h3>
        </div>
        <div class="createform-overlay">
          <form class="" [formGroup]="subscriptionForm">
            <div class="col-md-12 m-0 p-0">
              <div class="form-group col-md-12 p-0">
                <label class="label-control"> Subscription Plan<span class="star">*</span>
                </label>
                <select name="" id="" class="form-control data" formControlName="subscriptionplan"
                  (change)="onChange($event.target.value)">
                  <option value="default" [selected]="true" hidden disabled>Select Plan</option>
                  <option value="standard">Standard</option>
                  <option value="professional">Professional</option>
                  <option value="enterprise">Enterprise</option>
                  <option value="custom">Custom</option>
                </select>
                <span
                  *ngIf="subscriptionForm.get('subscriptionplan').invalid && subscriptionForm.get('subscriptionplan').touched"
                  class="errspan required"> Subscription Plan Required* </span>
              </div>
              <div *ngIf="isCustom">
                <div class="form-group col-md-12 p-0">
                  <label class="label-control"> Interval <span class="star">*</span>
                  </label>
                  <select name="" id="" class="form-control data" formControlName="interval">
                    <option value="default" [selected]="true" hidden disabled> Select Interval</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                  </select>
                  <span *ngIf="subscriptionForm.get('interval').invalid && subscriptionForm.get('interval').touched"
                    class="errspan required"> Interval is Required* </span>
                </div>
                <div class="form-group col-md-12 p-0 checkboxes">
                  <label class="label-control">Plan Features</label>
                  <div class="row">
                    <div class="col-md-6 pr-0 form-group">
                      <input type="checkbox" formControlName="artificial_intelligence">
                      <label class="label-control">
                        <span class="checkboxlabel">Artificial Intelligence</span>
                      </label>
                    </div>
                    <div class="col-md-6 pr-0 form-group">
                      <input type="checkbox" formControlName="business_process_studio">
                      <label class="label-control">
                        <span class="checkboxlabel">Business Process Studio</span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-0 form-group">
                      <input type="checkbox" formControlName="process_intelligence">
                      <label class="label-control">
                        <span class="checkboxlabel">Process Intelligence</span>
                      </label>
                    </div>
                    <div class="col-md-6 pr-0">
                      <input type="checkbox" formControlName="live_support">
                      <label class="label-control">
                        <span class="checkboxlabel">Live Support</span>
                      </label>
                    </div>
                  </div>  
                    <div class="col-md-12 pl-0">
                      <input type="checkbox" formControlName="service_orchestration">
                      <label class="label-control">
                        <span class="checkboxlabel">Service Orchestration</span>
                      </label>
                    </div>
                </div>
                <div class="row col-md-12 m-0 p-0">
                  <div class="form-group col-md-6 pl-0">
                    <label class="label-control"> Custom Plan Name<span class="star">*</span></label>
                    <input class="form-control data" placeholder="Enter Custom Plan Name" type="text" value=""
                      formControlName="customPlanName">
                    <span
                      *ngIf="subscriptionForm.get('customPlanName').invalid && subscriptionForm.get('customPlanName').touched && !subscriptionForm.get('customPlanName').hasError('maxlength') && !subscriptionForm.get('customPlanName').hasError('pattern')"
                      class="errspan required"> Custom Plan Name Required* </span>
                    <span
                      *ngIf="subscriptionForm.get('customPlanName').hasError('pattern') && !subscriptionForm.get('customPlanName').hasError('maxlength') && subscriptionForm.get('customPlanName').touched"
                      class="errspan required">Only Alphabets and spaces between words are allowed.</span>
                  </div>
                  <div class="form-group col-md-6 pl-0">
                    <label class="label-control">Custom Amount<span class="star">*</span></label>
                    <input class="form-control data" placeholder="Enter Custom Amount" type="text" value=""
                      formControlName="customamount">
                    <span
                      *ngIf="subscriptionForm.get('customamount').invalid && subscriptionForm.get('customamount').touched && !subscriptionForm.get('customamount').hasError('maxlength') && !subscriptionForm.get('customamount').hasError('pattern')"
                      class="errspan required"> Custom Amount Required* </span>
                    <span
                      *ngIf="subscriptionForm.get('customamount').hasError('pattern') && !subscriptionForm.get('customamount').hasError('maxlength') && subscriptionForm.get('customamount').touched"
                      class="errspan required">Amount should contain only numbers.</span>
                    <span *ngIf="subscriptionForm.get('customamount').hasError('maxlength')"
                      class="errspan required">Maximum of 6 characters</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="createform-footer">
            <button class="btn btn-cancel" (click)="closeOverlay()">Cancel</button>
            <button class="btn btn-primary btn-update" (click)="updateCustom()" [disabled]="subscriptionForm.invalid">
              Update
            </button>
           </div> 
         </div>
      </div>    
    </app-split-overlay>
  </div>

  <!-- <div *ngIf="isOverlay">
    <app-split-overlay (closeOverlay)="closeOffboardOverlay($event)">
      <div class="h-100">
        <div class="create-header">
          <h3> Edit </h3>
        </div>
        <div class="createform-overlay">
          <h5> Please select the below Options </h5>
        <label style="margin-right: 20px;">
          <input type="radio" name="actionType" [(ngModel)]="selectedAction" value="offboard"
            (change)="toggleActionType()"> Offboard Tenant
        </label>
        <label>
          <input type="radio" name="actionType" [(ngModel)]="selectedAction" value="extendTenure"
            (change)="toggleActionType()"> Extend Tenure
        </label>
        <div >
          <div *ngIf="isOffboarding" style="margin-top: 20px;">
            <div class="form-group col-md-12 p-0">
              <label class="label-control">Reason for Offboarding<span class="star">*</span></label>
              <textarea class="form-control data" placeholder="Enter reason" [(ngModel)]="offboardingReason"></textarea>
              <span *ngIf="!offboardingReason && offboardingReason.touched" class="errspan required"> Offboarding Reason
                Required* </span>
            </div>
          </div>
          <div *ngIf="isExtendTenure" style="margin-top: 20px;">
            <div class="form-group col-md-12 p-0">
              <label class="label-control">Select Date for Tenure Extension<span class="star">*</span></label>
              <input type="date" class="form-control data" [(ngModel)]="tenureExtensionDate" />
              <span *ngIf="!tenureExtensionDate && tenureExtensionDate.touched" class="errspan required"> Tenure Extension
                Date Required* </span>
            </div>
          </div>
        </div>
 
        <div class="createform-footer">
          <button class="btn btn-cancel" (click)="closeOffboardOverlay($event)">Cancel</button>
          <button *ngIf="selectedAction === 'extendTenure'" class="btn btn-primary btn-update" (click)="performAction()"
            [disabled]="selectedAction === 'extendTenure' && !tenureExtensionDate">
            Extend Tenure
          </button>

          <button *ngIf="selectedAction === 'offboard'" class="btn btn-primary btn-update" (click)="performAction()"
            [disabled]="selectedAction === 'offboard' && !offboardingReason">
            Offboard Tenant
          </button>

          
        </div>

        </div>
      </div>
    </app-split-overlay>
  </div> -->
  <div class="card flex justify-content-center gap-2">
    <p-toast></p-toast>
    <!-- <button type="button" pButton pRipple (click)="show()" label="Show" class="p-button-success"></button> -->
  </div>
  <!-- <p-toast *ngIf="true"></p-toast> -->
  <!-- <div id="subscrip-edit">
    <div class="row slider_heading">
      <h4>Edit</h4>
      <span class="cros">
        <span (click)="slideLeft()"><img class="" src="assets/images/crossclose.svg" alt="crossclose"></span>
      </span>
    </div>
    <div class="content">
      <div class="form_content">
        <form class="" [formGroup]="subscriptionForm">
          <div class="col-md-12 m-0 p-0">
            <div class="form-group col-md-12 p-0">
              <label class="label-control"> Subscription Plan<span class="star">*</span>
              </label>
              <select name="" id="" class="form-control data" formControlName="subscriptionplan"
                (change)="onChange($event.target.value)">
                <option value="default" [selected]="true" hidden disabled>Select Plan</option>
                <option value="standard">Standard</option>
                <option value="professional">Professional</option>
                <option value="enterprise">Enterprise</option>
                <option value="custom">Custom</option>
              </select>
              <span
                *ngIf="subscriptionForm.get('subscriptionplan').invalid && subscriptionForm.get('subscriptionplan').touched"
                class="errspan required"> Subscription Plan Required* </span>
            </div>
            <div *ngIf="isCustom">
              <div class="form-group col-md-12 p-0">
                <label class="label-control"> Interval <span class="star">*</span>
                </label>
                <select name="" id="" class="form-control data" formControlName="interval">
                  <option value="default" [selected]="true" hidden disabled> Select Interval</option>
                  <option value="week">Week</option>
                  <option value="month">Month</option>
                  <option value="year">Year</option>
                </select>
                <span *ngIf="subscriptionForm.get('interval').invalid && subscriptionForm.get('interval').touched"
                  class="errspan required"> Interval is Required* </span>
              </div>
              <div class="form-group col-md-12 p-0 checkboxes">
                <label class="label-control">Plan Features</label>
                <div class="row">
                  <div class="col-md-6 pr-0 form-group">
                    <input type="checkbox" formControlName="artificial_intelligence">
                    <label class="label-control">
                      <span class="checkboxlabel">Artificial Intelligence</span>
                    </label>
                  </div>
                  <div class="col-md-6 pr-0 form-group">
                    <input type="checkbox" formControlName="business_process_studio">
                    <label class="label-control">
                      <span class="checkboxlabel">Business Process Studio</span>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-0 form-group">
                    <input type="checkbox" formControlName="process_intelligence">
                    <label class="label-control">
                      <span class="checkboxlabel">Process Intelligence</span>
                    </label>
                  </div>
                  <div class="col-md-6 pr-0">
                    <input type="checkbox" formControlName="live_support">
                    <label class="label-control">
                      <span class="checkboxlabel">Live Support</span>
                    </label>
                  </div>
                </div>  
                  <div class="col-md-12 pl-0">
                    <input type="checkbox" formControlName="service_orchestration">
                    <label class="label-control">
                      <span class="checkboxlabel">Service Orchestration</span>
                    </label>
                  </div>
              </div>
              <div class="row col-md-12 m-0 p-0">
                <div class="form-group col-md-6 pl-0">
                  <label class="label-control"> Custom Plan Name<span class="star">*</span></label>
                  <input class="form-control data" placeholder="Enter Custom Plan Name" type="text" value=""
                    formControlName="customPlanName">
                  <span
                    *ngIf="subscriptionForm.get('customPlanName').invalid && subscriptionForm.get('customPlanName').touched && !subscriptionForm.get('customPlanName').hasError('maxlength') && !subscriptionForm.get('customPlanName').hasError('pattern')"
                    class="errspan required"> Custom Plan Name Required* </span>
                  <span
                    *ngIf="subscriptionForm.get('customPlanName').hasError('pattern') && !subscriptionForm.get('customPlanName').hasError('maxlength') && subscriptionForm.get('customPlanName').touched"
                    class="errspan required">Only Alphabets and spaces between words are allowed.</span>
                </div>
                <div class="form-group col-md-6 pl-0">
                  <label class="label-control">Custom Amount<span class="star">*</span></label>
                  <input class="form-control data" placeholder="Enter Custom Amount" type="text" value=""
                    formControlName="customamount">
                  <span
                    *ngIf="subscriptionForm.get('customamount').invalid && subscriptionForm.get('customamount').touched && !subscriptionForm.get('customamount').hasError('maxlength') && !subscriptionForm.get('customamount').hasError('pattern')"
                    class="errspan required"> Custom Amount Required* </span>
                  <span
                    *ngIf="subscriptionForm.get('customamount').hasError('pattern') && !subscriptionForm.get('customamount').hasError('maxlength') && subscriptionForm.get('customamount').touched"
                    class="errspan required">Amount should contain only numbers.</span>
                  <span *ngIf="subscriptionForm.get('customamount').hasError('maxlength')"
                    class="errspan required">Maximum of 6 characters</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row form_footer_content">
        <button class="btn btn-cancel" (click)="closeOverlay()">Cancel</button>
        <button class="btn btn-primary btn-update" (click)="updateCustom()" [disabled]="subscriptionForm.invalid">
          Update
        </button>
      </div>
    </div>
  </div> -->

  <ngx-spinner bdColor="#bebcbc66" type="">
    <img  src='assets/images/EZFlow_Loader.gif' class="ezflow-loader" alt="EZFlow_Loader"/>
  </ngx-spinner>